.product-overview {


    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;


    max-width: $page-width;
    padding: 0 6rem;
    @media only screen and (max-width: $bp-small) {
        padding: 0 3rem;
    }

    &__content {
        width: 100%;
        overflow: hidden;
        max-height:50rem;
        display: flex;

        &.expand{
            max-height: 5000px !important;
            transition:max-height 0.35s ease-in-out;
        }


        @media only screen and (max-width: $bp-medium) {
            flex-direction: column;
            
        }

        &__side-detail {
      
            width: 40%;

            display: flex;
            flex-direction: column;
            
            @media only screen and (max-width: $bp-medium) {
                width: 100%;
            }
  

            &__image-area {
                position: relative;
                z-index: 0;
                width: 100%;
                margin-bottom: 3rem;
                display: flex;
                justify-content: center;

                & img {
                    height: auto;
                    width: 100%;
                    max-width: 60rem;
                    object-fit: contain;
                    position: relative;
                    z-index: 0;
                    //box-shadow: $shadow-medium-short;

                }
        
            }

            &__highlights {
                //list svg  
                
            }
        }

        &__text {
           width: 60%;
            margin-left: 4rem;

            @media only screen and (max-width: $bp-medium) {
                width: 100%;
                margin-left: 0rem;
                margin-bottom: 3rem;
                order: -1;
            }
     
        }
    }
 
    &__fade {
        grid-column: 1 / -1;
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        padding-top: 3rem;

        &::after {
            content: "";
            height: 8rem;
            width: 100%;
            position: absolute;
            top: calc(-100% + 1.5rem);
            left: 0;
            //background-image: linear-gradient(to bottom, transparent, $color-white);
            background: linear-gradient(to bottom, rgba(255,255,255,0), $color-white);
        }

        &.expand {

            &::after {
                display: none;
            }
        }


    }
}
