.product-cabins {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: $page-width; //defines max width

    padding: 0 6rem;
    margin-bottom: 6rem;
    @media only screen and (max-width: $bp-small) {
        padding: 0 3rem;
    }

    @media only screen and (max-width: $bp-medium) {
        border-bottom: 1px solid $color-grey-light-1a;
    }

    &__cabin {
        width: 100%;
        display: flex;
        position: relative;
        margin: 4rem 0;
        

        @media only screen and (max-width: $bp-small) {
            margin: 3rem 0;
        }

        align-items: center;

        &:nth-child(even) {
            .product-cabins__cabin__image-area {
                order: 2;
                margin-left: 4rem;
                margin-right: 0rem;
            }
        }

        @media only screen and (max-width: $bp-medium) {
            flex-direction: column;

            &:nth-child(even) {
                .product-cabins__cabin__image-area {
                    order: -1;
                    margin-left: 0rem;
                    margin-right: 0rem;
                }
            }
        }

        &__image-area {
            width: 50%;
            margin-right: 4rem;
            margin-left: 0rem;

            .flickity-button {
                background: transparent;
            }
            .flickity-button-icon {
                fill: white;
            }
            .flickity-prev-next-button {
                width: 2.5rem;
                height: 2.5rem;
              }

            @media only screen and (max-width: $bp-medium) {
                width: 100%;
                margin-left: 0rem;
                margin-right: 0rem;
                margin-bottom: 3rem;
            }

            img {
                object-fit: contain;
                width: 100%;
                height: auto;
            }
        }

        &__content {
            width: 50%;
            height: min-content;

            @media only screen and (max-width: $bp-medium) {
                width: 100%;
            }
            &__title {
                position: relative;
                z-index: 1;
                font-size: 1.4rem;

                &.center-title {
                    @media only screen and (max-width: $bp-medium) {
                        text-align: center;
                    }
                }

                //display: flex;
                //flex-direction: column;

                &__cabin-count {
                    font-size: 1.1rem;
                    color: $color-primary;
                    letter-spacing: .2rem;
                    text-transform: uppercase;
                    font-weight: 600;

                }

                & h4 {
                    position: relative;
                    margin-bottom: 1.5rem;
                    letter-spacing: 0.2rem;
                    font-weight: 600;
                    font-size: 2.5rem;
                    text-transform: capitalize;

                    @media only screen and (max-width: $bp-small) {
                        font-size: 2rem;
                    }

                    color: $color-primary;
                    display: inline-block;
                    &::after {
                        content: "";
                        height: 2px;
                        width: 50%;
                        display: block;
                        background-color: $color-grey-light-2;
                        margin: 1.2rem 0;
                        margin-top: 0.7rem;
                        z-index: 9;

                        // @media only screen and (max-width: $bp-medium) {
                        //     width: 100%;
                        // }
                    }
                }

                span {
                    position: absolute;

                    right: 0rem;
                    top: 0rem;
                    font-family: $font-secondary;
                    color: rgba($color-primary, $alpha: 0.1);
                    font-size: 3.5rem;
                    z-index: -1;
                }
            }

            &__snippet {
                font-size: 1.6rem;

                // @media only screen and (max-width: $bp-medium) {
                //     text-align: center;
                // }
            }

            &__attributes {
                display: flex;
                margin: 2rem 0;
                margin-bottom: 3rem;
                font-size: 1.4rem;
                letter-spacing: 0.1rem;

                @media only screen and (max-width: $bp-medium) {
                    //justify-content: center;
                    margin-bottom: 1rem;
                }

                & a {
                    &:link {
                        line-height: 1.3rem !important;
                    }
                }

                &__item {
                    position: relative;

                    display: flex;
                    text-align: center;
                    align-items: center;
                    flex-direction: column;

                    &:not(:last-child) {
                        margin-right: 4rem;
                        padding-right: 4rem;
                        border-right: 1px solid $color-grey-light-1a;
                    }

                    &__title {
                        color: $color-grey-2;
                        margin-bottom: 0.4rem;
                    }

                    &__data {
                        color: $color-primary;
                        display: flex;
                        align-items: center;
                        height: 100%;
                        text-align: start;

                        &__icon {
                            margin-right: 1.5rem;
                            display: flex;
                            align-items: center;
                            & svg {
                                stroke: $color-primary;
                                stroke-width: 4;
                                height: 3rem;
                                width: 3rem;
                                color: $color-primary;
                                fill: $color-primary;
                            }
                        }

                        &__text {
                            font-size: 1.6rem;
                            line-height: 2.5rem;
                            font-weight: 700;
                            text-transform: uppercase;
                            width: max-content;

                            & .sub-attribute {
                                font-size: 1.1rem;
                                line-height: 1.6rem;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }

            &__feature-grid {
                display: grid;
                //grid-template-rows: min-content min-content;
                grid-template-columns: repeat(3, 1fr);

                position: relative;
                margin-bottom: 2rem;

                @media only screen and (max-width: $bp-small) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-left: 0rem;
                    margin-right: 2rem;
                }
            }

            &__feature-item {
                display: flex;
                flex-direction: column;
                span {
                    display: block;
                    font-size: 1.6rem;
                    //font-weight: 600;
                    color: $color-primary;
                }

                &__title {
                    font-size: 1.4rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 0.2rem;
                    color: $color-grey-2;
                }
            }

            &__description {
                margin-bottom: 1rem;
            }

            &__listing {
                margin: 2.5rem 0;
                & span {
                    margin-right: 0.5rem;
                    font-weight: 600;
                }

                font-size: 1.4rem;
                color: $color-primary;
            }

            &__cta {
                margin-top: 0rem;
                display: flex;

                & button {
                    margin: 0rem;
                }

                @media only screen and (max-width: $bp-medium) {
                    margin-top: 2rem;
                    justify-content: center;
                }
            }
        }
    }

    //Note
    &__note {
        grid-column: center-start / center-end;
    }

    &__page-divider {
        @media only screen and (max-width: $bp-medium) {
            font-size: 2.5rem;
        }
    }
}

.product-technical {
    width: 100%;
    display: flex;
    position: relative;
    padding: 4rem 0;
    padding-top: 8rem;
    justify-content: center;
    background-color: $color-primary-dark;
    align-items: center;
    flex-direction: column;

    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to top, rgba($color-white, 0.8), rgba($color-white, 0.8)),
            url(img/bg/topo-1.png);

        filter: invert(100%);
        opacity: 0.35;
        top: 0;
        left: 0;
        z-index: 2;
    }

    &__content {
        width: 100%;
        max-width: $page-width;
        display: flex;
        //justify-content: space-between;
        margin: 6rem 0;
        z-index: 10;
        align-items: flex-start;

        //side padding
        padding: 0 6rem;
        @media only screen and (max-width: $bp-medium) {
            flex-direction: column;
            align-items: center;
            padding: 0 3rem;
        }

        @media only screen and (max-width: $bp-small) {
            margin: 3rem 0;
        }

        &__image-area {
            position: relative;
            flex-grow: 1;
            max-width: 50rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 10rem;

            &.half-width {
                width: 100%;
            }

            @media only screen and (max-width: $bp-large) {
                margin-right: 4rem;
            }

            @media only screen and (max-width: $bp-medium) {
                width: 100%;
                margin-bottom: 4rem;
                max-width: 100%;
                margin-right: 0rem;
            }

            &__title {
                font-size: 1.4rem;
                text-transform: uppercase;
                letter-spacing: 0.2rem;
                color: $color-grey-light-1a;
                margin-bottom: 1.5rem;
                font-weight: 400;

                @media only screen and (max-width: $bp-medium) {
                    text-align: center;
                }
            }

            & a {
                width: 100%;
                //height: 100%;
                display: flex;
                justify-content: start;
            }
            & img {
                object-fit: contain;
                width: 100%;
                height: 100%;
                max-height: 35rem;
                //border: 1px solid $color-grey-1;
            }
            & svg {
                position: absolute;
                bottom: 2rem;
                left: 2rem;
                fill: $color-primary;
                height: 2rem;
                width: 2rem;
                opacity: 0;
                transition: all 0.3s;
            }
            &:hover {
                & svg {
                    opacity: 1;
                }
            }
        }

        &__columns {
            flex-grow: 1;
            display: flex;
            align-items: flex-start;
            width: 90%;
            position: relative;
            @media only screen and (max-width: $bp-small) {
                flex-direction: column;
            }

            &__info {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;

                &:not(:last-child) {
                    margin-right: 6rem;
                    @media only screen and (max-width: $bp-medium) {
                        margin-right: 0rem;
                    }
                }

                @media only screen and (max-width: $bp-medium) {
                    width: 100%;
                    margin-left: 0rem;
                    margin-right: 0rem;
                    margin-bottom: 3rem;
                }

                &__title {
                    font-size: 1.4rem;
                    text-transform: uppercase;
                    letter-spacing: 0.2rem;
                    color: $color-grey-light-1a;
                    margin-bottom: 1.2rem;
                    font-weight: 400;
                    @media only screen and (max-width: $bp-small) {
                        text-align: center;
                    }
                }

                &__list {
                    list-style: none;

                    &__item {
                        font-size: 1.6rem;
                        display: flex;
                        width: 100%;
                        justify-content: flex-start;
                        color: $color-grey-light-1a;

                        @media only screen and (max-width: $bp-medium) {
                            justify-content: center;
                        }

                        & svg {
                            height: 2rem;
                            width: 2rem;
                            fill: $color-green;
                            margin-right: 2rem;

                            &.no-feature {
                                fill: $color-red;
                            }
                        }

                        & span {
                            width: 100%;
                        }
                    }
                }
            }

            &__fineprint {
                position: absolute;
                bottom: -4rem;
                left: 0;
                color: rgba($color-white, 0.8);
                font-size: 1.3rem;
            }
        }
    }
}

.product-hotels {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__slider {
        width: 100%;
        max-width: 140rem;
        z-index: 10;


        //side padding
        padding: 0 9rem; //extra +3 for buttons
        @media only screen and (max-width: $bp-small) {
            padding: 0rem;
        }

        //max 6?
        .slick-dots {
            max-width: 35rem;
            left: 50%;
            transform: translateX(-50%);
        }

        .slick-slide {
            margin: 1.5rem;
            //margin-bottom: 4rem;
            box-shadow: $shadow-short-bottom;
            min-width: 0;
        }

        &__btn {
            &--left {
                transform: translateY(-50%);

                position: absolute;
                z-index: 10;
                top: 50%;
                left: 1.5rem;
            }
            &--right {
                transform: translateY(-50%);

                position: absolute;
                z-index: 10;
                top: 50%;
                right: 1.5rem;
            }
        }
    }
}
