.product-dates {
    display: grid;
    grid-template-columns: $page-container;
    position: relative;

 
    @media only screen and (max-width: $bp-small) {
        grid-template-columns: $page-container-small;
    }


    &__title {
        grid-column: center-start / center-end;
    }

    &__search-area {
        grid-column: center-start / center-end;

        display: grid;
        margin-bottom: 4rem;
        @media only screen and (max-width: $bp-medium) {
            margin-bottom: 0rem;
        }

        &__controls {
            margin-top: 2rem;
            margin-bottom: 4rem;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            &__control {
                display: flex;
                align-items: center;
                padding: 1rem 2rem;

                &__label-text {
                    font-size: 1.5rem;
                    padding-top: 0.2rem;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: $color-primary;
                    margin-right: 0.5rem;
                    @media only screen and (max-width: $bp-largest) {
                        font-size: 1.8rem;
                    }
                }

                & .select2-selection--single {
                    border: none !important;
                }
                & select {
                    visibility: hidden !important;
                }
            }
        }
        &__results {

            &__loading {
                display: flex;
                justify-content: center;
                margin-bottom: 20rem;
                margin-top: 4rem;
            }
            &__itinerary-group {
                &__itinerary {
                    display: grid;
                    grid-template-columns: minmax(min-content, 1fr) 2fr max-content; //adjust
                    position: relative;
                    padding: 4.5rem 3rem;
                    margin-bottom: 5rem;
                    box-sizing: border-box;
                    border-radius: 0.4rem;
                    box-shadow: $inner-border-dark;
                    align-items: center;

                    @media only screen and (max-width: $bp-medium) {
                        grid-template-columns: 1fr;
                        justify-items: center;
                        row-gap: 2rem;
                    }
                    @media only screen and (max-width: $bp-small) {
                        padding: 2rem;
                    }

                    &__title-group {
                        font-family: $font-secondary;
                        display: flex;

                        &__icon {
                            grid-column: 1 / span 1;

                            justify-self: center;
                            align-self: center;
                            margin-right: 1.5rem;
                            & svg {
                                height: 5rem;
                                width: 5rem;
                                color: $color-primary !important;
                                fill: $color-primary;
                                stroke-width: 2.5;
                            }
                        }
                        &__text {
                            grid-column: 2 / span 1;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-self: center;
                            align-content: center;
                            flex-wrap: wrap;

                            &__title {
                                font-size: 3.2rem;
                                color: $color-primary;
                                line-height: 3rem;
                                font-weight: 600;
                                letter-spacing: 0.1rem;
                            }
                            &__subtitle {
                                font-size: 1.4rem;
                                color: $color-grey-1;
                                text-transform: uppercase;
                                letter-spacing: 0.2rem;
                                font-weight: 600;
                            }
                        }
                    }

                    &__description {
                        font-size: 1.6rem;
                        padding: 0 3rem;
                        @media only screen and (max-width: $bp-medium) {
                            padding: 0;
                        }
                    }

                    &__cta {
                    }
                }
                &__departures {
                    &__departure {
                        display: grid;

                        position: relative;
                        width: 100%;
                        height: auto;
                        box-sizing: border-box;
                        border-radius: 0.4rem;
                        box-shadow: $inner-border-light;
                        margin-bottom: 3rem;
                        transition: all 0.3s;
                        padding: 3rem 3rem;

                        @media only screen and (max-width: $bp-medium) {
                            margin-bottom: 5rem;
                        }
                        @media only screen and (max-width: $bp-xsmall) {
                            padding: 2rem 2rem;
                        }

                        &--active {
                            box-shadow: $inner-border-dark;

                            & .product-dates__search-area__results__itinerary-group__departures__departure__bottom {
                                opacity: 1;
                            }

                            & .departure-expand {
                                transition: all 0.3s;
                                transform: rotate(180deg);

                                &::after {
                                    border: 2px solid $color-primary;
                                }
                            }
                        }

                        &__top {
                            display: grid;
                            grid-template-columns: repeat(3, max-content) 1fr 10rem;
                            align-items: center;
                            column-gap: 5rem;
                            position: relative;

                            @media only screen and (max-width: $bp-medium) {
                                grid-template-columns: 1fr;
                                row-gap: 2rem;
                            }

                            &__date {
                                font-size: 1.5rem;
                                font-weight: 700;
                                text-transform: uppercase;
                                letter-spacing: 0.2rem;
                                color: $color-primary;
                                display: inline-block;
                                background-color: $color-white;
                                position: absolute;
                                top: -3.9rem;
                                left: 3rem;
                                padding: 0 1rem;

                                @media only screen and (max-width: $bp-medium) {
                                    font-size: 1.7rem;
                                    top: -4.2rem;
                                }
                                @media only screen and (max-width: $bp-xsmall) {
                                    top: -3.2rem;

                                    padding: 0rem;
                                }
                            }

                            &__icon {
                                align-items: center;

                                @media only screen and (max-width: $bp-medium) {
                                    display: none;
                                }

                                & svg {
                                    height: 5rem;
                                    width: 5rem;
                                    fill: $color-primary;
                                    color: $color-primary !important;
                                    stroke-width: 1.5;
                                }
                            }

                            &__col {
                                font-size: 3rem;
                                color: $color-primary;
                                font-weight: 500;
                                line-height: 3rem;

                                &__heading {
                                    font-size: 1.4rem;
                                    color: $color-grey-1;
                                    text-transform: uppercase;
                                    letter-spacing: 0.2rem;
                                    font-weight: 600;
                                    display: block;
                                }

                                &--promo {
                                    text-align: right;
                                    padding-right: 4rem;
                                    @media only screen and (max-width: $bp-medium) {
                                        text-align: left;
                                    }
                                }

                                &--expand {
                                    text-align: right;
                                    @media only screen and (max-width: $bp-medium) {
                                        position: absolute;
                                        top: 5rem;
                                        right: 3rem;
                                        transform: scale(2);
                                    }
                                    @media only screen and (max-width: $bp-xsmall) {
                                        top: 2rem;
                                    }
                                }
                            }
                        }

                        &__bottom {
                            margin-top: 3rem;
                            border-top: 1px solid $color-grey-light-1a;
                            display: none;
                            transition: opacity 0.4s;
                            opacity: 0;

                            &__info {
                                display: grid;
                                grid-template-columns: 2fr 1fr;
                                margin: 2rem 0;
                                align-items: center;
                                row-gap: 2rem;

                                @media only screen and (max-width: $bp-medium) {
                                    grid-template-columns: 1fr;
                                }

                                &__description {
                                    &__title {
                                        font-size: 4rem;
                                        line-height: 5rem;
                                        margin-bottom: 1.5rem;

                                        font-weight: 500;
                                        color: $color-primary;
                                        @media only screen and (max-width: $bp-medium) {
                                            font-size: 3.5rem;
                                            line-height: 4rem;
                                        }
                                    }

                                    &__text {
                                        font-size: 1.6rem;
                                    }
                                }
                                &__cta {
                                    justify-self: end;
                                    @media only screen and (max-width: $bp-medium) {
                                        justify-self: center;
                                    }
                                }
                            }
                            &__cabins {
                                display: grid;
                                grid-template-columns: 10rem 1fr;
                                margin-top: 3rem;
                                border-top: 1px solid $color-grey-light-1a;
                                padding-top: 3rem;

                                @media only screen and (max-width: $bp-medium) {
                                    grid-template-columns: 1fr;
                                }

                                &__icon {
                                    & svg {
                                        height: 4rem;
                                        width: 4rem;
                                        fill: $color-primary;
                                        color: $color-primary !important;
                                        stroke-width: 3;
                                        
                                        @media only screen and (max-width: $bp-medium) {
                                            display: none;
                                        }
                                    }
                                }
                                &__cabin-group {
                                    display: grid;
                                    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

                                    column-gap: 3rem;
                                    row-gap: 2rem;
                                    &__cabin {
                                        font-size: 1.8rem;
                                        font-weight: 500;
                                        &__heading {
                                            color: $color-primary;
                                            font-size: 1.4rem;
                                            font-weight: 600;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
