// mobile minimal info card
.tiny-card {
    position: relative;
    display: grid !important;
    grid-template-columns: 1fr min-content;
    gap: 3rem;
    align-items: center;

    border: 1px solid $color-grey-light-1a;
    border-radius: 1rem;

    padding: 1.5rem 2rem;
    position: relative;
    background-color: $color-white;
    text-decoration: none !important;

    @media only screen and (max-width: $bp-small) {
        gap: 1rem;
    }

    &__section {
    }
}