//X Close
.close-button {
  position: relative;
  width: 3rem;
  height: 3rem;
  color: $color-primary;
  border: 2px solid currentColor;
  background-color: $color-white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
  &::before {
    position: absolute;
    top: 1.2rem;
    left: 0.6rem;
    width: 13px;
    height: 2px;
    content: "";
    background-color: currentColor;

    @media only screen and (max-width: $bp-largest) {
      top: 1.1rem;
      left: 0.5rem;
    }

    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  &::after {
    position: absolute;
    top: 1.2rem;
    left: 0.6rem;
    width: 13px;
    height: 2px;
    content: "";
    background-color: currentColor;

    @media only screen and (max-width: $bp-largest) {
      top: 1.1rem;
      left: 0.5rem;
    }

    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &:hover {
    color: $color-supporting;
  }
}

//Book Now
.btn-cta-round {
  background-color: $color-primary;
  font-family: $font-primary;
  color: $color-white;
  border: none;
  border-radius: 4rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  padding: 1.5rem 3rem;
  cursor: pointer;
  transition: all 0.2s;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  &:hover {
    background-color: $color-supporting;
  }

  &--white {
    background-color: $color-white;

    color: $color-primary;
    &:hover {
      background-color: $color-grey-light-1a;
    }
  }

  &--green {
    background-color: $color-green;

    color: $color-white;
    &:hover {
      background-color: rgba($color-green, .8);
    }
  }

  &--xsmall {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    letter-spacing: 0.2rem;
  }

  &--small {
    font-size: 1.2rem;
    padding: 0.75rem 1.5rem;
    letter-spacing: 0.2rem;
  }

  &--medium {
    font-size: 1.3rem;
    padding: 1.4rem 2.4rem;
    letter-spacing: 0.2rem;
  }
}

//email subscribe
.btn-rect {
  background-color: $color-supporting;
  color: $color-grey-light-2;
  padding: 1rem 3rem;
  border-radius: 4px;
  border: none;

  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: $color-supporting-light;
  }
}

.slick-disabled {
  opacity: 0;
  pointer-events: none;
}

// Primary Button
.btn-outline {
  color: $color-primary;
  background-color: transparent;
  padding: 1.5rem 3rem;
  border: none;
  margin: 1rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
  outline: none;
  font-size: 1.5rem;
  font-family: $font-primary;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  text-decoration: none;
  white-space: nowrap;

  &::after {
    content: "";
    transition: all 0.15s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 100%;
    width: 100%;
    border-radius: 2.5rem;
    border: 2px solid $color-grey-light-2;
  }

  &:hover::after {
    height: 95%;
    width: 95%;
  }

  &--small {
    padding: 1rem 2rem;
    font-size: 1.3rem;
  }

  &--dark {
    &::after {
      border: 2px solid $color-primary;
    }
  }

  &--blue {
    color: $color-supporting-light;
    &::after {
      border: 2px solid $color-supporting-light;
    }
  }

  &--green {
    color: $color-green;
    &::after {
      border: 2px solid $color-green;
    }
  }

  &--disabled {
    cursor: default;
    color: $color-grey-2;
    &::after {
      border: 2px solid $color-grey-2;
    }

    &:hover::after {
      height: 100%;
      width: 100%;
    }
  }
}

//Icon Outline Button
.btn-icon {
  width: 5rem;
  height: 5rem;
  background-color: transparent;
  border: none;
  margin: 1rem;
  cursor: pointer;
  position: relative;
  z-index: 0;
  outline: none;

  color: $color-primary;

  svg {
    height: 40%;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    fill: currentColor;
  }

  //border -----------
  &::after {
    content: "";
    transition: all 0.15s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transform-origin: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1px solid $color-primary;
  }

  &:hover::after {
    height: 90%;
    width: 90%;
  }
}

// Primary Circle Button with SVG in center
.btn-icon-move {
  width: 4.5rem;
  height: 4.5rem;
  background-color: transparent;
  border: none;
  margin: 1rem;
  cursor: pointer;
  position: relative;
  z-index: 0;
  outline: none;

  color: $color-grey-2;

  svg {
    height: 70%;
    width: 70%;
    stroke-width: 1;
    stroke: currentColor;
  }

  &--arrow-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    fill: currentColor;
    z-index: 1;

    opacity: 1;

    transition: all 0.2s;
  }

  &--arrow-animate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-120%) translateY(-50%);
    fill: currentColor;
    z-index: 2;
    opacity: 0;

    transition: all 0.4s;
  }

  //arrow movement (default right)
  &:hover {
    .btn-icon-move--arrow-main {
      opacity: 0;
    }
    .btn-icon-move--arrow-animate {
      opacity: 1;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &--left .btn-icon-move--arrow-animate {
    transform: translateX(50%) translateY(-50%);
  }

  &--down .btn-icon-move--arrow-animate {
    transform: translateX(-50%) translateY(-150%);
  }

  &--up .btn-icon-move--arrow-animate {
    transform: translateX(-50%) translateY(50%);
  }
}

// Primary Circle Button with SVG in center
.btn-circle {
  width: 4.5rem;
  height: 4.5rem;
  background-color: transparent;
  border: none;
  margin: 1rem;
  cursor: pointer;
  position: relative;
  z-index: 0;
  outline: none;

  font-family: $font-primary;
  font-size: 1.3rem;
  font-weight: 700;

  color: $color-primary;

  svg {
    height: 40%;
    width: 40%;
    stroke-width: 2;
    stroke: currentColor;
  }

  &--large {
    width: 8rem;
    height: 8rem;

    svg {
      stroke-width: 1;
    }
  }

  &--small {
    width: 3.5rem;
    height: 3.5rem;
  }

  &--xsmall {
    width: 2rem;
    height: 2rem;
  }

  &--arrow-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    fill: currentColor;
    z-index: 1;

    opacity: 1;

    transition: all 0.2s;
  }

  &--arrow-animate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-120%) translateY(-50%);
    fill: currentColor;
    z-index: 2;
    opacity: 0;

    transition: all 0.4s;
  }

  //arrow movement (default right)
  &:hover {
    .btn-circle--arrow-main {
      opacity: 0;
    }
    .btn-circle--arrow-animate {
      opacity: 1;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &--left .btn-circle--arrow-animate {
    transform: translateX(50%) translateY(-50%);
  }

  &--down .btn-circle--arrow-animate {
    transform: translateX(-50%) translateY(-150%);
  }

  &--up .btn-circle--arrow-animate {
    transform: translateX(-50%) translateY(50%);
  }

  //border -----------
  &::after {
    content: "";
    transition: all 0.15s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transform-origin: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 2px solid $color-primary;
  }

  &:hover::after {
    height: 85%;
    width: 85%;
  }

  &--solid {
    &::after {
      background-color: rgba($color-white, 0.95);
    }
  }

  &--white {
    color: rgba($color-white, 0.95);
    &::after {
      border: 2px solid rgba($color-white, 0.95);
    }
  }

  &--smallborder {
    &::after {
      border: 1px solid $color-primary;
    }
  }
  &--noborder {
    &::after {
      border: none;
    }
  }

  &--disabled {
    cursor: default;
    color: $color-grey-2;
    &::after {
      border: 2px solid $color-grey-2;
    }

    &:hover::after {
      height: 100%;
      width: 100%;
    }
  }

  &--current {
    cursor: default;
    color: $color-white;
    //background-color: $color-primary;
    &::after {
      border: none;
      background-color: $color-primary;
      z-index: -1;
    }

    &:hover::after {
      height: 100%;
      width: 100%;
    }
  }
}

// Chevron Expand Button
.btn-expand {
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: none;
  margin: 1rem;
  cursor: pointer;
  position: relative;
  z-index: 0;
  outline: none;

  color: $color-primary;

  svg {
    height: 40%;
    width: 40%;
    stroke-width: 2;
    stroke: currentColor;
  }

  &--arrow-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    fill: currentColor;
    z-index: 1;
    opacity: 1;

    transition: all 0.2s;
  }

  &--arrow-animate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-120%) translateY(-50%);
    fill: currentColor;
    z-index: 2;
    opacity: 0;

    transition: all 0.4s;
  }

  //arrow movement (default right)
  &:hover {
    .btn-expand--arrow-main {
      opacity: 0;
    }
    .btn-expand--arrow-animate {
      opacity: 1;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &--left .btn-expand--arrow-animate {
    transform: translateX(50%) translateY(-50%);
  }

  &--down .btn-expand--arrow-animate {
    transform: translateX(-50%) translateY(-150%);
  }

  &--up .btn-expand--arrow-animate {
    transform: translateX(-50%) translateY(50%);
  }

  //border -----------
  &::after {
    content: "";
    transition: all 0.15s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transform-origin: center;
    height: 95%;
    width: 95%;
    border-radius: 50%;

    border: 1px solid $color-grey-light-1a;
    background-color: rgba($color-white, 0.95);
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transform-origin: center;
    height: 150%;
    width: 150%;
    border-radius: 50%;

    background-color: $color-white;
  }

  &:hover::after {
    height: 85%;
    width: 85%;
  }
}

// Outline Modifiers
.btn-square {
  &::after {
    border-radius: 0%;
  }
}

.btn-dark {
  color: $color-primary;
  &::after {
    border-color: $color-primary;
  }
}

.btn-grey {
  color: $color-grey-2 !important;
  &::after {
    border-color: $color-grey-2 !important;
  }
}

.btn-white {
  color: rgba($color-white, 0.8) !important;
  &::after {
    border-color: rgba($color-white, 0.8) !important;
  }
}

.btn-underline {
  color: $color-primary;
  text-decoration: none;
  position: relative;

  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.32rem;
  letter-spacing: 0.1rem;

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 0%;
    bottom: -0.5rem;
    left: 0;
    background-color: currentColor;
    transition: all 0.3s;
  }

  &:hover {
    color: $color-supporting-light;
    &::after {
      width: 100%;
    }
  }
}

//Text with arrow to Right
//view dates
.text-button {
  font-size: 1.2rem;
  font-family: $font-primary;
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: $color-supporting;
  cursor: pointer;

  display: flex;
  align-content: center;

  &:hover {
    color: $color-supporting-light-2;
  }
  & svg {
    margin-left: 0.1rem;
    height: 1.2rem;
    width: 1.2rem;
    fill: currentColor;
  }

  &--large {
    font-size: 1.4rem;
    & svg {
      margin-left: 0.2rem;
      height: 1.4rem;
      width: 1.4rem;
    }
  }
}

//Read More
.goto-button {
  font-size: 1.8rem;
  font-family: $font-primary;
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: currentColor;
  cursor: pointer;
  outline: none;

  display: flex;
  align-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 600;
  padding: 1.5rem 0;

  &:hover {
    & svg {
      transform: translateX(0.3rem) translateY(-0.2rem);
    }
  }
  & svg {
    margin-left: 0.5rem;
    transform: translateY(-0.2rem);
    height: 1.8rem;
    width: 1.8rem;
    fill: currentColor;
    transition: all 0.2s;
  }

  &--small {
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    & svg {
      height: 1.3rem;
      width: 1.3rem;
      stroke-width: 1;
      stroke: currentColor;
    }
  }

  &--dark {
    color: $color-primary;
    transition: color .3s;
    &:hover {
      color: $color-supporting-light;
    }
  }

  &--hero {
    color: currentColor;

    @media only screen and (max-width: $bp-large) {

      opacity: .85;
      padding: 1.5rem 2.5rem; 
      border: 2px solid $color-white;
      border-radius: 4rem;

      & svg {
        display: none;
      }
    }
  }
}

.btn-cta-square {
  color: $color-white;
  background-color: $color-primary;
  padding: 0 3rem;
  margin: 3rem 0;
  letter-spacing: 0.3rem;
  cursor: pointer;
  border: none;
  font-size: 1.3rem;
  font-family: $font-primary;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  height: 5rem;
  min-width: 20rem;
  max-width: max-content;
  & span {
    transform: translateY(0.1rem);
  }

  &:hover {
    color: $color-primary;
    background-color: $color-white;
    box-shadow: $inner-border-dark;

    & svg {
      transform: translateX(0.3rem) translateX(1rem);
    }
  }
  & svg {
    transform: translateX(1rem);
    height: 1.8rem;
    width: 1.8rem;
    fill: currentColor;
    transition: all 0.1s;
  }

  &--white {
    color: $color-primary;
    background-color: $color-white;
    box-shadow: $inner-border-dark;
    &:hover {
      color: $color-white;
      background-color: $color-primary;
    }
  }

  &--small {
    height: 4rem;
    box-shadow: inset 0px 0px 0px 1px $color-grey-light-2;
    min-width: 10rem;
  }
}
