.tab-content {
    display: none ;

}

.tab-content.current {
    display: grid ;
}

//new

.tabpanel {
    display: none ;
    opacity: 0;
   
}

.tabpanel.active {
    display: block ;
    opacity: 1;
    transition: opacity .2s;
}




 
 