h2 {
    font-size: 2.2rem;
    line-height: 2.6rem;
    font-weight: 700;
    color: $color-primary;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 700;
    color: $color-primary;
    margin-bottom: 1.5rem;
}

p {
    font-size: 1.6rem;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }

    & a {
        &:link,
        &:visited {
            color: $color-supporting;
            transition: all 0.2s;
            text-decoration: none;
            font-weight: 500;
        }

        &:hover {
            color: $color-supporting-light;
        }
    }


}

.title-group {
    &__title {
        font-size: 2.2rem;
        line-height: 2.6rem;
        font-weight: 700;
        color: $color-primary;
        margin-bottom: 0;
    }

    &__sub {
        font-size: 1.3rem;
        font-weight: 400;
        padding-bottom: 1rem;
        padding-top: 0.3rem;

        & p {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
}

.title-single {
    font-family: $font-primary;
    font-weight: 700;
    color: $color-primary;
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.highlight-list {
    list-style: none;
    font-size: 1.6rem;
    & li {
        display: grid;
        grid-template-columns: min-content 1fr;
        margin-bottom: 1.5rem;

        & svg {
            height: 1.2rem;
            width: 1.2rem;
            color: $color-primary;
            margin-right: 2rem;
            transform: translateY(7px);
        }
    }
}

.badge-fly {
    font-size: 1.1rem;
    border-radius: 1rem;
    letter-spacing: 0.1rem;
    padding: 0.2rem 0.8rem;
    white-space: nowrap;
    color: $color-supporting;
    font-weight: 700;
    border: 1px solid $color-supporting;
}

.green-text {
    color: $color-green !important;
}
.blue-text {
    color: $color-supporting-light !important;
}
