.u-small-text {
    font-size: 1.5rem !important;
    text-transform: uppercase;
    font-weight: 700 !important;
}

.u-center-text {
    text-align: center !important;
}

.u-right-text {
    text-align: right !important;
}

.u-margin-bottom-huge {
    margin-bottom: 10rem !important;
}

.u-margin-bottom-big {
    margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem !important;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}

.u-margin-bottom-none {
    margin-bottom: 0 !important;
}

.u-margin-top-none {
    margin-top: 0 !important;
}

.u-margin-top-small {
    margin-top: 2rem !important;
}

.u-margin-top-medium {
    margin-top: 4rem !important;
}

.u-margin-top-big {
    margin-top: 6rem !important;
}

.u-margin-top-bigger {
    margin-top: 10rem !important;
}

.u-margin-top-huge {
    margin-top: 10rem !important;
}

.u-bold-600 {
    font-weight: 600;
}

.fixed-position {
    position: fixed;
}

.lock-scroll {
    overflow: hidden;
    height: 100%;
}

.block-top-divider {
    position: relative;
    padding-top: 3rem !important;

    &::after {
        content: "";
        width: calc(100% - 12rem);
        @media only screen and (max-width: $bp-medium) {
            width: calc(100% - 6rem);
        }
        height: 1px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: $color-grey-light-1a;
    }
}


.block-bottom-divider {
    position: relative;
    padding-bottom: 5rem !important;

    &::before {
        content: "";
        width: calc(100% - 12rem);
        @media only screen and (max-width: $bp-medium) {
            width: calc(100% - 6rem);
        }
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: $color-grey-light-1a;    
    }
}