.footer {
    @include flexBlock;
    position: relative;
    background-color: $color-grey-light-1;
    border-top: 1px solid $color-grey-light-2;
    font-size: 1.4rem;
    margin-top: 6rem;
    @media only screen and (max-width: $bp-large) {
        padding-bottom: 16rem;
        margin-top: 4rem;
    }

    &.narrow {
        & .footer__content {
            max-width: $page-width;
        }
    }

    & a {
        text-decoration: none;
        transition: color 0.2s;
        &:link,
        &:visited {
            color: $color-primary;
        }

        &:hover {
            color: $color-supporting;
        }
    }

    &__content {
        @include flexPadding;
        max-width: $page-width-full;
        width: 100%;
        &__main {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 3rem;

            @media only screen and (max-width: $bp-large) {
                grid-template-columns: 1fr;
            }
        }

        &__bottom {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid $color-grey-light-2;
            padding: 2rem 0;

            @media only screen and (max-width: $bp-large) {
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                padding: 4rem 0;
            }

            &__legal {
                display: flex;
                &__item {
                    &:not(:last-child) {
                        margin-right: 2rem;
                    }              
                }
            }

            &__access {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                @media only screen and (max-width: $bp-large) {
                    flex-direction: column;
                    justify-content: center;     
                    margin-top: 2rem;           
                }

                &__social {
                    display: flex;
                    align-items: center;
                    margin-left: 4rem;
                    @media only screen and (max-width: $bp-large) {
                        margin-top: 2rem;   
                        margin-left: 0rem;           
                    }

                    &__link {
                        display: flex;
                        align-items: center;
                        &:not(:last-child){
                            margin-right: 2rem;
                        }
                    }
                    & svg {
                        height: 2rem;
                        width: 2rem;
                        transition: all .2s;
                        &:hover {
                            fill: $color-supporting;
                        }

                       

                       
                    }
                    
                }
            }
        }
    }
}

.footer-menu {
    padding: 5rem 0;
    color: $color-primary;

    &:not(:last-child){
        
        @media only screen and (max-width: $bp-large) {
            border-bottom: 1px solid $color-grey-light-2;
        }
    }


    &__header {
        font-weight: 700;
    }

    &__list {
        list-style: none;
        &__item {
            padding-top: 1.5rem;
        }
    }
}
