.header {
    z-index: 100;
    position: fixed;
    width: 100%;

    user-select: none;
    transition: all 0.3s;
    &.scrollUp {
        transform: translateY(-7rem);
    }

    &__main {
        z-index: 1;
        position: relative;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        height: 9rem;

        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-weight: 600;
        color: $color-grey-light-1;

        @media only screen and (max-width: $bp-large) {
            justify-content: space-between;
            height: 7rem;
        }

        border-bottom: 1px solid rgba($color-grey-light-2, 0.1);

        @media only screen and (max-width: $bp-small) {
            //border-bottom: 1px solid rgba($color-grey-light-2, 0.9);
        }

        background-color: rgba($color-white, 0.1);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);

        transition: all 0.3s;

        &--clear {
            border-bottom: 1px solid rgba($color-grey-light-2, 0);

            background-color: rgba($color-white, 0);
            -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
        }

        &.active {
            background-color: $color-nav; //make background opaque
            border-bottom: 1px solid rgba($color-grey-light-2, 0.9);

            & .header__main__logo-area__logo {
                & img {
                    filter: brightness(1) invert(0);
                }
            }

            & .header__main__nav {
                //change links to dark colors
                &__list {
                    &__item {
                        color: $color-primary;
                        &:hover {
                            color: $color-supporting-light;
                        }
                    }
                }
            }

            & .header__main__right {
                //currentColor doesnt work in this case -- must be specific
                color: $color-primary;

                &__search {
                    color: $color-primary;

                    & .nav-search-button {
                        color: $color-primary;

                        &::after {
                            border: 1px solid rgba($color-primary, 0.6);
                        }
                    }
                }

                &__contact-link {
                    &:link,
                    &:visited {
                        color: $color-primary;
                    }
                    &:hover {
                        color: $color-supporting-light;
                    }
                }

                &__language {
                    & .trp-language-switcher {
                        cursor: pointer;
                        color: $color-primary;

                        & > div {
                            & > a {
                                color: $color-primary;
                            }
                        }
                    }
                }
            }

            & .burger-button {
                &::after {
                    background-color: rgba($color-primary, 0.3);
                }

                &__bar {
                    background-color: $color-primary;
                }
            }
        }

        &.small-nav {
            //reduce height of nav from 9 to 7rem
            height: 7rem;
        }

        &__logo-area {
            width: min-content;
            z-index: 5;
            position: relative;
            display: flex;

            justify-content: flex-end;
            transform: translateY(2px); //small vertical adjustment

            @media only screen and (max-width: $bp-medium) {
                justify-self: center;
                grid-column: center-start / center-end;
            }

            &__logo {
                width: min-content;
                margin: 0 4rem;
                width: 17rem; //to prevent CLS

                @media only screen and (max-width: $bp-small) {
                    margin: 0 2rem;
                    margin-left: 2rem;
                }

                & img {
                    transition: all 0.4s;
                    filter: brightness(0) invert(1);
                    height: 4.5rem;
                    width: auto;

                    @media only screen and (max-width: $bp-small) {
                        height: 3.5rem;
                    }
                }
            }
        }

        //Level 1 nav
        &__nav {
            display: flex;
            width: 100%;
            max-width: 108rem;
            justify-content: flex-start;

            z-index: 1800;
            height: 100%;

            transition: all 0.3s;

            @media only screen and (max-width: $bp-large) {
                display: none;
            }

            &__list {
                display: flex;
                list-style: none;
                height: 100%;
                align-items: center;

                &__item {
                    &__link {
                        color: currentColor;
                        display: flex;
                        height: 100%;
                        align-items: center;
                        cursor: pointer;
                        transition: all 0.4s;

                        text-decoration: none;
                        margin-right: 4rem;
                    }

                    &__link:hover {
                        color: $color-supporting-light;
                    }
                }
            }
        }

        &__right {
            transition: all 0.3s;
            margin-right: 4rem;
            display: flex;
            height: 100%;
            align-items: center;
            color: $color-grey-light-1a;

            @media only screen and (max-width: $bp-large) {
                margin-right: 0rem;
            }

            & .divider-left {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0rem;
                    height: 3rem;
                    width: 1px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: rgba($color-grey-light-2, 0.5);
                }
            }

            &__search {
                color: $color-grey-light-1a;

                @media only screen and (max-width: $bp-large) {
                    display: none;
                }

                & .nav-search-button {
                    transition: color 0.3s;
                    color: $color-grey-light-1a;
                    background-color: transparent;
                    padding: 1.2rem 2.5rem;
                    border: none;
                    margin: 1rem;
                    letter-spacing: 0.2rem;
                    cursor: pointer;
                    outline: none;
                    font-family: $font-primary;

                    position: relative;
                    text-decoration: none;
                    white-space: nowrap;
                    line-height: 1.3rem;
                    &::after {
                        content: "";
                        transition: all 0.15s;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        height: 100%;
                        width: 100%;
                        border-radius: 2.5rem;
                        border: 1px solid rgba($color-grey-light-2, 0.6);
                    }

                    &:hover::after {
                        height: 95%;
                        width: 95%;
                    }
                }
            }

            &__contact-link {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 5rem;
                height: 3rem;
                text-decoration: none;
                cursor: pointer;
                transition: color 0.3s;
                &:link,
                &:visited {
                    color: $color-grey-light-1a;
                    & svg {
                        transform: translateY(-1px);
                        stroke-width: 4;
                        height: 2rem;
                        width: 2rem;
                        color: currentColor;
                    }
                }

                &:hover {
                    color: $color-supporting-light-2;
                }

                @media only screen and (max-width: $bp-large) {
                    display: none;
                }

                & span {
                    margin-left: 1rem;
                }
            }

            &__phone-desktop {
                display: flex;
                align-items: center;
                justify-content: center;

                color: currentColor;
                text-decoration: none;
                width: 5rem;
                height: 5rem;
                position: relative;
                cursor: pointer;

                @media only screen and (max-width: $bp-large) {
                    display: none;
                }
                & svg {
                    transform: translateY(-1px);
                    stroke-width: 5;
                    height: 1.6rem;
                    width: 1.6rem;
                    color: currentColor;

                    @media only screen and (max-width: $bp-small) {
                        stroke-width: 2;
                    }
                }

                &:hover {
                    .phone-popover {
                        visibility: visible;
                    }
                }

                & .phone-popover {
                    width: max-content;

                    visibility: hidden;
                    position: absolute;
                    top: 5rem;
                    left: 80%;
                    transform: translateX(-80%);
                    background-color: $color-white;
                    border: 1px solid $color-grey-light-1a;
                    border-radius: 0.4rem;

                    font-size: 1.4rem;
                    //box-shadow: $shadow-medium-bottom;
                    color: $color-primary;
                    text-transform: none;
                    letter-spacing: 0;

                    &__container {
                        position: relative;

                        &__arrow {
                            height: 16px;
                            width: 16px;

                            background-color: #fff;
                            position: absolute;
                            right: 18%;
                            //top: -.6rem;
                            //transform: translateX(50%);

                            /* Border */
                            border-left: 1px solid $color-grey-light-1a;
                            border-top: 1px solid $color-grey-light-1a;
                            transform: translate(-50%, -50%) rotate(45deg);
                        }
                        &__content {
                            display: flex;
                            flex-direction: column;
                            padding: 1.5rem 3rem;
                            align-items: center;
                            &__header {
                                font-size: 1.2rem;
                                text-transform: uppercase;
                                letter-spacing: 0.2rem;
                                color: $color-grey-1;
                                border-bottom: 1px solid $color-grey-light-1a;
                                margin-bottom: 0.4rem;
                                padding-bottom: 0.2rem;
                            }
                            &__number {
                                font-size: 2rem;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }

            &__language {
                @media only screen and (max-width: $bp-large) {
                    display: none;
                }
                padding-left: 1.5rem;
                display: flex;
                align-items: center;

                & svg {
                    transform: translateY(-1px);
                    stroke-width: 4;
                    height: 2rem;
                    width: 2rem;
                    color: currentColor;
                }

                & .trp-language-switcher {
                    cursor: pointer;
                    color: $color-white;
                    transition: color 0.3s;

                    & > div {
                        border: 1px solid transparent;
                        background-color: transparent;
                        background-image: none;
                        width: min-content !important;
                        padding: 0.3rem;
                        & > a {
                            transition: color 0.3s;
                            display: inline-block;
                            color: $color-white;
                            text-decoration: none;
                            padding: 0.3rem 0.6rem;
                        }

                        & a.trp-ls-shortcode-disabled-language {
                            cursor: pointer;
                        }
                    }

                    &:hover {
                        & > div {
                            border: 1px solid $color-grey-light-1a;
                            background-color: $color-white;
                        }
                    }
                }
            }

            &__phone-mobile {
                display: none;

                color: currentColor;
                cursor: pointer;
                position: relative;
                z-index: 900;
                @media only screen and (max-width: $bp-small) {
                    display: flex;
                    display: none; //HERE
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: 9rem;
                }
                & svg {
                    stroke-width: 3;
                    height: 2.5rem;
                    width: 2.5rem;
                    color: currentColor;
                }

                &__expand {
                    display: none;
                    position: absolute;
                    z-index: 800 !important;
                    bottom: 0;
                    left: 50%;
                    transform: translateY(100%) translateX(-50%);
                    height: min-content;
                    width: 25rem;
                    background-color: $color-white;
                    border: 1px solid $color-grey-light-2;
                    padding: 3rem;
                    text-align: center;
                    font-size: 2rem;
                    color: $color-primary;
                    opacity: 0;

                    &.active {
                        display: flex;
                        flex-direction: column;
                        animation: fadein 0.3s both;
                        animation-timing-function: ease-out;
                        opacity: 1;
                    }

                    &__title {
                        font-size: 1.6rem;
                        margin-bottom: 1.5rem;
                    }
                    &__cta {
                        background-color: $color-primary;

                        &:link,
                        &:visited {
                            color: $color-white;
                            border: none;
                            border-radius: 4rem;
                            font-size: 1.6rem;
                            font-weight: 600;
                            text-transform: uppercase;
                            letter-spacing: 0.3rem;
                            padding: 1.5rem 3rem;
                            cursor: pointer;
                            transition: all 0.2s;
                            outline: none;
                            white-space: nowrap;
                        }

                        &:hover {
                            background-color: $color-supporting;
                        }
                    }
                }
            }
        }
    }
}

.nav-mobile {
    display: none; //toggle active (js)
    justify-items: center;

    height: 100vh;
    width: 28rem;

    position: fixed;
    z-index: 9999999;
    top: 0;
    right: 0;
    overflow-x: hidden;

    &--active {
        display: grid;
        //position: relative;

        & .burger-button {
            animation: fadein 0.3s both;
            animation-delay: 0.2s;
        }

        & .mobile-language-switch {
            animation: fadein 0.2s both;
            animation-delay: 0.25s;
            position: absolute;
            bottom: 16rem;
            right: 2rem;
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            color: $color-gold;
            z-index: 9999999;

            & svg {
                transform: translateY(-2px);
                stroke-width: 4;
                height: 2.5rem;
                width: 2.5rem;
                color: currentColor;
                padding-right: 0.2rem;
            }
            &__trp {
                & .trp-language-switcher {
                    cursor: pointer;
                    color: currentColor;

                    & > div {
                        border: 1px solid transparent;
                        background-color: transparent;
                        background-image: none;
                        width: min-content !important;
                        padding: 0.3rem;
                        & > a {
                            //width: 3rem;
                            display: inline-block;
                            color: currentColor;
                            text-decoration: none;
                            padding: 0.3rem 0.6rem;

                            &:hover,
                            :active {
                                background-color: transparent;
                                color: $color-white;
                            }
                        }

                        & a.trp-ls-shortcode-disabled-language {
                            cursor: pointer;
                        }
                    }

                    &:hover {
                        & > div {
                            border: 1px solid $color-grey-3;
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }

    &__content-panel {
        grid-column: 1 / -1;
        grid-row: 1 / span 1;
        background-color: $color-primary-dark;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;

        z-index: 20;
        transform: translateX(0%);
        transition: all 0.4s;

        padding-top: 4rem;
        position: relative;

        &.slide-out-left {
            transform: translateX(-100%);
        }

        & .search-button {
            margin-right: 0;
            margin-top: 2rem;
            color: $color-supporting-light-2;
        }

        &--top {
            animation-name: example;
            animation-duration: 0.3s;
            animation-timing-function: ease-out;
            & a {
                animation-name: example;
                animation-duration: 0.4s;
                animation-timing-function: ease-out;
                animation-fill-mode: both;
            }

            & a:nth-child(1) {
                animation-delay: 0s;
            }
            & a:nth-child(2) {
                animation-delay: 0.05s;
            }
            & a:nth-child(3) {
                animation-delay: 0.1s;
            }
            & a:nth-child(4) {
                animation-delay: 0.15s;
            }
            & a:nth-child(5) {
                animation-delay: 0.2s;
            }

            & a:nth-child(6) {
                animation-delay: 0.25s;
            }

            & a:nth-child(7) {
                animation-delay: 0.3s;
            }
        }

        &--sub {
            z-index: 21;
            transform: translateX(100%);

            grid-template-rows: min-content;

            &.slide-center {
                transform: translateX(0%);
            }
        }

        & a {
            //button
            color: $color-gold;

            font-size: 1.5rem;
            letter-spacing: 0.2rem;

            font-weight: 600;
            background-color: transparent;
            text-decoration: none;
            border: none;
            cursor: pointer;
            text-transform: uppercase;
            outline: none;
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            padding: 1.5rem 2rem;
            padding-right: 5rem;
            text-align: right;

            &.divider {
                padding-top: 6rem;
                &::after {
                    content: "";
                    position: absolute;
                    height: 1px;
                    width: 12rem;
                    background-color: $color-grey-3;
                    top: 2rem;
                    right: 5rem;
                }
            }

            &:last-child {
                margin-bottom: 14rem;
            }

            & svg {
                height: 2.5rem;
                width: 2.5rem;
                fill: $color-grey-1;
                position: absolute;
                top: 50%;
                right: 1rem;

                transform: translateY(-55%);
            }

            &.back-link {
                text-align: start;
                margin-bottom: 3rem;
                justify-content: flex-end;
                & svg {
                    position: relative;

                    margin-right: 1rem;
                }

                &::after {
                    content: "";
                    position: absolute;
                    height: 1px;
                    width: 12rem;
                    background-color: $color-grey-3;
                    bottom: -1rem;
                    right: 5rem;
                }
            }

            &--forward {
                & svg {
                    right: 3rem;

                    @media only screen and (max-width: $bp-xsmall) {
                        right: 1.5rem;
                    }
                }
            }
        }
    }
}

.nav-mega-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000%;
    background-image: linear-gradient(to left, rgba($color-black, 0.5), rgba($color-black, 0.5));
    z-index: -1;
    display: none;
    &.active {
        display: block;
        animation: fadein 0.3s;
        opacity: 1;
    }
}

.nav-mega {
    z-index: 18;

    display: none;
    width: 100%;
    justify-content: center;

    background-color: $color-nav;

    border-bottom: 1px solid $color-grey-light-2;

    transition: all 0.5s;
    opacity: 0;

    position: relative;

    &.active {
        display: flex;
        animation: fadein 0.3s;
        opacity: 1;
    }

    &__nav {
        display: flex;
        width: 100%;
        max-width: 114rem;
        justify-content: space-between;

        color: $color-primary;
        text-decoration: none;
        font-weight: 600;
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;

        &__link {
            text-decoration: none;
            color: currentColor;
            width: 100%;
            margin: 2rem 0;
            text-align: center;
            position: relative;
            &:hover {
                color: $color-supporting-light;
            }

            &:not(:last-child) {
                &:after {
                    content: "";
                    height: 100%;
                    width: 1px;
                    background-color: $color-grey-light-1a;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }

        &__sub-group {
            position: relative;

            margin: 3rem 0;
            &:not(:last-child) {
                margin-right: 6rem;
            }

            &__title {
                transition: all 0.2s;

                &:link,
                &:visited {
                    color: $color-primary;
                    text-decoration: none;
                }

                &:hover {
                    color: $color-supporting-light;
                }
            }

            &__list {
                color: $color-grey-3;
                margin-top: 0.75rem;
                list-style: none;
                font-size: 1.4rem;
                letter-spacing: 0.1rem;
                text-transform: none;
                //max-height: 0rem;
            }

            &__item {
                margin: 0.5rem;

                margin-left: 0;
            }

            &__link {
                transition: all 0.2s;

                &:link,
                &:visited {
                    text-decoration: none;
                    font-weight: 400;
                    color: $color-grey-3;
                }
                &:hover,
                &:active {
                    color: $color-supporting-light;
                }
            }
        }
    }

    //ARCTIC
    &__nav-arctic {
        justify-self: center;
        display: flex;
        width: 100%;
        max-width: 120rem;
        //min-height: 30rem;

        color: $color-primary;
        text-decoration: none;
        font-weight: 600;
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;

        // grid-template-columns: 35rem 1fr;

        &__menu {
            border-left: 1px solid $color-grey-light-1a;
            padding: 2rem 4rem;
            padding-top: 0;
            margin: 2rem 0;
            width: 35rem;

            &__title {
                font-weight: 300;
                font-size: 1.1rem;
                padding-bottom: 1rem;
            }

            &__list {
                list-style: none;
                &__item {
                    padding-bottom: 1rem;
                    &__link {
                        text-decoration: none;

                        &:link,
                        &:visited {
                            color: $color-grey-4;
                            & svg {
                                transform: translateY(-1px);
                                stroke-width: 4;
                                height: 2rem;
                                width: 2rem;
                                color: currentColor;
                            }
                        }
                        &:hover {
                            color: $color-supporting-light;
                        }
                        &.active {
                            color: $color-supporting-light !important;
                        }
                    }
                }
            }
        }

        &__content-area {
            height: 100%;
            width: 100%;
            &__panel {
                //border-left: 1px solid $color-grey-light-2;
                display: none;
                grid-template-columns: 50rem 1fr;
                height: 100%;
                width: 100%;
                &.active {
                    display: grid;
                }

                &__description {
                    border-left: 1px solid $color-grey-light-1a;
                    padding: 2rem 4rem;
                    padding-top: 0;
                    margin: 2rem 0;
                    
                    
                    &__title {
                        font-size: 1.8rem;
                        font-weight: 500;
                        text-transform: uppercase;
                        letter-spacing: 0.1rem;
                        margin-bottom: 1rem;
                        
                    }

                    &__snippet {
                        font-size: 1.6rem;
                        font-weight: 400;
                        text-transform: none;
                        letter-spacing: 0rem;
                        margin-bottom: 3rem;
                        
                    }

                    &__cta {
                        
                    }
                }

                &__image-area {
                    border-left: 1px solid $color-grey-light-1a;
                    padding: 2rem 4rem;
                    padding-top: 0;
                    margin-top: 2rem;
                    width: 100%;
                    &.ship {
                        border-left: none;        
                            
                    }

                    & img {
                        width: 100%;
                        height: auto;
                        border-radius: 4px;  
                    }
                }
            }
        }
    }
}

//Secondary Nav
.nav-secondary {
    width: 100%;
    background-color: $color-white;
    border-bottom: 1px solid $color-grey-light-2;
    height: 5rem;
    display: none;
    justify-content: center;
    opacity: 0;
    z-index: 0;
    &.active {
        display: flex;

        animation: fadein 0.4s;
        opacity: 1;
    }

    &.mega-hide {
        display: none !important;
    }

    &__main {
        flex-grow: 1;
        display: flex;

        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-weight: 600;
        align-items: center;
        height: 100%;

        padding: 0 4rem; //main side padding

        @media only screen and (max-width: $bp-large) {
            justify-content: space-between;
            padding: 0rem; //full width - no padding
        }

        &__title-area {
            display: flex;
            justify-content: flex-end;

            position: relative;

            margin-right: 1rem;
            flex-grow: 1;
            width: min-content;
            height: 100%;
            @media only screen and (max-width: $bp-large) {
                margin-right: 0rem;
                justify-content: flex-start;
                flex-grow: 1;

                &::after {
                    display: none;
                }
            }

            &__title {
                //desktop link (hidden on mobile)
                text-decoration: none;
                height: 100%;
                display: flex;
                align-items: center;

                text-align: right;
                white-space: nowrap;

                @media only screen and (max-width: $bp-large) {
                    display: none;
                    white-space: normal;
                }

                &:link,
                &:visited {
                    color: $color-primary;
                    font-weight: 700;
                }

                &:hover {
                    color: $color-supporting-light;
                }
            }

            &::after {
                content: "";
                position: absolute;
                right: -2rem;
                top: 50%;
                width: 1px;
                height: 50%;
                transform: translateY(-50%);
                background-color: $color-grey-light-1a;
            }

            &__button {
                //mobile button (hidden on desktop)
                border: none;
                background-color: transparent;

                font-size: 1.4rem;
                line-height: 1.7rem;
                letter-spacing: 0.2rem;
                text-transform: uppercase;
                font-weight: 600;

                height: 100%;
                cursor: pointer;
                color: $color-primary;
                width: 100%;
                font-family: $font-primary;
                //width: min-content;
                outline: none;

                display: none;

                @media only screen and (max-width: $bp-large) {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                }

                @media only screen and (max-width: $bp-xxsmall) {
                    font-size: 1.2rem;
                    line-height: 1.5rem;
                }

                &__icon-area {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 9rem;
                    height: 100%;

                    @media only screen and (max-width: $bp-small) {
                        width: 7rem;
                    }

                    & svg {
                        height: 2.5rem;
                        width: 2.5rem;
                        fill: $color-primary;
                        transition: all 0.2s;
                        transform: rotate(90deg);
                        opacity: 1;
                    }
                    border-right: 1px solid $color-grey-light-2;
                }

                &__text-area {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    text-align: start;
                    padding-left: 2rem;
                }

                &.active {
                    svg {
                        transform: rotate(-90deg);
                        opacity: 1;
                    }
                }
            }
        }

        &__links {
            max-width: 114rem;
            width: 100%;
            display: flex;
            list-style: none;

            @media only screen and (max-width: $bp-large) {
                display: none;
            }

            & li {
                margin-left: 3rem;
                & a {
                    text-decoration: none;
                    &:visited,
                    &:link {
                        color: $color-grey-3;
                        transition: color 0.3s;
                        font-weight: 600;
                    }
                    &:hover {
                        color: $color-supporting-light;
                    }

                    &.current {
                        color: $color-supporting-light;
                    }
                }
            }
        }

        &__cta {
            flex-grow: 1;
            width: max-content;
            display: flex;

            @media only screen and (max-width: $bp-large) {
                margin-right: 3rem;
                margin-left: 1rem;
                flex-grow: 0;

                &::after {
                    display: none;
                }
            }
        }
    }
}

.nav-secondary-mobile {
    display: none;
    opacity: 0;

    background-color: $color-white;
    border-bottom: 1px solid $color-grey-light-2;

    &.active {
        display: flex;

        animation: fadein 0.4s;
        opacity: 1;

        &::after {
            content: "";
            position: absolute;
            height: 1000%;
            width: 100%;
            background-color: rgba($color-black, 0.7);
            bottom: -1000%;
            left: 0;
            z-index: 40;
        }

        & ul {
            & li {
                animation: SlideFromLeft;
                animation-duration: 0.4s;
                animation-timing-function: ease-out;
                animation-fill-mode: both;
            }

            & li:nth-child(1) {
                animation-delay: -0.2s;
            }
            & li:nth-child(2) {
                animation-delay: -0.15s;
            }
            & li:nth-child(3) {
                animation-delay: -0.1s;
            }
            & li:nth-child(4) {
                animation-delay: -0.05s;
            }
            & li:nth-child(5) {
                animation-delay: 0s;
            }
            & li:nth-child(6) {
                animation-delay: 0.05s;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        list-style: none;
        width: 100%;
        margin: 1rem 0;
        &__item {
            width: 100%;
            height: 5rem;
            &__link {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                padding-left: 4rem;

                &:link,
                &:visited {
                    text-decoration: none;
                    color: $color-primary;
                    cursor: pointer;

                    font-size: 1.4rem;
                    line-height: 1.7rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 0.2rem;
                }

                &:hover {
                    color: $color-supporting-light;
                }

                &.current {
                    color: $color-supporting-light;
                }
            }
        }
    }
}

//Burger ------------------

.burger-button {
    cursor: pointer;
    display: none;
    height: 7rem;
    width: 8rem;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;

    @media only screen and (max-width: $bp-large) {
        display: flex;
    }

    @media only screen and (max-width: $bp-small) {
        display: flex;
    }

    &__bar {
        width: 2.7rem;
        height: 1px;
        background-color: $color-white;
        display: block;

        &::before {
            content: "";
            position: absolute;
            transform: translateY(-0.7rem);
            width: 2.7rem;
            height: 1px;
            background-color: inherit;
            display: block;

            transition: transform 0.3s;
        }

        &::after {
            content: "";
            position: absolute;
            transform: translateY(0.7rem);

            width: 2.7rem;
            height: 1px;
            background-color: inherit;
            display: block;

            transition: transform 0.3s;
        }
    }

    &.close {
        position: absolute;
        top: 0;
        right: 20rem;
        z-index: 999999999;

        & .burger-button__bar {
            visibility: hidden;
            &::before {
                transform: rotate(-45deg) translateY(0);
                visibility: visible;
            }
            &::after {
                transform: rotate(45deg) translateY(0);
                visibility: visible;
            }
        }

        &:hover {
            & .burger-button__bar {
                visibility: hidden;
                &::before {
                    transform: rotate(-45deg) translateY(0);
                    visibility: visible;
                }
                &::after {
                    transform: rotate(45deg) translateY(0);
                    visibility: visible;
                }
            }
        }
    }
}

.change .bar-1 {
    -webkit-transform: rotate(-45deg) translate(-10px, 5px);
    transform: rotate(-45deg) translate(-10px, 8px);
}

.change .bar-2 {
    opacity: 0;
}

.change .bar-3 {
    -webkit-transform: rotate(45deg) translate(-10px, 5px);
    transform: rotate(45deg) translate(-10px, -5px);
}

//ANIMATIONS
@keyframes example {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes SlideFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}
