.header {
    z-index: 100;
    width: 100%;
    user-select: none;
    transition: all 0.2s;
    position: absolute;
    top: 0; //admin bar offset in base
    left: 0;

    &.fixed {
        position: fixed;
    }

    &.narrow {
        & .nav-main__content {
            max-width: $page-width;
        }

        & .nav-mega {
            width: calc(100% + 36rem);
            transform: translateX(-16rem);
        }
    }

    @media only screen and (max-width: $bp-xlargest) {
        &:not(.narrow) {
            & .nav-mega {
                width: calc(100% + 36rem);
                transform: translateX(-16rem);
            }        
        }
    }
}

.nav-backdrop {
    content: "";
    background-color: rgba($color-black, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    height: 100%;
    width: 100%;
    display: none;

    &.active {
        display: block;

        animation: fadein 0.2s;
    }
}


.progress-container {
    position: fixed;
    top: 0; //admin bar offset in base
    left: 0;
    z-index: 101;
    background-color: transparent;
    height: 3px;
    width: 100%;
}

.progress-bar {
    background-color: rgba($color-supporting, 0.8);
    height: 3px;
    width: 0%;
}

.site-notice {
    //position: absolute;
    //top: 0;
    //left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $color-primary;
    color: $color-white;
    z-index: 1000;
    font-size: 1.4rem;
    padding: 1rem 0;

    &.narrow {
        & .site-notice__content {
            max-width: $page-width;
        }
    }


    &__content {
        max-width: $page-width-full;
        text-align: center;
        @include flexPadding;
    }
}