.header {
    z-index: 100;
    width: 100%;
    user-select: none;
    transition: all 0.2s;
    position: absolute;
    top: 0; //admin bar offset in base
    left: 0;

    &.fixed {
        position: fixed;
    }

    &.small-width {
        & .nav-main__content {
            max-width: $page-width;
        }

        & .nav-mega {
            width: calc(100% + 30rem);
            transform: translateX(-15rem);
        }
    }

}

.nav-backdrop {

    content: "";
    background-color: rgba($color-black, 0.5);

    position: fixed;
    top: 0; 
    left: 0;
    z-index: 90;
    height: 100%;
    width: 100%;
    display: none;
   
    &.active {
        display: block;
     
        animation: fadein 0.2s;
    }
}
