//Secondary Nav
.nav-secondary {
    width: 100%;
    background-color: $color-white;
    border-bottom: 1px solid $color-grey-light-2;

    display: none;
    justify-content: center;
    opacity: 0;
    z-index: 0;

    &.active {
        display: flex;
        animation: fadein 0.4s;
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 95;
    }

    &__content {
        font-weight: 600;
        align-items: center;
        height: 100%;
        width: 100%;
        max-width: $page-width;
        @include flexPadding;

        display: grid;
        grid-template-columns: max-content 1fr 12rem;
        min-height: 5rem;

        @media only screen and (max-width: $bp-medium) {
            grid-template-columns: 1fr;
        }

        &__title {
            position: relative;
            @media only screen and (max-width: $bp-medium) {
                display: none;
            }

            &__button {
                border: none;
                font-size: 1.3rem;
                padding: 0.8rem 1rem;
                padding-left: 0;
                font-weight: 600;
                &:hover {
                    border: none;
                    color: $color-supporting;
                }
            }

            padding-right: 0.7rem;
            margin-right: 0.5rem;

            &::after {
                content: "";
                position: absolute;
                right: 0rem;
                top: 50%;
                width: 1px;
                height: 50%;
                transform: translateY(-50%);
                background-color: $color-grey-light-1a;

                @media only screen and (max-width: $bp-medium) {
                    display: none;
                }
            }
        }

        &__buttons {
            max-width: 114rem;
            width: 100%;
            display: flex;

            @media only screen and (max-width: $bp-medium) {
                justify-content: center;
            }

            &__button {
                margin-right: .5rem;
                @media only screen and (min-width: $bp-medium) {
                    border: none;
                    font-size: 1.3rem;
                    padding: 0.8rem 1rem;
                    margin-right: 0rem;
                    &:hover {
                        border: none;
                        color: $color-supporting;
                    }
                }
             
            }
        }

        &__cta {
            display: flex;
            justify-content: flex-end;
            &__button {
                font-size: 1.3rem;
            }
            @media only screen and (max-width: $bp-medium) {
                display: none;
            }
        }
    }
}


// ??
@keyframes SlideFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}
