//Secondary Nav
.nav-secondary {
    width: 100%;
    background-color: $color-white;
    border-bottom: 1px solid $color-grey-light-2;

    display: none;
    justify-content: center;
    opacity: 0;
    z-index: 0;

    &.small-width {
        
        .nav-secondary__content{
            max-width: $page-width;
        }
    }

    &.active {
        display: flex;
        animation: fadein 0.4s;
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 95;
    }

    &__content {
        
        align-items: center;
        height: 100%;
        width: 100%;
        max-width: $page-width-full;
        @include flexPadding;

        display: grid;
        grid-template-columns: max-content 1fr 12rem;
        min-height: 5rem;

        @media only screen and (max-width: $bp-medium) {
            grid-template-columns: 1fr 8rem;        
        }

        &__title {
            position: relative;
            @media only screen and (max-width: $bp-medium) {
                padding-top: .5rem;        
                grid-column: 1 / -1;         
            }
           
            &__link {
                &:visited,
                &:link {
                    font-size: 1.3rem;
                    text-decoration: none;
                    color: $color-primary;
                    font-weight: 600;
                    padding: .5rem 0;

                    @media only screen and (max-width: $bp-medium) {
                        font-size: 1.8rem;                       
                    }
                }

                &:hover {
                    color: $color-supporting;
                }
            }

          
            padding-right: 3rem;

            &::after {
                content: "";
                position: absolute;
                right: 1.5rem;
                top: 50%;
                width: 1px;
                height: 50%;
                transform: translateY(-50%);
                background-color: $color-grey-light-1a;

                @media only screen and (max-width: $bp-medium) {
                    display: none;
                }
            }
        }

        &__links {
            max-width: 114rem;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        

            &__link {
                
                &:visited,
                &:link {
                    padding: .5rem 0;           
                    font-size: 1.3rem;
                    text-decoration: none;
                    color: $color-primary;
                    margin-right: 1.5rem;
                    white-space: nowrap;
                    @media only screen and (max-width: $bp-medium) {
                        justify-content: center;
                        border-radius: 4rem;
                        border: 1px solid $color-grey-light-1a;
                        padding: 0.5rem 1.6rem;
                        margin-right: .5rem;
                        margin-bottom: .5rem;

                    }
                }

                &:hover {
                    color: $color-supporting;
                }

                &.active {
                    color: $color-supporting;
                }

                
            }
        }

        &__cta {
            display: flex;
            justify-content: flex-end;
           
            &__button {
                font-size: 1.3rem;
            }
            @media only screen and (max-width: $bp-medium) {
                margin-bottom: .5rem;

                &.product-template {
                    display: none;
                }
            }
        }
    }
}

// ??
@keyframes SlideFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}
