.itinerary-map {
    @include flexBlock;

    &.landing-variant {
        & .itinerary-map__content {
            max-width: $page-width-full;
        }
    }
    &__content {
        position: relative;
        @include flexPadding;

        max-width: $page-width;
        margin-top: 3rem;
        margin-bottom: 2rem;

        &__map-area {
            width: 100%;
            height: 60rem;

            @media only screen and (max-width: $bp-small) {
                height: 48rem;
            }

            position: relative;
        }
    }
}

.itinerary-note {
    @include flexBlock;

    &__content {
        position: relative;
        @include flexPadding;

        max-width: $page-width;
        margin-top: 3rem;
        margin-bottom: 2rem;

       
    }
}

.special-note {
    border-radius: 1rem;
    color: $color-primary;
    border: 1px solid $color-grey-light-1a;
    background-color: $color-grey-light-1;
    padding: 2rem;
}


