.day-list {

    &__title {

        &__pre {
            color: $color-grey-1;
            font-size: 1.3rem;
        }

        &__text {

        }
    }

    &__content {
        display: grid;
        margin-bottom: 3rem;
        &__destinations {
            margin-top: 2rem;
            display: flex;
            flex-wrap: wrap;

            @media only screen and (max-width: $bp-small) {
                flex-direction: column;
            }

            & .avatar {
                border: 1px solid $color-grey-light-1a;
                border-radius: 1rem;
                padding: 1rem;
                padding-right: 2rem;
                margin: 1rem 0;
                margin-right: 2rem;

                @media only screen and (max-width: $bp-small) {
                    margin-right: 0;
                }
            }
            
        
        }

        &__text {
           
        }
    
        
    }
}


