.itinerary-requirements {
    @include flexBlock;
    //margin-bottom: 22rem; //WIP
    &__content {
        position: relative;
        @include flexPadding;
        @include topDivider;

        max-width: $page-width;
        margin-top: 3rem;
        margin-bottom: 2rem;

        &__grid {
            width: 100%;
            display: grid;
            column-gap: 3rem;
            grid-template-columns: 1fr 1fr 1fr;

            @media only screen and (max-width: $bp-medium) {
                grid-template-columns: 1fr;
            }

            &__group {
                &__title {
                    font-size: 1.8rem;
                    font-weight: 700;
                    color: $color-primary;
                    padding-bottom: 1rem;
                }

                &__list {
                    list-style: none;
                    font-size: 1.3rem;
                    line-height: 1.8rem;
                    & li {
                        display: grid;
                        grid-template-columns: 2rem 1fr;
                        padding-bottom: 1rem;
                        & span {
                            color: $color-primary;
                        }
                    }
                }
            }
        }
    }
}
