.home-newest {
  
    @include flexBlock;
    position: relative;

    //transform: translateY(-25rem);
    &__content {
        @include flexPadding;

        max-width: $page-width-full;
        
        margin-top: 3rem;
        margin-bottom: 3rem;
        

        & .title-single {
            //color: $color-white;
        }


        &__slider {
            width: 100%;
            margin-top: 2rem;
            & .slick-slide {
                margin-right: 2rem;
            }
        }

       
    }

}

.arctic-card-wide {
    height: 33rem;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    transition: all .2s;
    &:link,
    &:visited  {
        text-decoration: none;
    }


    &__image {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        z-index: 2;
        padding: 2rem 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__title-section {
            color: $color-white;

            &__sub {
                font-size: 1.2rem;
            }

            &__title {
                font-size: 1.8rem;
                font-weight: 700;
            }
        }

        &__cta {
        }
    }
}

//wide, portrait, square


.arctic-card-portrait {
    height: 33rem;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;

    &:link,
    &:visited  {
        text-decoration: none;
    }

    &__image {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        z-index: 2;
        padding: 2rem 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__title-section {
            color: $color-white;

            &__sub {
                font-size: 1.2rem;
            }

            &__title {
                font-size: 1.8rem;
                font-weight: 700;
            }
        }

     
    }
}


.arctic-card-square-small {
    height: 19rem;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;

    &:link,
    &:visited  {
        text-decoration: none;
    }

    &__image {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        z-index: 2;
        padding: 2rem 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__title-section {
            color: $color-white;

            &__sub {
                font-size: 1.2rem;
            }

            &__title {
                font-size: 1.8rem;
                font-weight: 700;
            }
        }

     
    }
}