.home-hero {
  @include flexBlock;

  @media only screen and (max-width: $bp-large) {
    height: auto;
  }

  // desktop hero
  &__bg-image {
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: 1;
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(to bottom, rgba($color-black, 0.3), transparent 20%), linear-gradient(to top, rgba($color-white, 1), transparent 20%), linear-gradient(to left, rgba($color-white, 0.4), transparent 80%), linear-gradient(to right, rgba($color-black, 0.3), transparent 35%);
      z-index: 2;

      @media only screen and (max-width: $bp-medium) {
        background-image: linear-gradient(to bottom, rgba($color-black, 0.5), transparent 100%), linear-gradient(to top, rgba($color-white, 1), transparent 20%);
      }
    }
  }

  &__content {
    @include flexPadding;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-width: $page-width-full;
    gap: 4rem;
    padding-top: 16rem;
    @media only screen and (max-width: $bp-large) {
      padding-top: 12rem;
    }

    @include siteNoticePadding;

    &__title-area {
      color: $color-white;

      @media only screen and (max-width: $bp-medium) {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      padding-bottom: 5rem;
      &__title {
        font-size: 5rem;
        font-weight: 700;
        display: flex;
        line-height: 5rem;
        position: relative;
        align-items: flex-end;
        margin-bottom: 1rem;

        @media only screen and (max-width: $bp-large) {
          font-size: 4rem;
          line-height: 4.5rem;
          font-weight: 600;
        }
      }

      &__sub {
        font-size: 2.8rem;
        line-height: 3.5rem;
        font-weight: 400;
        @media only screen and (max-width: $bp-small) {
          font-size: 2rem;
          line-height: 2.5rem;
        }
      }
    }

    &__jumplinks {
      //   position: relative;
      //   width: 100%;
      //   padding-bottom: 3rem;
      //   padding-top: 4rem;
      //   display: grid;
      //   gap: 6rem;
      //   grid-template-columns: min-content 1fr;
      //   grid-template-rows: min-content;

      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 2rem;
      min-height: 15rem;

      @media only screen and (max-width: $bp-medium) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media only screen and (max-width: $bp-small) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

// COMPONENTS
