.home-destinations {
    @include flexBlock;



    &__content {
        

        @include flexPadding;
        @include topDivider;

        max-width: $page-width-full;
        // padding-top: 3rem;
        // padding-bottom: 12rem;

        margin-bottom: 12rem;

        &__slider {
            width: 100%;
            margin-top: 2rem;
            & .slick-slide {
                margin-right: 2rem;
            }
        }

       
    }

}
