.home-hero-regional {
  @include flexBlock;

  &__content {
    @include flexPadding;
    z-index: 5;
    display: grid;
    grid-template-columns: calc(60% - 3rem) calc(40% - 3rem);
    gap: 6rem;
    height: 100%;
    max-width: $page-width-full;
    padding-top: 16rem;
    padding-bottom: 3rem;

    @media only screen and (max-width: $bp-large) {
      padding-top: 12rem;
      // grid-template-columns: 100%;
      overflow-x: hidden;
      display: block;
    }

    &__primary {
      color: $color-white;
      // display: flex;
      // flex-direction: column;
      // justify-content: space-between;
      // gap: 6rem;

      // @media only screen and (max-width: $bp-large) {
      //   gap: 2rem;
      // }

      &__title-group {
        &__title {
          font-size: 5rem;
          line-height: 5rem;
          font-weight: 700;
          display: flex;
          position: relative;
          align-items: flex-end;
          margin-bottom: 1rem;

          @media only screen and (max-width: $bp-small) {
            font-size: 3.5rem;
            line-height: 4rem;
          }
        }

        &__sub {
          font-size: 2.8rem;
          line-height: 3.5rem;
          font-weight: 400;
          @media only screen and (max-width: $bp-small) {
            font-size: 2rem;
            line-height: 2.5rem;
          }
        }
      }

      &__region-area {
        display: flex;
        gap: 2rem;
        margin-top: 4rem;

        @media only screen and (max-width: $bp-large) {
          display: none;
        }
      }

      &__region-slider {
        display: none;
        overflow-x: visible;
        margin-top: 4rem;

        &__nav {
          margin-top: 2rem;
          position: relative;
          height: 4rem;
          & .hero-slider-btn-prev {
            left: 0;
          }
          & .hero-slider-btn-next {
            left: 4.5rem;
          }
        }

        @media only screen and (max-width: $bp-large) {
          display: block;
          & .swiper {
            overflow: visible !important;
          }
        }
      }
    }

    &__video-area {
      align-self: stretch; // Add this

      @media only screen and (max-width: $bp-large) {
        display: none;
      }

      &__video {
        position: relative;
        overflow: hidden;
        border-radius: 1rem;
        height: 100%;
        width: 100%;
        box-shadow: $shadow-medium-around;
        cursor: pointer;
        max-height: 100%; // Add this
        &__source {
          position: absolute;
          height: 100%;
          width: 100%;
          object-fit: cover;
          z-index: 5;
        }

        &__overlay {
          color: $color-white;
          position: absolute;
          z-index: 10;
          bottom: 0;
          left: 0;
          padding: 3rem 2rem;

          & h3 {
            font-size: 2rem;
            color: currentColor !important;
          }
        }

        &__cta {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          z-index: 6;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: all 0.2s;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 40%;
          width: 100%;
          z-index: 6;
          border-radius: 0.4rem;
          background-image: linear-gradient(to top, rgba($color-black, 0.7), rgba($color-black, 0));
        }

        &:hover {
          .home-hero-regional__content__video-area__video__cta {
            display: flex;
            opacity: 1;
          }
        }
      }
    }
  }

  &__bg-image {
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: 1;
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(to bottom, rgba($color-black, 0.3), transparent 20%), linear-gradient(to top, rgba($color-white, 1), transparent 20%), linear-gradient(to left, rgba($color-grey-light-1, 0.4), transparent 80%), linear-gradient(to right, rgba($color-black, 0.3), transparent 35%);
      z-index: 2;

      @media only screen and (max-width: $bp-medium) {
        background-image: linear-gradient(to bottom, rgba($color-black, 0.5), transparent 100%), linear-gradient(to top, rgba($color-white, 1), transparent 20%);
      }
    }
  }
}
