.home-hero {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    min-height: 80rem;
    position: relative;

    // &:after {
    //     //gradient overlay
    //     content: "";
    //     height: 6rem;
    //     width: 100%;
    //     //background-image:  linear-gradient(to top, rgba($color-red, 1), transparent);

    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     z-index: 20;


    // }


    @media only screen and (max-width: $bp-large) {
        min-height: 60rem;
        //padding-bottom: 12rem;
    }

    & #back-cta {
        position: absolute;
        bottom: 6rem;
        right: 6rem;

        z-index: 50;
        display: none;
        &.active {
            display: flex;
        }

        @media only screen and (max-width: $bp-large) {
            transform: translateX(50%);
            right: 50%;
            bottom: 12rem;
        }
    }

    //Background Image Slider
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        &__slide {
            width: 100%;
            height: 100%;

            & img {
                background-position: center center;
                background-repeat: no-repeat;
                object-fit: cover;

                height: 100%;
                width: 100%;
                z-index: 0;
            }

            &:after {
                //gradient overlay
                content: "";
                height: 100%;
                width: 100%;
                background-image: linear-gradient(to left, rgba($color-black, 0.9) 10%, transparent),
                    linear-gradient(to right, rgba($color-black, 0.1) 5%, transparent),
                    linear-gradient(to top, rgba($color-black, 0.1), rgba($color-black, 0.1)),
                    linear-gradient(to top, rgba($color-black, 1), transparent 60%);

                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;

                @media only screen and (max-width: $bp-large) {
                    background-image: linear-gradient(to top, rgba($color-black, 0.9) 10%, transparent),
                        linear-gradient(to top, rgba($color-black, 0.1), rgba($color-black, 0.1)),
                        linear-gradient(to top, rgba($color-black, 1), transparent 60%);
                }
            }
        }
    }

    //Hero Content
    &__content {
        z-index: 5;
        height: 100%;

        width: 100%;
        max-width: $page-width-full;

        position: relative;

        &__info-text {
            position: absolute;
            bottom: 6rem;
            right: 7rem;
            color: rgba($color-white, 0.5);
            font-size: 1.1rem;
            z-index: 55;
            animation: fadein 0.3s both;
            animation-timing-function: ease-out;
            animation-delay: 0.5s;

            @media only screen and (max-width: $bp-large) {
                display: none;
            }
        }

        &__map {
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: 8;
            width: calc(50vw + 20rem);
            transform: translateX(-20rem);
            height: 100%;
            mask-image: linear-gradient(to right, transparent, rgba($color-black, 1) 40%);
            -webkit-mask-image: linear-gradient(to right, transparent, rgba($color-black, 1) 40%);
            @media only screen and (max-width: $bp-large) {
                width: 100%;
                z-index: 2;
                mask-image: none;
                -webkit-mask-image: none;
                transform: translateX(0);
                left: auto;
            }
        }

        //Main Slider
        &__main-slider {
            position: absolute;
            left: 0;
            top: 28vh;
            width: 100%;
            max-width: 50%;
            z-index: 9;
            @include flexPadding;

            &.destination {
                @media only screen and (max-width: $bp-large) {
                    top: 16rem;
                }
            }

            @media only screen and (max-width: $bp-large) {
                max-width: 100%;
                padding: 0;
                &.hide {
                    display: none;
                }
            }
        }
    }
}

//Main Slider Slide
.main-slider-slide {
    display: flex;
    flex-direction: column;
    color: $color-white;
    position: relative;
    margin-bottom: 5rem;
    width: 100%;
    opacity: 0;

    @media only screen and (max-width: $bp-large) {
        align-items: center;
        text-align: center;
    }

    &__primary {
        @media only screen and (max-width: $bp-large) {
            padding: 0 3rem;
        }

        &__subtitle {
            font-size: 1.4rem;
            line-height: 1.4rem;
            font-weight: 400;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            margin-left: 5rem;

            @media only screen and (max-width: $bp-large) {
                margin-left: 0rem;
            }
            @media only screen and (max-width: $bp-small) {
                font-size: 1.2rem;
                line-height: 1.2rem;
            }
        }

        &__title {
            font-size: 9rem;
            line-height: 9rem;
            font-family: $font-secondary;
            margin-bottom: 1.5rem;

            @media only screen and (max-width: $bp-small) {
                font-size: 6rem;
                line-height: 6rem;
            }
        }
        &__snippet {
            font-size: 1.6rem;
            margin-left: 2rem;
            height: 35rem;
            @media only screen and (max-width: $bp-large) {
                margin-left: 0rem;
            }
        }
    }

    &__explore-cta {
        display: none;
        justify-content: center;

        @media only screen and (max-width: $bp-large) {
            display: flex;
        }
    }

    &__region-nav {
        margin-top: 6rem;
        display: none;
        justify-content: space-between;
        font-weight: 700;
        font-size: 2rem;
    }

    //Tabs and Panels
    &__secondary {
        width: 100%;
        &__tabs {
            display: flex;
            margin-left: 2rem;
            margin-bottom: 1.5rem;

            @media only screen and (max-width: $bp-large) {
                justify-content: center;
                margin-left: 0rem;
            }

            &__button:not(:last-child) {
                margin-right: 1.5rem;
            }
        }

        &__panels {
            font-size: 1.6rem;
            width: 100%;
            height: 35rem;
            position: relative;
            &__panel {
                display: none;
                width: 100%;

                &.panel-text {
                    display: none;
                    padding-left: 2rem;

                    @media only screen and (max-width: $bp-large) {
                        padding-left: 0rem;
                        padding: 0 3rem;
                    }
                }

                &.panel-series {
                    margin-top: 2rem;
                }

                &.active {
                    &.panel-text {
                        display: block;
                    }

                    &.panel-series {
                        display: block;
                    }

                    animation: fadein 0.3s both;
                    animation-timing-function: ease-out;
                }
            }
        }
    }
}

.swiper-button-next {
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgba($color-white, 0.1);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);

    border: none;
    border-radius: 50%;
    cursor: pointer;

    outline: none;

    top: auto;
    bottom: 0;
    right: 0;
    left: auto;

    @media only screen and (max-width: $bp-large) {
        top: 12rem;
        bottom: auto;
        right: 1.5rem;
        left: auto;
    }

    transition: all 0.2s;

    &::after {
        font-size: 0.9rem;
        color: rgba($color-white, 0.9);
        font-weight: 700;
    }

    &:hover {
        //opacity: 1;
        background-color: rgba($color-white, 0.3);
    }
}

.swiper-button-prev {
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgba($color-white, 0.1);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);

    border: none;
    border-radius: 50%;
    cursor: pointer;

    outline: none;

    top: auto;
    bottom: 0;
    right: 5rem;
    left: auto;

    @media only screen and (max-width: $bp-large) {
        top: 12rem;
        bottom: auto;
        right: auto;
        left: 1.5rem;
    }

    transition: all 0.2s;

    &::after {
        font-size: 0.9rem;
        color: rgba($color-white, 0.9);
        font-weight: 700;
    }

    &:hover {
        //opacity: 1;
        background-color: rgba($color-white, 0.3);
    }
}
