.home-hero2 {
    @include flexBlock;

    @media only screen and (max-width: $bp-large) {
        height: auto;
        margin-top: 7rem;
    }

    // desktop hero
    &__bg-image {
        height: 100%;
        width: 100%;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: 1;
        }

        &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-image: linear-gradient(to bottom, rgba($color-black, 0.3), transparent 20%),
                linear-gradient(to top, rgba($color-grey-light-1, 1), transparent 20%),
                linear-gradient(to left, rgba($color-grey-light-1, 0.4), transparent 80%),
                linear-gradient(to right, rgba($color-black, 0.3), transparent 35%);
            z-index: 2;

            @media only screen and (max-width: $bp-medium) {
                background-image: linear-gradient(to bottom, rgba($color-black, 0.5), transparent 100%),
                    linear-gradient(to top, rgba($color-grey-light-1, 1), transparent 20%);
            }
        }
    }

    &__content {
        @include flexPadding;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        max-width: $page-width-full;

        margin-top: 16rem;
        @media only screen and (max-width: $bp-large) {
            margin-top: 6rem;
        }

        &__primary {
            color: $color-white;

            @media only screen and (max-width: $bp-medium) {
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &__title {
                font-size: 5.5rem;
                font-weight: 400;
                display: flex;
                line-height: 5.5rem;
                position: relative;
                align-items: flex-end;
                margin-bottom: 1rem;

                @media only screen and (max-width: $bp-large) {
                    font-size: 4rem;
                    line-height: 4.5rem;
                    font-weight: 600;
                }
            }

            &__snippet {
                font-size: 1.8rem;
                font-weight: 300;
                display: block;

                @media only screen and (max-width: $bp-large) {
                    font-weight: 400;
                    letter-spacing: 0rem;
                    font-size: 1.6rem;
                }
            }
            &__cta {
                margin: 4rem 0;
                position: relative;

                @media only screen and (max-width: $bp-medium) {
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                }
            }
        }

        &__secondary {
            position: relative;
            width: 100%;
            padding-bottom: 3rem;
            padding-top: 4rem;
            display: grid;
            gap: 6rem;
            grid-template-columns: 1fr min-content;
            grid-template-rows: min-content;

            @media only screen and (max-width: $bp-medium) {
                grid-template-columns: 1fr;
            }

            &__item-area {
                @media only screen and (max-width: $bp-medium) {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 2rem;
                }
            }
            &__video-area {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                @media only screen and (max-width: $bp-medium) {
                    display: none;
                }
            }
        }
    }
}

// COMPONENTS
.video-card {
    height: 34rem;
    width: 68rem;
    cursor: pointer;

    @media only screen and (max-width: $bp-large) {
        height: 26rem;
        width: 54rem;
    }

    &__video {
        border-radius: 2rem;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 1;
        position: relative;
        box-shadow: $shadow-medium-around;
    }
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        z-index: 4;
    }
}

.video-play-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    height: 7rem;
    width: max-content;

    &:hover {
        & .video-play-button__icon-area__inner {
            transition: transform 0.2s;
            transform: scale(0.95);
        }
    }

    &__icon-area {
        margin-right: 1rem;

        @media only screen and (max-width: $bp-medium) {
            margin-right: 0;
            margin-bottom: 1.5rem;
        }

        opacity: 0.7;
        background-color: rgba($color-white, 0.3);
        border-radius: 50%;
        height: 7rem;
        width: 7rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &__inner {
            border-radius: 50%;
            background-color: $color-white;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 5rem;
            width: 5rem;
            & svg {
                height: 1rem;
                width: 1rem;
                z-index: 5;
                color: $color-primary;
            }

            box-shadow: 0 0 0 0 rgb(255, 255, 255);
            animation: pulse 8s infinite;
        }
    }

    &__text {
        color: $color-white;
        font-size: 1.2rem;
        text-transform: uppercase;
        white-space: nowrap;
        font-weight: 600;

        @media only screen and (max-width: $bp-medium) {
            display: none;
        }
    }
}

@keyframes pulse {
    20% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    40% {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}
