.home-featured {
    display: grid;
    grid-template-columns: $page-container;
    position: relative;
    grid-column: 1 / -1;
    padding-top: 6rem;
    //margin-bottom: 6rem;
    outline: none;
    position: relative;

    &--bucket-list {
        margin-bottom: 8rem;
    }

    &__header {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: $page-container;

        margin-bottom: 4rem;
        @media only screen and (max-width: $bp-small) {
            grid-template-columns: $page-container-small;
        }

        &__title {
            //margin: 0;
            @media only screen and (max-width: $bp-small) {
                margin-bottom: 2rem;
            }
        }

        &__sub-text {
            grid-column: center-start / center-end;
            font-size: 1.6rem;
            text-align: center;
        }
    }

    &__content-area {
        grid-column: 1 / -1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 10rem;

        @media only screen and (max-width: $bp-medium) {
            margin: 0;
        }

        &__slider {
            max-width: 120rem;
            width: 100%;
            margin: 2rem 6rem;

            @media only screen and (max-width: $bp-medium) {
                & .slick-slide {
                    margin: 0 2rem;
                }
            }
            @media only screen and (max-width: $bp-small) {
                & .slick-slide {
                    margin: 0 0.5rem;
                }
            }

         
        }

        &__btn {
            &--left {
                position: absolute;
                z-index: 10;
                bottom: 50%;
                left: -7rem;
                transform: translateY(60%);
            }
            &--right {
                position: absolute;
                z-index: 10;
                bottom: 50%;
                right: -7rem;
                transform: translateY(60%);
            }
        }
    }

    &__btn {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.home-featured-item {
    display: flex !important;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
        border: 1px solid $color-grey-light-1a;
        border-radius: 4px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        text-align: center;
        height: min-content;
        width: 50%;
        margin-right: 3rem;
        &--inverse {
            order: 2;
            margin-right: 0rem;
            margin-left: 3rem;
        }

        @media only screen and (max-width: $bp-medium) {
            width: 100%;
            margin: 3rem;
            margin-bottom: 2rem;
        }

        &__title {
            font-family: $font-secondary;
            font-size: 3.5rem;
            line-height: 4.2rem;
            letter-spacing: 0.2rem;
            color: $color-primary;
            font-weight: 500;

            text-align: center;

            @media only screen and (max-width: $bp-large) {
                font-size: 2.5rem;
                line-height: 3.2rem;
                letter-spacing: 0.1rem;

            }
            @media only screen and (max-width: $bp-medium) {
                padding: 0 1rem;
            }
            @media only screen and (max-width: $bp-small) {
                font-size: 2rem;
                line-height: 2.6rem;
            }
        }

        &__text {
            font-size: 1.6rem;
            width: 80%;
            padding: 3rem 0;
            position: relative;

            @media only screen and (max-width: $bp-large) {
                padding: 1.5rem 0;
                padding-bottom: 3rem;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 20rem;
                height: 2px;
                background-color: $color-gold;
            }
        }
        &__cta {
            padding-top: 1rem;
        }
    }

    &__image-area {
        position: relative;
        width: 50%;
        padding-right: 2rem;

        &--inverse {
            order: -1;
            padding-left: 2rem;
            padding-right: 0rem;

        }

        @media only screen and (max-width: $bp-medium) {
            width: 100%;
            order: -1;
            padding-left: 0;
            padding-right: 0;
            height: 35rem;
            background-color: burlywood;
        }

        @media only screen and (max-width: $bp-xsmall) {
            height: 25rem;
        }

        & img {
            object-fit: contain;
            width: 100%;
            height: auto;

            margin-bottom: 2rem;
            box-shadow: $shadow-short-bottom;
            position: relative;

            @media only screen and (max-width: $bp-medium) {
                object-fit: cover;
                width: 100%;
                height: 100%;
                box-shadow: none;
                margin-bottom: 0;
            }
        }
    }
}
