.search-main {

   @include flexBlock;


  // &.sticky {
  //   @media only screen and (max-width: $bp-large) {
  //     margin-top: 7rem;
  //   }
     
  // }

  &__content {
    display: flex;
    width: 100%;
    max-width: $page-width-full;
    @include flexPadding;
    margin-bottom: 6rem;
 
  
  }


}

.search-bottom {
  display: flex;
  flex-direction: column;

  max-width: $page-width;
  @include flexPadding;

  height: 10rem;
  background-color: $color-grey-light-1a;
}

.view-type-control {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  & button {
    border: 1px solid $color-grey-light-1a;
    background-color: transparent;
    font-family: $font-primary;
    padding: 1rem 2rem;

    &:first-child{
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }

    &:last-child{
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }

    &.active {
      //border: 1px solid $color-primary;
      background-color: $color-grey-light-1a;
      transition: all .2s;
    }

    &:hover {
      border: 1px solid $color-primary;
    }
  }
}