.search-intro {
    grid-column: center-start / center-end;
    padding: 2rem 0;
    padding-bottom: 1.5rem;

    &__breadcrumb {
      display: flex;
      list-style: none;
      font-size: 1.5rem;
      font-weight: 500;
      flex-wrap: wrap;
      margin-bottom: .5rem;
      text-transform: capitalize;
      & li {
        display: inline-block;
        color: $color-grey-1; 
        width: max-content;
        &:not(:last-child):after{
          content: "/";
          padding-left: 1px;
          padding-right: 4px; 
        }

        & a { 
          text-decoration: none;
          color: currentColor;
          &:hover {
            color: $color-supporting-light;
          }
        }
      }
    }

    &__title {
      font-size: 2.5rem;
      line-height: 3.5rem;
      color: $color-primary;
      cursor: pointer;
      transition: .3s all;
      font-weight: 700;
      display: flex;
      width: 100%;
      margin-bottom: .5rem;
      
      align-items: center;

      &:hover {
        color: $color-supporting;
      }

      & span {
        margin-right: .5rem;
      }

      & svg {  
        height: 3rem;
        width: 3rem;
        fill: $color-grey-1;
        transform: rotate(-90deg);
        transition: all .3s;
      }

      &--collapsed {
        & svg {  
          transform: rotate(90deg);
        }
      }
    }
    &__text {
      

      & p {
        font-size: 1.4rem;

        &:not(:last-child) {
          margin-bottom: 1rem !important;
        }
        
      }
    }
  }