.search-results-area {
    margin-left: 3rem;

    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: $bp-large) {
        width: 100%;
        margin-left: 0rem;
        padding-top: 2rem;
    }

    &__top-section {
        display: flex;
        justify-content: space-between;
        position: relative;

        align-items: center;
        width: 100%;
        padding-bottom: 1rem;

        @media only screen and (max-width: $bp-large) {
            padding-bottom: 1.5rem;
        }

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
            align-items: start;
        }

        &__result-count {
            margin-right: 1.5rem;
            &__findings {
                font-size: 1.6rem;
                line-height: 2rem;
                font-weight: 700;
                color: $color-primary;
            }

            &__subtext {
                font-size: 1.1rem;
                color: $color-grey-3;
                font-weight: 400;
            }
        }

        &__view-type {
            @media only screen and (max-width: $bp-small) {
                width: 100%;

                & .view-type-control {
                    margin-top: 1rem;
                    grid-template-columns: repeat(3, 1fr);
                    width: 100%;
                }
            }
        }

        // sorting
        &__controls {
            position: relative;
            display: flex;
            margin-left: 1.5rem;
        }
    }

    &__grid {
        display: grid;
        //padding-bottom: 6rem;
        width: 100%;
        position: relative;
        z-index: 0;

        &.search-itineraries,
        &.search-ships {
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 2rem;
            row-gap: 2rem;

            @media only screen and (max-width: $bp-medium) {
                grid-template-columns: 1fr 1fr;
            }

            @media only screen and (max-width: $bp-small) {
                grid-template-columns: 1fr;
            }
        }

        &.search-departures {
            grid-template-columns: 1fr;
            column-gap: 2rem;
            row-gap: 2rem;
            @media only screen and (max-width: $bp-medium) {
                grid-template-columns: 1fr 1fr;
            }

            @media only screen and (max-width: $bp-small) {
                grid-template-columns: 1fr;
            }
        }

        &.loading {
            & .lds-ring {
                position: absolute;
                top: 12rem;
                left: 50%;
                z-index: 20;
            }

            &::after {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: rgba($color-white, 0.5);
                z-index: 10;
            }
        }

        @media only screen and (max-width: $bp-medium) {
            grid-template-columns: 1fr 1fr;
            column-gap: 3rem;
        }

        @media only screen and (max-width: $bp-small) {
            grid-template-columns: 1fr;
            row-gap: 3rem;
        }

        &__pagination {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 3rem auto;
            grid-column: 1 / -1;

            &__pages-group {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 1.5rem;
                width: 100%;
                flex-wrap: wrap;

                &__button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    width: 4rem;
                    height: 4rem;

                    font-family: $font-primary;
                    font-weight: 700;
                    font-size: 1.6rem;
                    border: 1px solid transparent;
                    color: $color-grey-1;
                    transition: all 0.3s;

                    position: relative;

                    &:hover {
                        &:not(.disabled) {
                            background-color: $color-grey-light-1;
                        }
                    }

                    & svg {
                        color: currentColor;
                        fill: currentColor;
                        height: 2.5rem;
                        width: 2.5rem;
                    }

                    &.disabled {
                        color: $color-grey-1;
                        cursor: default;
                        display: none;
                    }

                    &.current {
                        color: $color-primary;
                    }
                }
            }

            &__show-all-group {
                display: flex;
                justify-content: center;
                align-items: center;

                // & button {
                //     display: flex;
                //     align-items: center;
                //     justify-content: center;
                //     background-color: transparent;
                //     border: none;
                //     cursor: pointer;
                //     width: auto;
                //     height: 4rem;
                //     font-family: $font-primary;
                //     font-weight: 700;
                //     font-size: 1.3rem;
                //     color: $color-primary;
                //     position: relative;

                //     &:hover {
                //         &:not(.disabled) {
                //             color: $color-primary;
                //         }
                //     }
                // }
            }
        }

        &__loading {
            margin: 10rem auto;
            display: flex;
            justify-items: center;

            @media only screen and (max-width: $bp-medium) {
                margin: 2rem auto;
            }
        }
    }

    &__bottom-section {
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;
    }
}

