.search-intro {
  @include flexBlock;
  padding-top: 11rem; //top padding

  &.site-notice-variant {
    padding-top: 15rem; //top padding
    @media only screen and (max-width: $bp-small) {
      padding-top: 17rem;
    }
  }

  margin-bottom: 2rem;
  &__content {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: $page-width-full;
    @include flexPadding;

    & .breadcrumb-list {
      font-size: 1.5rem;
      font-weight: 500;
      color: $color-grey-1;
      & a {
        text-decoration: none;
        color: currentColor;
        &:hover {
          color: $color-supporting-light;
        }
      }
    }

    &.sticky-compensate {
      margin-bottom: 7rem;
    }

    &__title {
      font-size: 2.5rem;
      line-height: 3.5rem;
      color: $color-primary;
      cursor: pointer;
      transition: 0.3s all;
      font-weight: 700;
      display: flex;
      width: 100%;
      margin-bottom: 0.5rem;
      align-items: center;

      & span {
        margin-right: 0.5rem;
      }

      & svg {
        height: 3rem;
        width: 3rem;
        fill: $color-grey-1;
        transform: rotate(-90deg);
        transition: all 0.3s;
      }

      &--collapsed {
        & svg {
          transform: rotate(90deg);
        }
      }
    }
    &__text {
      & p {
        font-size: 1.4rem;

        &:not(:last-child) {
          margin-bottom: 1rem !important;
        }
      }
    }
  }
}
