.product-extras {
    @include flexBlock;

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: $page-width;
        margin-top: 3rem;
        margin-bottom: 6rem;

     .title-single {
            margin-bottom: 1rem !important;
        }

        position: relative;
        &::after {
            content: "";
            width: 100%;
            height: 1px;
            position: absolute;
            top: -3rem;
            left: 0;
            background-color: $color-grey-light-1a;
        }



        &__slider {
            width: 100%;
            margin-top: 2rem;
            & .slick-slide {
                margin-right: 2rem;
            }
        }
    }
}

