.product-extras {
    @include flexBlock;

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
    
        @include flexPadding;
        @include topDivider;

        max-width: $page-width;
        margin-top: 3rem;
        margin-bottom: 2rem;

       


        &__slider {
            width: 100%;
          
            & .slick-slide {
                margin-right: 2rem;
            }
        }
    }
}

