.product-deals-modal-item {
  &__title {
    margin-bottom: 1rem;
    color: $color-primary;
    font-size: 2.2rem;
    font-weight: 700;
  }

  &__image-area {
    position: relative;
    margin-bottom: 2rem;

    & img {
      border-radius: 1rem;
      height: auto;
      width: 100%;
      max-height: 36rem;
      object-fit: cover;
    }

    &__tag-area  {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      z-index: 10;
      display: grid;
      gap: .5rem;
      justify-items: end;
    }
  }

  &__description {
    margin-bottom: 2rem;
  }

  &__itineraries {
    margin-bottom: 2rem;
    &__grid {
      display: flex;
      flex-wrap: wrap;
      .nav-search-item {
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }
  }

  &__validity {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
  }
}

.validity {
  width: max-content;
  @media only screen and (max-width: $bp-small) {
    width: 100%;
  }
  padding: 1.5rem 4rem;
  padding-left: 2.5rem;
  border-radius: 1rem;
  background-color: rgba($color-green, 0.1);
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 2rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 700;
  color: $color-green;
  &__icon {
    height: 2.8rem;
    width: 2.8rem;
  }

  &__title {
    &__sub {
      font-size: 1.2rem;
      line-height: 1.4rem;
    }
  }
}
