.product-hero {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  flex-direction: column;
  align-items: center;
  z-index: 1;

  @media only screen and (max-width: $bp-large) {
    height: auto;
    margin-top: 7rem;
  }

  // desktop hero
  &__bg-image {
    height: 100%;
    width: 100%;
    background-color: $color-grey-light-1;
    border-bottom: 1px solid $color-grey-light-1a;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;

    @media only screen and (max-width: $bp-large) {
      display: none;
    }

    & img {
      height: calc(100% - 22rem);
      width: 100%;
      object-fit: cover;
      z-index: 1;
    }
    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      height: calc(100% - 22rem);
      width: 100%;
      background-image: linear-gradient(
          to bottom,
          rgba($color-black, 0.3),
          transparent 20%
        ),
        linear-gradient(
          to bottom,
          rgba($color-black, 0.1),
          rgba($color-black, 0.1)
        ),
        linear-gradient(
          to top,
          rgba($color-black, 0.8),
          rgba($color-black, 0.1) 50%
        );
      z-index: 2;
    }
  }
  // desktop hero gallery container
  &__gallery {
    position: absolute;
    bottom: 2rem;
    right: 0;
    z-index: 12;
    width: calc(
      50% - 6rem
    ); //minus 6rem because there is a total of 12rem margin

    &__nav {
      & .hero-gallery-slider-prev {
        position: absolute;
        z-index: 25;
        top: -4.5rem;
        left: 0;
      }
      & .hero-gallery-slider-next {
        position: absolute;
        z-index: 25;
        top: -4.5rem;
        left: 5rem;
      }
    }

    @media only screen and (max-width: $bp-large) {
      display: none;
    }

    &__slider {
      z-index: 20;
      width: 100%;
      visibility: hidden;
      opacity: 0;
      &.swiper-initialized {
        visibility: visible;
        transition: opacity 0.3s;
        opacity: 1;
      }

      @media only screen and (max-width: $bp-large) {
        display: none;
      }

      &__item {
        // slide wrapper with padding for shadow
        height: 100%;
        width: 100%;
        padding: 1rem 0;
        padding-right: 1rem;
        cursor: pointer;

        & img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 1rem;
          overflow: hidden;
          box-shadow: $shadow-short-bottom;
        }
      }
    }
  }

  // mobile bg hero slider
  &__bg-slider {
    display: none;
    height: 100%;
    width: 100%;
    position: relative;

    @media only screen and (max-width: $bp-large) {
      display: block;
      height: 50vh;
      min-height: 33rem;
    }

    &__slide {
      height: 100%;
      width: 100%;
      cursor: pointer;

      & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &__count {
      position: absolute;
      bottom: 2rem;
      right: 3rem;
      color: $color-white;
      background-color: rgba($color-black, 0.5);
      font-size: 1.3rem;
      font-weight: 600;
      z-index: 10;
      padding: 0.8rem 1.6rem;
      border-radius: 1rem;
    }
  }

  &__content {
    z-index: 5;
    max-width: $page-width;
    @include flexPadding;
    height: 100%;
    display: flex;
    align-items: flex-end;
    margin-top: 9rem;

    @media only screen and (max-width: $bp-large) {
      margin-top: 0rem;
    }

    &__main {
      display: flex;
      flex-direction: column;
      width: 50%;

      @media only screen and (max-width: $bp-large) {
        width: 100%;
      }

      &__primary {
        color: $color-white;
        @media only screen and (max-width: $bp-large) {
          margin-top: 2rem;
          color: $color-primary;
        }
        &__badge-area {
          padding-bottom: 1rem;
          display: flex;
          flex-wrap: wrap;
        }

        &__title {
          font-size: 5rem;
          font-weight: 400;
          letter-spacing: 0.1rem;
          display: flex;
          align-self: end;
          line-height: 6.5rem;
          position: relative;
          align-items: flex-end;
          margin-bottom: 1rem;

          @media only screen and (max-width: $bp-large) {
            font-size: 4rem;
            line-height: 4.5rem;
            font-weight: 600;
            letter-spacing: 0rem;
          }
        }

        &__snippet {
          font-size: 1.4rem;
          font-weight: 300;
          letter-spacing: 0.1rem;
          display: block;

          @media only screen and (max-width: $bp-large) {
            font-weight: 400;
            letter-spacing: 0rem;
            font-size: 1.6rem;
          }
        }

        &__nav {
          display: flex;
          margin-top: 3rem;
          margin-bottom: 2rem;

          @media only screen and (max-width: $bp-large) {
            display: none;
          }

          &__link {
            position: relative;
            font-size: 1.6rem;
            font-weight: 700;
            letter-spacing: 0.1rem;
            text-decoration: none;
            color: $color-white;
            margin-right: 3rem;
            cursor: pointer;
            &::after {
              content: "";
              position: absolute;
              height: 2px;
              width: 0%;
              bottom: -0.5rem;
              left: 0;
              background-color: $color-grey-light-1;
              transition: all 0.2s;
            }
            &:hover {
              &::after {
                content: "";
                width: 100%;
              }
            }
          }
        }
      }

      &__secondary {
        height: 22rem;
        color: $color-primary;

        @media only screen and (max-width: $bp-large) {
          height: auto;
        }

        //Starting Price / CTA
        &__info {
          display: flex;
          justify-content: space-between;
          align-items: center;

          margin: 2rem 0;
          flex-wrap: wrap;
          @media only screen and (max-width: $bp-large) {
            display: none;
          }

          &__starting-price {
            display: flex;
            align-items: center;
            position: relative;

            @media only screen and (max-width: $bp-small) {
              flex-direction: column;
              align-items: flex-start;
            }

            &__title-area {
              color: $color-primary;
              text-align: right;
              padding-right: 1.3rem;
              border-right: 1px solid $color-grey-light-2;
              display: flex;
              flex-direction: column;

              @media only screen and (max-width: $bp-small) {
                border-right: none;
                padding-right: 0rem;
                text-align: left;
              }

              &__subtext {
                font-size: 1.2rem;
                color: $color-grey-2;
                font-weight: 400;
              }

              &__text {
                font-size: 1.6rem;
                line-height: 1.6rem;
                font-weight: 700;
              }
            }

            &__amount {
              color: $color-primary;
              padding-left: 1.3rem;
              font-size: 3.6rem;
              font-weight: 500;
              //letter-spacing: 0.1rem;

              & span {
                transform: translateX(-1rem);
                color: $color-primary;
              }

              &__discount {
                font-size: 1.2rem;
                font-weight: 400;
                transform: translateY(-1rem);
              }

              @media only screen and (max-width: $bp-small) {
                padding-left: 0rem;
              }
            }

            &__description {
              position: absolute;
              bottom: -1rem;
              left: 0;
              font-size: 1.1rem;
              letter-spacing: 0.1rem;
              text-align: start;
              white-space: nowrap;
            }
          }

          &__cta {
            margin-left: 2.5rem;
          }
        }

        //Attributes
        &__attributes {
          display: grid;
          grid-template-columns: repeat(3, min-content);
          padding: 2.5rem 0;

          font-size: 1.4rem;
          column-gap: 5rem;
          row-gap: 2rem;
          position: relative;

          &::before {
            //top border
            content: "";
            position: absolute;
            height: 1px;
            width: 100%;
            top: 0rem;
            left: 0;
            background-color: $color-grey-light-1a;
          }

          @media only screen and (max-width: $bp-large) {
            &::before {
              top: auto;
              bottom: -1rem;
            }
            justify-items: start;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 1rem;
          }

          //attribute item
          &__item {
            color: $color-primary;
            width: min-content;
            display: grid;
            grid-template-columns: min-content min-content;
            column-gap: 1rem;
            row-gap: 1.5rem;

            @media only screen and (max-width: $bp-large) {
              width: 100%;
              grid-template-columns: min-content;
              justify-items: center;
              justify-content: center;
              border: 1px solid $color-grey-light-1a;
              border-radius: 1rem;
              padding: 2rem 3rem;
              text-align: center;
            }
            @media only screen and (max-width: $bp-small) {
              padding: 1.5rem;
            }

            &__icon {
              display: flex;
              padding-top: 0.3rem;
              & svg {
                height: 3.2rem;
                width: 3.2rem;
              }
            }

            &__text {
              font-size: 1.5rem;
              line-height: 2.5rem;
              font-weight: 700;
              width: max-content;

              & .sub-attribute {
                font-size: 1.1rem;
                line-height: 1.6rem;
                font-weight: 500;

                & span {
                  //fly badge

                  border-radius: 1rem;
                  letter-spacing: 0.1rem;
                  padding: 0.2rem 0.8rem;
                  background-color: $color-supporting;
                  color: $color-white;
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Components ----------------------------

// Starting Price / CTA Mobile
.mobile-info {
  display: none;
  justify-content: space-between;
  align-items: center;

  @include flexPadding;
  height: 10rem;
  border-top: 1px solid $color-grey-light-2;
  position: fixed; //NEW
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 150;
  background-color: $color-white;

  @media only screen and (max-width: $bp-large) {
    display: flex;
  }

  &__starting-price {
    display: flex;
    align-items: center;
    position: relative;

    &__title-area {
      color: $color-primary;
      text-align: right;
      padding-right: 1.3rem;
      border-right: 1px solid $color-grey-light-2;
      display: flex;
      flex-direction: column;

      &__subtext {
        font-size: 1.2rem;
        color: $color-grey-2;
        font-weight: 400;
      }

      &__text {
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: 700;
        white-space: nowrap;
      }
    }

    &__amount {
      color: $color-primary;
      padding-left: 1.3rem;
      font-size: 3rem;
      font-weight: 500;
      white-space: nowrap;
      & span {
        transform: translateX(-1rem);
        color: $color-primary;
      }

      &__discount {
        font-size: 1.2rem;
        font-weight: 400;
        transform: translateY(-1rem);
      }
    }

    &__description {
      position: absolute;
      bottom: -1rem;
      left: 0;
      font-size: 1.1rem;
      letter-spacing: 0.1rem;
      text-align: start;
      white-space: nowrap;
    }
  }

  &__cta {
    margin-left: 1rem;
  }
}
// Gallery Swiper Buttons
.btn-swiper-blur {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba($color-white, 0.3);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;

  transition: all 0.2s;
  color: $color-primary;

  &:hover {
    background-color: rgba($color-white, 0.8);
  }

  & svg {
    height: 1.4rem;
    width: 1.4rem;
    stroke: currentColor;
    fill: currentColor;
  }

  &__next {
    svg {
      transform: translateX(1px);
    }
  }

  &__prev {
    svg {
      transform: translateX(-1px) rotate(180deg);
    }
  }
}

.product-hero-badge {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgba($color-white, 0.9);
  border-radius: 2rem;
  width: max-content;
  padding: 0.5rem 2rem;
  margin-bottom: 0.5rem;
  display: flex;
  text-decoration: none !important;
  text-transform: capitalize;

  &:not(:last-child) {
    margin-right: 1rem;
  }

  &--deal {

    background-color: rgba($color-green, 0.7);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      background-color: rgba($color-green, 1);
    }
    @media only screen and (max-width: $bp-large) {
      background-color: rgba($color-green, 0.2);
      color: rgba($color-green, 1);
      font-weight: 600;
      &:hover {
        background-color: rgba($color-green, .3);
      }
    }
  }

  &--fly {
    color: $color-primary;

    background-color: rgba($color-white, 0.7);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    @media only screen and (max-width: $bp-large) {
      border: 1px solid $color-primary;
    }
  }

  &--special {
    cursor: pointer;
    transition: all 0.2s;

    background-color: rgba($color-purple, 0.7);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    &:hover {
      background-color: rgba($color-purple, 1);
    }

    @media only screen and (max-width: $bp-large) {
      background-color: rgba($color-purple, 0.2);
      color: rgba($color-purple, 1);
      font-weight: 600;
      &:hover {
        background-color: rgba($color-purple, .3);
      }
    }
  }
}
