.product-hero {
  position: relative;

  //contains top and bottom section
  &__content {
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    flex-direction: column;
    z-index: 1;

    @media only screen and (max-width: $bp-large) {
      height: auto;
    }

    //mobile hero slider
    &__top-slider {
      display: none;
      width: 100%;
      height: 100%;
      z-index: 20;
      @media only screen and (max-width: $bp-large) {
        display: block;
      }

      & img {
        position: relative;
        height: 100%;
        object-fit: cover;
        &::after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-image: linear-gradient(to bottom, rgba(black, 0.3), transparent 20%),
            linear-gradient(to bottom, rgba($color-black, 0.4), rgba($color-black, 0.4)),
            linear-gradient(to top, rgba($color-black, 0.7), rgba($color-black, 0.1) 70%);
          z-index: 22;
        }
      }
    }

    //TOP
    &__top {
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      @media only screen and (max-width: $bp-large) {
        display: none;
      }

      &__bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;

        & img {
          background-position: center center;
          background-repeat: no-repeat;
          object-fit: cover;

          height: 100%;
          width: 100%;
          z-index: 1;
        }

        &::after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-image: linear-gradient(to bottom, rgba(black, 0.3), transparent 20%),
            linear-gradient(to bottom, rgba($color-black, 0.1), rgba($color-black, 0.1)),
            linear-gradient(to top, rgba($color-black, 0.8), rgba(black, 0.1) 50%);
          z-index: 2;

          @media only screen and (max-width: $bp-large) {
            background-image: linear-gradient(to bottom, rgba(black, 0.3), transparent 20%),
              linear-gradient(to bottom, rgba($color-black, 0.4), rgba($color-black, 0.4)),
              linear-gradient(to top, rgba($color-black, 0.7), rgba($color-black, 0.1) 70%);
          }
        }
      }

      &__content {
        z-index: 8;
        width: 100%;
        justify-self: center;
        height: calc(100% - 9rem);
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: space-between;
        color: $color-white;
        max-width: $page-width;
        @include flexPadding;

        @media only screen and (max-width: $bp-large) {
          align-items: center;
          text-align: center;
        }

        &__breadcrumb {
          margin-top: 3rem;
          font-size: 1.2rem;
          letter-spacing: 0.2rem;
          justify-self: flex-start;
          font-weight: 400;

          display: flex;
          position: relative;
          list-style: none;
          height: max-content;

          flex-wrap: wrap;

          @media only screen and (max-width: $bp-large) {
            justify-self: center;
            margin-top: 1rem;
            justify-content: center;
          }

          & li {
            display: inline-block;
            width: max-content;
            &:not(:last-child):after {
              content: " / ";
              padding-left: 1px;
              padding-right: 4px;
            }

            & a {
              position: relative;
              text-decoration: none;
              color: currentColor;

              &::after {
                content: "";
                position: absolute;
                bottom: -0.3rem;
                left: 0;
                width: 97%;
                height: 1px;
                background-color: $color-white;
                transition: all 0.2s;
                opacity: 0;
              }

              &:hover {
                &::after {
                  color: $color-white;
                  opacity: 1;
                }
              }
            }
          }
        }

        &__title-group {
          width: 50%;

          @media only screen and (max-width: $bp-large) {
            margin-bottom: 4rem;
            width: 100%;
          }
          @media only screen and (max-width: $bp-small) {
            margin-bottom: 0rem;
          }

          &__badge-area {
            margin-bottom: 1rem;
            display: flex;
            flex-direction: column;
            & span {
              color: $color-white;
              text-transform: uppercase;
              font-size: 1.3rem;
              letter-spacing: 0.3rem;
              line-height: 1.5rem;
              font-weight: 600;
            }
          }

          &__title {
            font-size: 5rem;
            font-weight: 400;
            letter-spacing: 0.1rem;
            display: flex;
            align-self: end;
            line-height: 6.5rem;

            position: relative;
            align-items: flex-end;

            & .btn-cta-round {
              margin-bottom: 1.4rem;
              margin-left: 1.5rem;
            }

            @media only screen and (max-width: $bp-large) {
              flex-direction: column;
              align-items: center;
              & .btn-cta-round {
                margin-bottom: 1rem;
                margin-top: 1rem;
                margin-left: 0rem;
              }
            }

            @media only screen and (max-width: $bp-small) {
              font-size: 3.5rem;
              line-height: 4rem;
              margin-bottom: 1rem;
            }

            &.active {
              grid-column: 1 / span 1;
              grid-row: 2 / span 1;
              user-select: none;
              font-size: 1.3rem;

              font-weight: 600;
              letter-spacing: 0.2rem;
              color: rgba($color-supporting, 0.8);
              text-transform: uppercase;
              display: flex;
              line-height: 1.3rem;

              justify-content: flex-end;

              padding-right: 4rem;
              padding-left: 2rem;
              align-items: center;
              height: 100%;
              max-width: 100%;
              min-width: 28rem;
              position: relative;

              @media only screen and (max-width: $bp-medium) {
                display: none;
              }

              &::before {
                content: "";
                width: 1px;
                //transform: translateX(4rem);
                height: 40%;
                background-color: $color-grey-light-1a;
                position: absolute;
                right: 2rem;
              }
            }
          }
          &__subtitle {
            font-size: 1.4rem;
            font-weight: 300;
            letter-spacing: 0.1rem;
            display: block;
            padding-bottom: 1.5rem;
            padding-top: 0.8rem;

            @media only screen and (max-width: $bp-large) {
              font-weight: 400;
            }
          }
        }

        &__nav {
          user-select: none;
          width: 60%;

          @media only screen and (max-width: $bp-large) {
            display: none;
          }

          &__list {
            align-self: center;
            width: 100%;

            display: flex;

            list-style: none;
            justify-content: start;

            padding: 1.5rem 0;
            margin-bottom: 0.5rem;

            &__item {
              margin-right: 3rem;

              &__link {
                display: block;
                position: relative;

                font-size: 1.6rem;
                font-weight: 700;
                letter-spacing: 0.1rem;
                //text-transform: uppercase;
                text-decoration: none;
                color: $color-white;

                //line hover
                &::after {
                  content: "";
                  position: absolute;
                  height: 2px;
                  width: 0%;
                  bottom: -0.5rem;
                  left: 0;
                  background-color: $color-grey-light-1;
                  transition: all 0.2s;
                }

                &:hover {
                  &::after {
                    content: "";
                    width: 100%;
                  }
                }
              }
            }
          }

         
        }

        &__cta {
          display: none;
          margin-bottom: 8rem;
          & button {
            transform: scale(1.2);

            @media only screen and (max-width: $bp-small) {
              transform: scale(1);
            }
          }
          @media only screen and (max-width: $bp-large) {
            display: block;
          }
          @media only screen and (max-width: $bp-small) {
            margin-bottom: 5rem;
          }
        }

        &__gallery-expand {
          position: absolute;
          bottom: 0;
          right: 6rem;

          background-color: $color-grey-3;
          color: $color-grey-light-1a;
          font-size: 1.3rem;
          text-transform: uppercase;
          letter-spacing: 0.2rem;
          padding: 1rem 1.5rem;
          z-index: 30;
          cursor: pointer;

          display: none;

          @media only screen and (max-width: $bp-large) {
            display: block;
          }

          @media only screen and (max-width: $bp-small) {
            right: 3rem;
            font-size: 1.2rem;

            padding: 0.75rem 1.2rem;
          }
        }
      }
    }

    //BOTTOM
    &__bottom {
      bottom: 0;
      left: 0;
      z-index: 5;

      width: 100%;
      background-color: $color-grey-light-1;
      display: flex;
      justify-content: center;
      border-bottom: 1px solid $color-grey-light-1a;
      border-top: 1px solid $color-grey-light-1a;

      padding-bottom: 1rem;
      @media only screen and (max-width: $bp-large) {
        padding-bottom: 0rem;
        border-top: none;

        //align-items: center;
      }

      //bottom content (info)
      &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        max-width: $page-width;
        @include flexPadding;

        &__info-group {
          display: flex;
          flex-direction: column;
          width: 50%;

          @media only screen and (max-width: $bp-large) {
            width: 100%;
            //align-items: center;
          }

          //Starting At / CTA
          &__info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin: 2rem 0;
            flex-wrap: wrap;
            @media only screen and (max-width: $bp-large) {
              display: none;
            }

            &__starting-price {
              display: flex;
              align-items: center;
              position: relative;

              @media only screen and (max-width: $bp-small) {
                flex-direction: column;
                align-items: flex-start;
              }

              &__title-area {
                color: $color-primary;
                text-align: right;
                padding-right: 1.3rem;
                border-right: 1px solid $color-grey-light-2;
                display: flex;
                flex-direction: column;

                @media only screen and (max-width: $bp-small) {
                  border-right: none;
                  padding-right: 0rem;
                  text-align: left;
                }

                &__subtext {
                  font-size: 1.2rem;
                  color: $color-grey-2;
                  font-weight: 400;
                }

                &__text {
                  font-size: 1.6rem;
                  line-height: 1.6rem;
                  font-weight: 700;
                }
              }

              &__amount {
                color: $color-primary;
                padding-left: 1.3rem;
                font-size: 3.6rem;
                font-weight: 500;
                //letter-spacing: 0.1rem;

                & span {
                  transform: translateX(-1rem);
                  color: $color-primary;
                }

                @media only screen and (max-width: $bp-small) {
                  padding-left: 0rem;
                }
              }

              &__description {
                position: absolute;
                bottom: -1rem;
                left: 0;
                font-size: 1.1rem;
                letter-spacing: 0.1rem;
                text-align: start;
                white-space: nowrap;
              }
            }

            &__cta {
              margin-left: 2.5rem;

              // @media only screen and (max-width: $bp-small) {
              //   position: absolute;
              //   top: 1.5rem;
              //   right: -0.5rem;
              // }
            }
          }

          &__attributes {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 2.5rem 0;

            font-size: 1.4rem;
            column-gap: 3rem;
            row-gap: 2rem;
            position: relative;

            &::before {
              //top border
              content: "";
              position: absolute;
              height: 1px;
              width: 100%;
              top: 0rem;
              left: 0;
              background-color: $color-grey-light-1a;
            }

            @media only screen and (max-width: $bp-large) {
              &::before {
                display: none;
              }
              justify-items: center;
            }

            @media only screen and (max-width: $bp-small) {
              column-gap: 1rem;
            }

            &__item {
              color: $color-primary;
              width: min-content;
              display: grid;
              grid-template-columns: min-content min-content;
              column-gap: 1rem;
              row-gap: 1.5rem;

              @media only screen and (max-width: $bp-large) {
                width: 100%;
                grid-template-columns: min-content;
                justify-items: center;
                justify-content: center;
                border: 1px solid $color-grey-light-1a;
                border-radius: 1rem;
                padding: 2rem 3rem;
              }
              @media only screen and (max-width: $bp-small) {
                padding: 1.5rem;   
              }

              &__icon {
                display: flex;
                align-items: center;
                & svg {
                  stroke: currentColor;             
                  color: currentColor;
                  fill: currentColor;
                  stroke-width: 4;
                  height: 3rem;
                  width: 3rem;

                  @media only screen and (max-width: $bp-large) {
                    height: 4rem;
                    width: 4rem;    
                  }
                  @media only screen and (max-width: $bp-small) {
                    height: 3rem;
                    width: 3rem;    
                  }
                }
              }

              &__text {
                font-size: 1.6rem;
                line-height: 2.5rem;
                font-weight: 700;
                //text-transform: uppercase;
                width: max-content;

                & .sub-attribute {
                  font-size: 1.1rem;
                  line-height: 1.6rem;
                  font-weight: 600;
                }
              }
            }
          }

          &__extras {
            display: flex;
            padding: 2rem 0;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              height: 1px;
              width: 100%;
              top: 0rem;
              left: 0;
              background-color: $color-grey-light-1a;
            }

            &__item {
            }
          }
        }

        &__nav {
          grid-row: 3 / -1;
          justify-self: start;
          align-self: end;
          width: 100%;
          &__list {
            list-style: none;
            display: grid;
            grid-auto-flow: column;

            & .current {
              background-color: $color-white;
              border: 1px solid $color-grey-light-1a;
              border-bottom: 1px solid $color-white;
              color: $color-supporting;
              height: 100%;
            }

            &__item {
              //text-transform: uppercase;
              font-size: 1.8rem;
              font-weight: 700;
              position: relative;
              cursor: pointer;
              display: block;
              align-self: end;
              transition: all 0.2s;
              padding: 1rem;
              text-align: center;

              height: 95%;

              box-sizing: border-box;
              //margin: 1px;

              border: 1px solid transparent;

              &:hover {
                background-color: $color-white;

                &:not(.current) {
                  border: 1px solid $color-grey-light-1a;
                }
                color: $color-supporting-light;
              }
            }
          }
        }

        @media only screen and (max-width: $bp-large) {
          width: 100%;

          text-align: center;
          &__nav {
            justify-self: center;
          }
        }
      }
    }

    //GALLERY
    &__gallery {
      position: absolute;
      bottom: 2rem;
      right: 0;
      z-index: 12;
      width: calc(50% - 6rem); //minus 6rem because there is a total of 12rem margin

      &__nav {
        & .hero-gallery-slider-prev {
          position: absolute;
          z-index: 25;
          top: -4.5rem;
          left: 0;
        }
        & .hero-gallery-slider-next {
          position: absolute;
          z-index: 25;
          top: -4.5rem;
          left: 5rem;
        }
      }

      @media only screen and (max-width: $bp-large) {
        display: none;
      }

      &__slider {
        z-index: 20;
        width: 100%;

        @media only screen and (max-width: $bp-large) {
          display: none;
        }

        &__item {
          // slide wrapper with padding for shadow
          height: 100%;
          width: 100%;
          padding: 1rem 0;
          padding-right: 1rem;

          &__link {
            // link wrapper
            height: 100%;
            width: 100%;

            & img {
              height: 100%;
              width: 100%;
              object-fit: cover;
              border-radius: 1rem;
              overflow: hidden;
              box-shadow: $shadow-short-bottom;
            }
          }
        }
      }
    }
  }
}

.mobile-info {
  display: none;
  justify-content: space-between;
  align-items: center;

  @include flexPadding;
  height: 10rem;
  border-top: 1px solid $color-grey-light-2;
  position: fixed; //NEW
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 150;
  background-color: $color-grey-light-1;

  @media only screen and (max-width: $bp-large) {
    display: flex;
  }

  &__starting-price {
    display: flex;
    align-items: center;
    position: relative;

    &__title-area {
      color: $color-primary;
      text-align: right;
      padding-right: 1.3rem;
      border-right: 1px solid $color-grey-light-2;
      display: flex;
      flex-direction: column;

      &__subtext {
        font-size: 1.2rem;
        color: $color-grey-2;
        font-weight: 400;
      }

      &__text {
        font-size: 1.6rem;
        line-height: 1.6rem;
        font-weight: 700;
      }
    }

    &__amount {
      color: $color-primary;
      padding-left: 1.3rem;
      font-size: 3.6rem;
      font-weight: 500;
      //letter-spacing: 0.1rem;

      & span {
        transform: translateX(-1rem);
        color: $color-primary;
      }
    }

    &__description {
      position: absolute;
      bottom: -1rem;
      left: 0;
      font-size: 1.1rem;
      letter-spacing: 0.1rem;
      text-align: start;
      white-space: nowrap;
    }
  }

  &__cta {
    margin-left: 2.5rem;

    // @media only screen and (max-width: $bp-small) {
    //   position: absolute;
    //   top: 1.5rem;
    //   right: -0.5rem;
    // }
  }
}
