.departures-modal {
    &__filters {   
        display: flex;
        justify-content: space-between;
        align-items: center;     
    }
    &__content {
        margin-top: 1.5rem;
        & .information-card {
            margin-bottom: 2rem;
        }
    }
}

.cabins-modal {
    &__filters {
        display: flex;
        align-items: center;
        
        font-size: 1.6rem;
        font-weight: 700;
        color: $color-supporting;
    }
    &__content {
        margin-top: 1.5rem;
        & .information-card {
            margin-bottom: 2rem;
        }
    }
}

