// cruise itinerary map
// home variant with routes
.cruise-itineraries {
    @include flexBlock;
    overflow: hidden;

    //routes
    &.home-variant {
        & .cruise-itineraries__content {
            max-width: $page-width-full;
        }
        & .cruise-itineraries__content__main {
            height: 70rem;
            @media only screen and (max-width: $bp-small) {
                height: 42rem;
            }
        }

        & .cruise-itineraries__content__top__title {
            grid-column: 1 /-1;
        }
        & .cruise-itineraries__content__top__nav-area {
            grid-column: 1 / span 2;
            transform: translateY(-1.2rem);
            @media only screen and (max-width: $bp-medium) {
                transform: translateY(0);
            }
        }
        & .cruise-itineraries__content__top__nav {
            @media only screen and (max-width: $bp-medium) {
                display: none;
            }
        }

        & .cruise-itineraries__content__main__detail-area {
            width: 55rem;
            @media only screen and (max-width: $bp-large) {
                width: 46rem;
            }
            @media only screen and (max-width: $bp-medium) {
                width: 100%;
            }
        }

        & .cruise-itineraries__content__top {
            grid-template-columns: 26rem calc(100% - 40rem) 8rem;
            @media only screen and (max-width: $bp-medium) {
                grid-template-columns: calc(100% - 8rem) 8rem;
            }
        }
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        @include flexPadding;
        @include topDivider;
        margin-top: 3rem;
        max-width: $page-width;

        &__top {
            display: grid;
            grid-template-columns: 20rem calc(100% - 34rem) 8rem;
            gap: 3rem;
            width: 100%;
            margin-bottom: 1rem;

            @media only screen and (max-width: $bp-medium) {
                grid-template-columns: calc(100% - 8rem) 8rem;
                gap: 0rem;
                margin-bottom: 1.5rem;
            }

            &__title {
            }

            &__nav-area {
                padding-top: 1rem;
                height: min-content;
                width: 100%;

                @media only screen and (max-width: $bp-largest) {
                    padding-top: 0rem;

                }

                @media only screen and (max-width: $bp-medium) {
                    order: 3;
                    grid-column: 1 / -1;
                }

                &__slider {
                    position: relative;

                    @media only screen and (max-width: $bp-small) {
                        padding-left: 0;
                        padding-right: 0;
                        -webkit-mask-image: none;
                        mask-image: none;

                        &.swiper {
                            overflow: visible;
                        }
                    }
             
                    &__item {
                        &__button {

                            box-shadow: $shadow-short-bottom-light;
                            width: 100%;
                            //height: 3.5rem;
                            cursor: pointer;
                            position: relative;
                            background-color: $color-white;
                            font-size: 1.4rem;
                            border-radius: 2rem;
                            transition: all 0.2s;
                            border: 1px solid $color-grey-light-1a;
                            color: $color-primary;
                            font-size: 1.4rem;
                            font-weight: 700;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 1rem;
                            gap: 1rem;
                            &.vertical {
                                flex-direction: column;
                                gap: .5rem;
                            }
                        }

                        &.swiper-slide-thumb-active {
                            & button {
                                border: 1px solid $color-primary;
                            }
                        }
                    }
                }
            }

            &__nav {
                position: relative;
                display: grid;
                grid-template-columns: min-content min-content;
                column-gap: 0.8rem;

                & .swiper-button-prev,
                .swiper-button-next {
                    position: relative !important;
                    right: auto;
                    left: auto;
                }
            }
        }

        &__main {
            width: 100%;
            height: 60rem;
            display: flex;
            justify-content: space-between;
            position: relative;

            @media only screen and (max-width: $bp-medium) {
                align-items: flex-end;
            }
            @media only screen and (max-width: $bp-small) {
                height: 48rem;
            }

            &__detail-area {
                width: 46rem;
                transform: translateX(-3rem) translateY(-1.5rem); // for shadow
                z-index: 2;

                @media only screen and (max-width: $bp-medium) {
                    width: 100%;
                    height: min-content;
                    padding: 0 2.5rem;
                    padding-bottom: 3rem;
                    transform: translateY(0) translateX(0);
                }

                &__slider {
                    @media only screen and (max-width: $bp-medium) {
                        width: 100%;
                        position: relative;
                        top: auto;
                        transform: translateY(0) translateX(0);
                        order: 2;
                    }

                    &__slide {
                        user-select: none;
                        padding: 3rem;

                        .tiny-card {
                            display: none !important;
                        }

                        @media only screen and (max-width: $bp-medium) {
                            .tiny-card {
                                display: grid !important;
                            }
                            

                            .resource-card {
                                display: none !important;
                            }
                        }

                        @media only screen and (max-width: $bp-small) {
                            padding: 0rem;
                            box-shadow: none !important;
                            border: 1px solid $color-grey-light-1a;
                            border-radius: 1rem;

                            .avatar {
                                grid-template-columns: 1fr;
                            }
                            .avatar__image-area {
                                display: none;
                            }
                        }
                    }
                }
            }

            &__map-area {
                position: absolute;
                top: 0;
                right: 0;
                border-radius: 1rem;
                border: 1px solid $color-grey-light-1a;
                background-color: $color-grey-light-1;

                width: 80%;
                height: 100%;

                @media only screen and (max-width: $bp-medium) {
                    width: 100%;

                    & .map-legend {
                        top: 10px;
                        bottom: auto;
                        left: 10px;
                        right: auto;
                    }
                }

                &__map {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 1rem;
                    overflow: hidden;
                }

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
