.cruise-dates {
    &__content {
        @include topDivider;
    }
}

//move to product
.departures-modal {

    &__filters {
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        transform: translateY(-2rem);

        
    }
    &__content {
        & .information-card {
            margin-bottom: 2rem;
        }
    }
}




