.cruise-gallery {
    width: 100%;
    height: 100%;
    max-width: $page-width;
    display: flex;
    flex-direction: column;
    color: $color-white;
    align-items: center;
    padding: 0 4rem;
    padding-bottom: 4rem;
    @media only screen and (max-width: $bp-medium) {
        padding: 0 2rem;
        padding-bottom: 10rem;
    }

    &__top {
        width: 100%;
        height: 8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;
        & .close-modal-button {
            background-color: rgba($color-white, 0.1);
            -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);

            &:hover {
                background-color: rgba($color-white, 0.3);
            }
        }
    }

    &__main {
        height: calc(100% - 28rem);
        width: 100%;
        padding-bottom: 4rem;
        @media only screen and (max-width: $bp-medium) {
            height: auto;
            padding-bottom: 1rem;
        }

        &__slider {
            height: 100%;
            width: 100%;
            &__item {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                
                & img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 1rem;
                    overflow: hidden;
                    margin: 0 8rem;
                    @media only screen and (max-width: $bp-medium) {
                        margin: 0rem;
                    }
                }
            }
        }
    }

    &__nav {
        height: 20rem;
        width: 100%;

        @media only screen and (max-width: $bp-medium) {
            height: 10rem;
        }
     
        &__slider {
            height: 100%;
            width: 100%;
            &__item {
                height: 100%;
                width: 100%;
                cursor: pointer;
                & img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 1rem;
                }
            }
        }
    }
}
