.cruise-itineraries {
    @include flexBlock;

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        @include flexPadding;
        @include topDivider;
        padding-bottom: 3rem !important;
        max-width: $page-width;
       

        &__top {
            display: grid;
            grid-template-columns: 1fr min-content;
            &__title {
            }

            &__nav {
                position: relative;
                display: grid;
                grid-template-columns: min-content min-content;
                column-gap: 0.8rem;
                //width: 10rem;

                & .swiper-button-prev,
                .swiper-button-next {
                    position: relative !important;
                    right: auto;
                    left: auto;
                }
            }
        }

        &__main {
            width: 100%;
            height: 60rem;
            display: flex;
            justify-content: space-between;
       
            position: relative;
            @media only screen and (max-width: $bp-small) {
                height: min-content;
                margin-bottom: 3rem;
                flex-direction: column;
            }

            &__nav-area {
                height: min-content;
                width: calc(100% - 46rem);
                transform: translateX(-1px);
                z-index: 10;
                user-select: none;

                @media only screen and (max-width: $bp-small) {
                    width: 100%;
                }

                &__slider {
                    position: relative;
                    padding-left: 5rem;
                    padding-right: 2rem;
                    -webkit-mask-image: linear-gradient(to right, transparent, $color-black 5rem);
                    mask-image: linear-gradient(to right, transparent, $color-black 5rem);

                    @media only screen and (max-width: $bp-small) {
                        padding-left: 0;
                        padding-right: 0;
                        -webkit-mask-image: none;
                        mask-image: none;
                    }


                    &__item {
                        padding: 1rem 0.2rem;
                        width: min-content !important;
                        
                        &__button {
                            box-shadow: $shadow-short-bottom-light;
                            width: max-content;
                            padding: 0.8rem 1.6rem;
                            cursor: pointer;
                            position: relative;   
                            background-color: $color-white;
                            font-size: 1.4rem;
                            border-radius: 1rem;
                            transition: all 0.2s;               
                            border: 1px solid $color-grey-light-1a;

                            &__title {
                                font-size: 1.4rem;
                                padding-bottom: .5rem;
                            }

                            &__length {
                                font-weight: 700;
                            }
                        }

                        &.swiper-slide-thumb-active {
                            & button {
                                border: 1px solid $color-primary;
                            }
                        }
                    }
                }
            }

            &__detail-area {
                width: 46rem;
                transform: translateX(-3rem) translateY(-1.5rem); // for shadow
                z-index: 2;

                &__slider {
                    &__slide {
                        user-select: none;
                        padding: 3rem;
                        @media only screen and (max-width: $bp-small) {
                            padding: 0rem;
                            box-shadow: none !important;
                            border: 1px solid $color-grey-light-1a;
                            border-radius: 1rem;
                        }
                    }
                }

                @media only screen and (max-width: $bp-small) {
                    width: 100%;
                    position: relative;
                    top: auto;
                    transform: translateY(0) translateX(0);
                    order: 2;
                }
            }

            &__map-area {
                position: absolute;
                top: 0;
                right: 0;

                width: 80%;
                height: 100%;

                @media only screen and (max-width: $bp-small) {
                    display: none;
                }
                border-radius: 1rem;
                border: 1px solid $color-grey-light-1a;
                background-color: $color-grey-light-1;
                &__map {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 1rem;
                    overflow: hidden;
                }

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
