// COLOR VARIABLES

// $color-primary: #1d2225;
// $color-primary-dark: #1d2225;
// $color-footer: #1d2225;
// $color-primary-light: #1f3f5a;
// $color-tertiary: #108054;
// $color-supporting: #347fff;
// $color-supporting-light: #4d8eff;
// $color-supporting-selection: #eff6ff;
// $color-supporting-light-2: #4381b3;
// $color-supporting-light-3: #6da9db;

$color-primary: #003548;
$color-primary-dark: #003548;
$color-footer: #003548;

$color-primary-light: #003548;
$color-tertiary: #108054;
$color-supporting: #005085;
$color-supporting-light: #005085;
$color-supporting-selection: #a7dcf8;
$color-supporting-light-2: #005085;
$color-supporting-light-3: #005085;


$color-green: #00ac78;
$color-red: #de5c52;
$color-orange: #ffa600; 
$color-purple: #7862d8;
$color-gold: #d9a402;


// $color-gold-dark-1: #bb8e06;
// $color-gold-dark: #8e7d2e;
// $color-gold-light: #fbcf00;
// $color-khaki: #a06f3c;
$color-gold-dark-1: #b58a72;
$color-gold-dark: #b58a72;
$color-gold-light: #b58a72;
$color-khaki: #b58a72;


$color-white: #fff; 
$color-black: #12100b;
$color-black-highlight: #12100b;
$color-charcoal: #12100b;

$color-grey-light-1: #f8f8f8;
$color-grey-light-1a: #e6e6e6;
$color-grey-light-2: #c2c6c9;

$color-beige-1: #f4efec;
$color-beige-2: #f4efec; 

$color-grey-1: #9ea0a4;
$color-grey-2: #919598;
$color-grey-3: #747474;
$color-grey-4: #3b3b3b;


$color-blue-grey-1: #838f94; 

//border
$inner-border-dark: inset 0px 0px 0px 2px $color-primary;
$inner-border-light: inset 0px 0px 0px 1px $color-grey-light-1a;

@mixin font($font-family, $font-file, $weight) {
  @font-face {
    font-family: $font-family;
    src: url($font-file + ".ttf");
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
  }
}

@include font("Metropolis", "../fonts/Metropolis/Metropolis-ExtraLight", 300);
@include font("Metropolis", "../fonts/Metropolis/Metropolis-Regular", 400);
@include font("Metropolis", "../fonts/Metropolis/Metropolis-Medium", 500);
@include font("Metropolis", "../fonts/Metropolis/Metropolis-SemiBold", 600);
@include font("Metropolis", "../fonts/Metropolis/Metropolis-Bold", 700);
@include font("Metropolis", "../fonts/Metropolis/Metropolis-Black", 800);


@include font("Playfair Display", "../fonts/PlayfairDisplay/static/PlayfairDisplay-Regular", 400);
@include font("Playfair Display", "../fonts/PlayfairDisplay/static/PlayfairDisplay-Medium", 500);
@include font("Playfair Display", "../fonts/PlayfairDisplay/static/PlayfairDisplay-SemiBold", 600);
@include font("Playfair Display", "../fonts/PlayfairDisplay/static/PlayfairDisplay-Bold", 700);
@include font("Playfair Display", "../fonts/PlayfairDisplay/static/PlayfairDisplay-ExtraBold", 800);

 
@include font("Sorts Mill Goudy", "../fonts/SortsMillGoudy/SortsMillGoudy-Regular", 400);
@include font("Sorts Mill Goudy", "../fonts/SortsMillGoudy/SortsMillGoudy-Regular", 500);
@include font("Sorts Mill Goudy", "../fonts/SortsMillGoudy/SortsMillGoudy-Regular", 600);
@include font("Sorts Mill Goudy", "../fonts/SortsMillGoudy/SortsMillGoudy-Regular", 700);
@include font("Sorts Mill Goudy", "../fonts/SortsMillGoudy/SortsMillGoudy-Regular", 800);


@include font("Almarai", "../fonts/Almarai/almarai-latin-300-normal", 300);
@include font("Almarai", "../fonts/Almarai/almarai-latin-400-normal", 400);
@include font("Almarai", "../fonts/Almarai/almarai-latin-400-normal", 500);
@include font("Almarai", "../fonts/Almarai/almarai-latin-700-normal", 600); 
@include font("Almarai", "../fonts/Almarai/almarai-latin-700-normal", 700);
@include font("Almarai", "../fonts/Almarai/almarai-latin-800-normal", 800);
 

// FONT VARIABLES
// $font-primary: "Metropolis", sans-serif;
// $font-secondary: "Playfair Display", serif;

$font-primary: "Almarai", sans-serif;
$font-secondary: "Sorts Mill Goudy", serif;



//shadows
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-medium: 0 2rem 6rem rgba(0, 0, 0, 0.2);
$shadow-medium-short: 0 2rem 3rem rgba(0, 0, 0, 0.2);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.13);
$shadow-bottom: 0 2rem 5rem -4rem rgba(0, 0, 0, 0.3);
$shadow-dark-bottom: 0 3rem 3rem -1rem rgba(0, 0, 0, 0.25);
$shadow-medium-bottom: 0 2rem 2rem -1rem rgba(0, 0, 0, 0.25);
$shadow-short-bottom: 0 1rem 1rem -1rem rgba(0, 0, 0, 0.4);
$shadow-short-bottom-light: 0 1rem 1rem -1rem rgba(0, 0, 0, 0.1);

$shadow-medium-around: 0 0rem 3rem rgba(0, 0, 0, 0.2);
$shadow-short-around: 0 0rem 2rem rgba(0, 0, 0, 0.5);

//RESPONSIVE BREAKPOINTS (use em unit)
$bp-xlargest: 90em; // 1440px

$bp-largest: 75em; // 1200px 
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
$bp-xsmall: 25em; // 400px
$bp-xxsmall: 22em; // 352px -- iphone 5/SE

//remove
$page-top-padding: 10rem;


//Page Width
$page-width: 128rem;
$page-width-full: 160rem;




$page-width-narrow: 92rem;






//GRID TEMPLATES
$page-container: [full-start] minmax(6rem, 1fr) [center-start]
  repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

$page-container-small: [full-start] minmax(3rem, 1fr) [center-start]
  repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
