.nav-search-cta-mobile {
    display: none;
    grid-template-columns: min-content min-content;
    border-radius: 4rem;
    border: 1px solid rgba($color-grey-light-1a, 1);
    align-items: center;
    background-color: rgba($color-white, 0.05);
    padding: 0 0.3rem;
    cursor: pointer;

    @media only screen and (max-width: $bp-medium) {
        display: grid !important;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3.2rem;
        width: 3.2rem;

        & svg {
            height: 1.6rem;
            width: 1.6rem;
            fill: $color-primary;
        }
    }
    &__text {
        margin-right: 1rem;
    }
}



.nav-search-cta {
    display: grid;
    grid-template-columns: min-content min-content;
    border-radius: 4rem;
    border: 1px solid rgba($color-grey-light-1a, 0);
    align-items: center;
    background-color: rgba($color-white, 0.05);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    padding: 0 0.2rem;
    cursor: pointer;

    @media only screen and (max-width: $bp-medium) {
        display: none !important;
    }

    &__input {
        padding: 1rem 2rem;      
        align-items: center;
        line-height: 1.8rem;

        display: grid;
        gap: 4rem;
        grid-template-columns: max-content max-content;
        &__search {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                right: -2rem;
                top: 0;
                width: 1px;
                height: 100%;
                background-color: $color-grey-light-1a;
                opacity: .4;
            }
        }
    }

    &__button {
        height: 3.4rem;
        width: 3.4rem;
        background-color: rgba($color-white, 0.1);
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        border-radius: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        & svg {
            height: 1.6rem;
            width: 1.6rem;
            fill: $color-white;
        }
    }
}




