.itinerary-days {
    @include flexBlock;

    &__content {
        position: relative;

        width: 100%;
        max-width: $page-width;
        margin-top: 3rem;

        &__title {
            font-size: 2.4rem;
            font-weight: 700;
            color: $color-primary;
        }

        &__layout {
            display: grid;
            grid-template-columns: 30rem calc(100% - 33rem);
            gap: 3rem;
            margin-top: 2rem;
            &__nav-slider {
                height: 100%;

                & .slick-slide {
                    border: none !important;
                }

                & .slick-slide {

                    &:first-child {
                        .day-slide-nav__line {
                            top: auto;
                            bottom: 0;
                            left: 1.9rem;
                            height: 35%;
                        }
                    }

                    &:last-child {
                        .day-slide-nav__line {
                            top: 0;
                            bottom: auto;
                            left: 1.9rem;
                            height: 35%;
                        }
                    }

                    &.slick-current {

                        .day-slide-nav__day  {
                            transform: scale(1);
                        }
                        
                    }
                 

                }
            }

            &__slider {
                width: 100%;
                position: relative;

                &__btn-left {
                    transform: translateY(-50%);
                    position: absolute;
                    top: -3rem;
                    right: calc(4rem);
                    z-index: 20;
                }

                &__btn-right {
                    transform: translateY(-50%);

                    position: absolute;
                    top: -3rem;
                    right: calc(0rem);
                    z-index: 20;
                }
            }
        }
    }
}

.day-slide {
    width: 100%;

    &__top {
        &__meta {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 100%;
            &__day {
                font-size: 1.6rem;
                line-height: 1.6rem;
                color: $color-grey-1;
                font-weight: 700;
            }

            &__title {
                font-size: 2.4rem;
                color: $color-primary;
                font-weight: 700;
                margin-bottom: 2rem;
            }
        }
    }

    &__bottom {
        & img {
            float: left;
            width: 40%;
            height: auto;
            object-fit: cover;
            border-radius: 1rem;
            overflow: hidden;
            margin-right: 3rem;
            margin-bottom: 1rem;
        }
        padding-bottom: 4rem;
    }
}

.day-slide-nav {
    //padding: 2rem 2.5rem;
    //padding-left: 4rem;
    width: 100%;
    border: none;
    border-radius: 1rem;
    position: relative;
    min-height: 8rem;
    display: flex;
    align-items: center;

    &__day {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-supporting-selection;
        color: $color-primary;

        border-radius: 50%;
        height: 4rem;
        width: 4rem;
        z-index: 2;
        transform: scale(.5);
        transition: transform .2s;
    }

    &__line {
        position: absolute;
        top: 0;
        left: 1.9rem;
        background-color: $color-supporting-selection;
        height: 100%;
        width: 3px;
    }

    &__info {
        margin-left: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;
        &__name {
            &__title {
                font-size: 1.4rem;
                line-height: 1.8rem;
                font-weight: 700;
                color: $color-primary;
            }

            &__sub {
                font-size: 1.3rem;
            }
        }
    }
}
