.itinerary-days {
    @include flexBlock;

    &__content {
        position: relative;

        width: 100%;
        max-width: $page-width;
        margin-top: 3rem;

        &__layout {
            display: grid;
            grid-template-columns: 30rem calc(100% - 33rem);
            gap: 3rem;
            margin-top: 2rem;

            &__side-nav {
                display: flex;
                flex-direction: column;
                height: 100%;
                max-height: 35rem;

                &__title {
                }

                &__slider {
                    height: 100%;
                    width: 100%;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 2.4rem;
                        z-index: 10;
                        background-image: linear-gradient($color-white 30%, transparent);
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -5rem;
                        left: 0;
                        width: 100%;
                        height: 2.6rem;
                        z-index: 10;
                        background-image: linear-gradient(transparent, $color-white);
                    }

                    & .slick-slide {
                        border: none !important;
                    }

                    & .slick-slide {
                        &:first-child {
                            .day-slide-nav__line {
                                top: auto;
                                bottom: 0;

                                height: 45%;
                            }
                        }
                        &:last-child {
                            .day-slide-nav__line {
                                top: 0;
                                bottom: auto;

                                height: 45%;
                            }
                        }
                        &.slick-current {
                            .day-slide-nav__circle {
                                transform: scale(1);
                            }
                        }
                    }

                    &__btn-down {
                        position: absolute;
                        bottom: -6rem;
                        right: 1rem;
                        z-index: 20;
                    }

                    &__btn-up {
                        position: absolute;
                        bottom: -6rem;
                        right: 5rem;
                        z-index: 20;
                    }
                }
            }

            &__main {
                &__slider {
                    width: 100%;
                    height: 100%;
                    margin-bottom: 1rem;

                    position: relative;

                    &__btn-left {
                        transform: translateY(-50%);
                        position: absolute;
                        top: 1rem;
                        right: calc(4rem);
                        z-index: 20;
                    }

                    &__btn-right {
                        transform: translateY(-50%);

                        position: absolute;
                        top: 1rem;
                        right: calc(0rem);
                        z-index: 20;
                    }
                }
            }
        }
    }
}

.day-slide {
    width: 100%;

    &__title {
        font-size: 2.4rem;
        line-height: 2.4rem;
        font-weight: 700;
        color: $color-primary;

        padding-right: 10rem;
        margin-bottom: 2.4rem;

       
    }

    &__content {
        & img {
            float: left;
            width: 50%;
            max-width: 30rem;
            height: auto;
            object-fit: cover;
            border-radius: 1rem;
            overflow: hidden;
            margin-right: 3rem;
            margin-bottom: 1rem;
            margin-top: 0.5rem;
        }
        padding-bottom: 4rem;
    }
}

.day-slide-nav {
    width: 100%;
    border: none;
    border-radius: 1rem;
    position: relative;
    min-height: 8rem;
    display: flex !important;
    align-items: center;
    cursor: pointer;

    &__circle {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: $color-supporting-selection;

        border-radius: 50%;
        height: 1.5rem;
        width: 1.5rem;
        z-index: 4;
        transform-origin: center;
        transform: scale(0.65);
        transition: all 0.2s;
    }

    &__line {
        position: absolute;

        background-color: $color-supporting-selection;

        left: 0.7rem;
        height: 100%;
        width: 2px;
        z-index: 2;
    }

    &__title-group {
        margin-left: 4rem;
        &__title {
            font-size: 1.4rem;
            line-height: 1.8rem;
            font-weight: 700;
            color: $color-primary;
        }

        &__sub {
            font-size: 1.2rem;
            font-weight: 400;
            color: $color-grey-3;
        }
    }
}
