.itinerary-overview {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: $page-width;
    padding: 0 6rem;

    @media only screen and (max-width: $bp-small) {
        padding: 0 3rem;
    }

    &__grid {
        width: 100%;
        display: grid;
        grid-template-columns: 55% 45%;

        grid-template-rows: 30rem min-content;

        @media only screen and (max-width: $bp-large) {
            grid-template-rows: min-content;
        }

        @media only screen and (max-width: $bp-medium) {
            grid-template-columns: 100%;
        }

        &__content {
            grid-row: 1 / -1;
            padding-top: 3rem;
            padding-right: 4rem;

            @media only screen and (max-width: $bp-medium) {
                grid-row: auto;
            }

            &__highlights {
                padding-bottom: 1.5rem;

                &__list {
                    list-style: none;
                    font-size: 1.6rem;
                    & li {
                        display: grid;
                        grid-template-columns: min-content 1fr;
                        margin-bottom: 1.5rem;

                        & span {
                            font-weight: 700;
                            color: $color-primary !important;
                            //height: 2rem;
                            //width: 2rem;
                            margin-right: 2rem;
                            //margin-top: .2rem;
                        }
                    }
                }
            }

            &__transport {
               
                position: relative;
                padding-bottom: 2rem;
                padding-top: 2rem;
                &::before {
                    content: "";
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: $color-grey-light-1a;
                }

                &__title {
                    font-size: 1.8rem;
                    font-weight: 700;
                    color: $color-primary;
                    & span {
                        margin-left: .5rem;
                        color: $color-supporting-light;
                    }
                   
                }
                &__snippet {
                    font-size: 1.6rem;
                
                }

                &__cta {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                }
            }

            &__text {
                padding-bottom: 5rem;
                padding-top: 3rem;
                position: relative;

                &::before {
                    content: "";
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: $color-grey-light-1a;
                }
            }
        }

        &__map-area {
            position: relative;
            @media only screen and (max-width: $bp-large) {
                padding-top: 3rem;
            }
            @media only screen and (max-width: $bp-medium) {
                padding-bottom: 5rem;
            }

            & img {
                //transform: translateY(55%);
                position: absolute;
                bottom: 0;
                left: 0;

                @media only screen and (max-width: $bp-large) {
                    position: relative;
                }

                border-radius: 1rem;
                border: 1px solid $color-grey-light-1a;
                box-shadow: $shadow-medium-bottom;
                object-fit: contain;
                width: 100%;
                max-width: 48rem;
                height: auto;
            }
        }

        &__ship-area {
            padding-top: 5rem;
            padding-bottom: 5rem;
            min-height: 20rem;
            position: relative;

            @media only screen and (max-width: $bp-large) {
                grid-column: 1 / -1;

                &::before {
                    content: "";
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: $color-grey-light-1a;
                }
            }

            //Ship Card
            &__ship {
                display: grid;
                grid-template-columns: min-content 1fr;
                padding: 2rem 2.5rem;
                //gap: 3rem;
                width: 100%;
                margin-bottom: 3rem;
                border: 1px solid $color-grey-light-1a;
                border-radius: 1rem;

                &:link,
                &:visited {
                    text-decoration: none;
                    color: $color-grey-3;
                }

                &__avatar {
                    display: flex;
                    align-items: center;
                    & img {
                        height: 10rem;
                        width: 10rem;
                        border-radius: 50%;
                    }
                }

                &__info {
                    margin-left: 2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    &__name {
                        &__title {
                            font-size: 1.8rem;
                            font-weight: 700;
                            color: $color-primary;
                        }

                        &__sub {
                            font-size: 1.3rem;
                        }
                    }

                    &__cta {
                        display: flex;
                        justify-content: flex-end;
                        font-size: 1.4rem;
                        font-weight: 700;
                        color: $color-primary;
                    }
                }
            }

            &__title {
                font-size: 1.8rem;
                line-height: 2rem;
                font-weight: 700;
                color: $color-primary;

                &__sub {
                    font-size: 1.2rem;
                    font-weight: 400;
                    color: $color-grey-3;
                }
            }

            &__slider {
                margin-top: 3rem;
                & .slick-slide {
                    margin-right: 2rem;
                }
            }
        }
    }
}
