// CARDS ------------------------------------------------

//text card (reviews faq)
.text-card {
    margin-bottom: 2rem;

    &.encapsulated {
        padding: 2rem;
        border-radius: 1rem;
        border: 1px solid $color-grey-light-1a;
    }

    &__avatar {
        display: flex;
        align-items: center;

        &__image-area {
            height: 6rem;
            width: 6rem;
            border-radius: 6rem;
            margin-right: 1.5rem;
            background-color: rgba($color-primary, 0.7);
            color: $color-white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            letter-spacing: 0.2rem;
            z-index: 2;
            position: relative;
            & img {
                position: absolute;
                z-index: 10;
                height: 6rem;
                width: 6rem;
                border-radius: 6rem;
               
            }
        }

        &__title-group {
            &__title {
                color: $color-primary;
                font-size: 1.8rem;
                font-weight: 700;
            }
            &__sub {
                color: $color-grey-3;
                font-size: 1.4rem;
            }
        }
    }

    &__title-single {
        color: $color-primary;
        font-size: 1.8rem;
        line-height: 2.2rem;
        font-weight: 700;
    }

    &__text {
        margin-top: 1.5rem;
        font-size: 1.6rem;
    }

    &__expand {
        margin-top: 0.8rem;
    }
}

// image card with text on top
.overlay-card {
    height: 33rem;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;

    @media only screen and (max-width: $bp-small) {
        height: 24rem;
    }

    &.small {
        height: 22rem;

        @media only screen and (max-width: $bp-small) {
            height: 16rem;
        }

        & .overlay-card__content {
            padding: 1.5rem 2rem;
        }
    }
    &.large {
        height: 44rem;
    }
    &.shadow {
        box-shadow: $shadow-medium-around;
    }

    // Buttons and Nav
    & .swiper-button-next,
    .swiper-button-prev {
        opacity: 0;
    }

    &:hover {
        & .swiper-button-next,
        .swiper-button-prev {
            opacity: 1;
            transition: opacity 0.2s;
            display: flex;
        }
    }

    &__image-area {
        //z-index: -1;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &__item {
            width: 100%;
            height: 100%;
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 30%;

            width: 100%;
            z-index: 1;
            border-radius: 0.4rem;
            background-image: linear-gradient(to bottom, rgba($color-black, 0.3), rgba($color-black, 0));
        }
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        padding: 2rem 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;

        &:link,
        &:visited {
            text-decoration: none;
        }

        &__title-section {
            color: $color-white;

            &__sub {
                font-size: 1.2rem;
            }

            &__title {
                font-size: 1.8rem;
                font-weight: 700;
            }
        }

        &__cta {
        }
    }
}

// image with stats bottom - (image-area can be slider)
.resource-card {
    position: relative;
    color: $color-primary;
    display: flex !important;
    flex-direction: column;

    &__tag {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        width: max-content;
        padding: 0.5rem 1rem;
        background-color: $color-white;
        color: $color-primary;
        border-radius: 2rem;
        z-index: 10;
    }

    // Variants
    &.small {
        & .resource-card__image-area {
            height: 22rem !important;
        }
    }
    &.medium {
        & .resource-card__image-area {
            height: 28rem !important;
        }
    }

    &.large {
        & .resource-card__image-area {
            height: 44rem !important;
        }
    }
    &.shadow {
        & .resource-card__image-area {
            box-shadow: $shadow-short-bottom;
        }
    }

    //cruise-itinerary cards
    &.encapsulated {
        box-shadow: $shadow-medium-around;
        border-radius: 1rem;

        @media only screen and (max-width: $bp-small) {
            box-shadow: none;
        }

        & .resource-card__image-area {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        & .resource-card__content {
            background-color: rgba($color-white, 1);
            padding: 1.5rem 2rem;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }
    }

    // Swiper Buttons
    & .swiper-button-next,
    .swiper-button-prev {
        opacity: 0;

        @media only screen and (max-width: $bp-small) {
            opacity: 1;
        }
    }

    &:hover {
        & .swiper-button-next,
        .swiper-button-prev {
            opacity: 1;
            transition: opacity 0.2s;
            display: flex;
        }
    }

    &__image-area {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 33rem;
        border-radius: 1rem;
        overflow: hidden !important;

        @media only screen and (max-width: $bp-small) {
            height: 28rem;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__item {
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        padding: 1rem 0rem;
        color: currentColor;

        &__title {
            font-weight: 700;
            font-size: 1.8rem;
            font-weight: 700;
            margin-bottom: 0.5rem;

            &:link,
            &:visited {
                text-decoration: none;
                color: currentColor;
            }
        }

        &__title-group {
            display: grid;
            grid-template-columns: 1fr max-content;
            align-items: center;
            font-size: 1.8rem;
            line-height: 2.3rem;
            color: currentColor;

            &:link,
            &:visited {
                text-decoration: none;
                color: currentColor;
            }

            &__title {
                font-weight: 700;

                & span {
                    margin-left: 0.5rem;
                }
            }

            &__sub {
                font-size: 1.4rem;
            }

            margin-bottom: 0.5rem;
        }
        &__title-group-vertical {
            color: currentColor;
            font-size: 1.8rem;
            &__title {
                font-weight: 700;
            }

            &__sub {
                font-size: 1.4rem;
            }

            margin-bottom: 0.5rem;
        }

        &__specs {
            margin-bottom: 0.5rem;

            &.divider {
                margin-bottom: 1.5rem;
                padding-bottom: 1.5rem;
                border-bottom: 1px solid $color-grey-light-1a;
            }

            & .specs-item {
                margin-bottom: 0 !important;
            }
        }

        &__description {
            margin-bottom: 0.5rem;
            font-size: 1.4rem;
            //color: $color-grey-3;

            &.divider {
                margin-bottom: 1.5rem;
                padding-bottom: 1.5rem;
                border-bottom: 1px solid $color-grey-light-1a;
            }
        }

        &__bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__price-group {
                color: currentColor;
                font-size: 1.6rem;
                display: flex;
                align-items: flex-end;
                &__amount {
                    font-weight: 700;
                    margin-right: 0.5rem;
                }
                &__text {
                    font-size: 1.4rem;
                }
            }

            &__cta {
            }
        }
        // &__discount {
        //     transform: translateY(-0.2rem);
        //     font-size: 1.2rem;
        // }
    }
}

// mobile minimal info card
.tiny-card {
    position: relative;
    display: grid !important;
    grid-template-columns: 1fr min-content;
    gap: 3rem;
    align-items: center;

    border: 1px solid $color-grey-light-1a;
    border-radius: 1rem;

    padding: 1.5rem 2rem;
    position: relative;
    background-color: $color-white;
    text-decoration: none !important;

    @media only screen and (max-width: $bp-small) {
        gap: 1rem;
    }

    &__section {
    }
}

// departure / cabin data
.information-card {
    border: 1px solid $color-grey-light-1a;
    border-radius: 1rem;
    padding: 1.5rem 2rem;
    color: $color-primary;
    position: relative;
    background-color: $color-white;

    &--horizontal {
        & .information-card__bottom {
            justify-content: flex-end;
        }
        //above 600px
        @media only screen and (min-width: $bp-small) {
            display: grid;
            grid-template-columns: 1fr 24rem 12rem;
            column-gap: 2rem;
            align-items: center;
            min-height: 12rem;

            & .information-card__section {
                margin: 0rem;
                padding: 0rem;
                border-bottom: none;
            }

            & .information-card__bottom {
                margin: 0rem;
                padding: 0rem;
                border-bottom: none;
                flex-direction: column;
                justify-content: center;

                & button {
                    margin: 0.5rem 0rem;
                }

                &__price-group {
                    margin-right: 0rem;
                }
            }
        }
    }

    &__section {
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid $color-grey-light-1a;

        &__specs {
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__price-group {
            margin-right: 2rem;
        }

        &__deals {
            display: flex;
            align-items: center;

            & span {
                background-color: $color-grey-light-1;
                color: $color-primary;
                border-radius: 0.5rem;
                padding: 0.2rem 0.8rem;
                font-size: 1.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            & svg {
                height: 1.6rem;
                width: 1.6rem;
                color: $color-orange;
                margin-right: 0.5rem;
            }
        }

        &__cta {
            display: flex;
            flex-direction: column;
            align-items: center;

            & .btn-text-plain {
                margin-top: 0.3rem;
            }
        }
    }
}

// guide / deal items
.guide-item {
    margin: 1.5rem;
    margin-bottom: 6rem;
    box-shadow: $shadow-medium;
    background-color: $color-white;
    border-radius: 1rem;
    overflow: hidden;

    width: 36rem; //to fix isotope overlapping

    @media only screen and (max-width: $bp-small) {
        margin: 0rem;
        margin-bottom: 5rem;
        width: 100%; //to fix isotope overlapping
    }

    display: flex;
    flex-direction: column;

    &__image-area {
        height: 30rem;
        position: relative;

        @media only screen and (max-width: $bp-small) {
            height: 26rem;
        }

        & img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

        & .exclusiveDeal {
            position: absolute;
            top: 2rem;
            left: 2rem;
            z-index: 10;
            width: max-content;
            background: $color-white;
            color: $color-primary;
            border-radius: 4rem;
            font-size: 1.2rem;
            font-weight: 700;

            text-transform: uppercase;
            letter-spacing: 0.2rem;
            padding: 0.5rem 1.5rem;
            margin-right: 2rem;
        }
    }
    &__bottom {
        display: flex;
        flex-direction: column;

        padding: 2rem 3rem;

        &__category {
            text-transform: uppercase;
            color: $color-gold;
            font-size: 1.4rem;
            letter-spacing: 0.2rem;
            display: flex;
            flex-wrap: wrap;
            margin: 1rem 0;
            list-style: none;

            & li {
                white-space: nowrap;
                margin-right: 1rem;
                position: relative;

                &:not(:last-child) {
                    &::after {
                        content: ", ";
                        position: absolute;
                        right: -0.4rem;
                    }
                }
            }
        }

        &__title {
            color: $color-primary;
            &:link,
            &:visited {
                text-decoration: none;
                color: $color-primary;
                &:hover {
                    color: $color-supporting-light;
                }
            }

            & h3 {
                font-size: 3rem;
                font-weight: 500;
                letter-spacing: 0.1rem;
                line-height: 4rem;

                margin: 0.5rem 0;

                transition: all 0.2s;
            }
        }

        &__snippet {
            font-size: 1.6rem;
            padding: 1rem 0;
            padding-bottom: 2rem;
        }

        &__cta {
            &--multiple {
                display: flex;
                flex-wrap: wrap;
                border-top: 1px solid $color-grey-light-2;
                position: relative;
                margin-top: 2rem;
                padding-top: 1rem;
                & span {
                    position: absolute;
                    top: -2rem;
                    font-size: 1.2rem;
                    color: $color-primary;
                    letter-spacing: 0.1rem;
                }

                & a {
                    color: $color-primary;
                    background-color: $color-grey-light-1a;
                    padding: 0.5rem 1rem;
                    border: none;
                    margin: 0.5rem 1rem;
                    margin-left: 0rem;
                    letter-spacing: 0.1rem;
                    cursor: pointer;
                    border-radius: 4rem;
                    font-size: 1.2rem;

                    text-transform: uppercase;
                    font-weight: 700;
                    position: relative;
                    text-decoration: none;
                    white-space: nowrap;
                    transition: all 0.2s;
                    &:hover {
                        background-color: $color-grey-light-2;
                    }
                }
            }
        }
    }
}

.full-card {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 6rem;
    position: relative;

    @media only screen and (max-width: $bp-large) {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    &.reverse {
        .full-card__image-area {
            order: 0;
            @media only screen and (max-width: $bp-large) {
                order: 2;
            }
        }
    }

    &__image-area {
        position: relative;
        width: 100%;
        height: 100%;
        order: 2;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem;
            max-height: 40rem;

            @media only screen and (max-width: $bp-large) {
                max-height: 33rem;
            }

            @media only screen and (max-width: $bp-small) {
                max-height: 28rem;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: min-content;
        background-color: $color-white;
        border-radius: 1rem;
        z-index: 5;
        &__title {
            font-size: 2.2rem;
            line-height: 2.6rem;
            font-weight: 700;
            color: $color-primary;
            margin-bottom: 2rem;
        }

        &__description {
        }
    }
}

.deal-card {
    border: 1px solid $color-grey-light-1a;
    border-radius: 1rem;
    overflow: hidden;
    color: $color-primary;
    position: relative;
    background-color: $color-white;

    &__section {
        padding: 1.5rem 2rem;
        padding-bottom: 0rem;
    }

    &__description {
        margin: 1.5rem 2rem;
        margin-bottom: 0rem;
        padding-top: 1rem;
        border-top: 1px solid $color-grey-light-1a;
    }


    &__urgency {
        margin-top: 1rem;
        background-color: rgba($color-green, 0.2);
        padding: 1.5rem 2rem;
        font-size: 1.6rem;
        font-weight: 600;
        color: $color-primary;
        display: grid;
        grid-template-columns: min-content 1fr max-content;
        align-items: center;
        gap: 1.5rem;
        &__icon {
            height: 3rem;
            width: 3rem;
            color: currentColor;
        }
        &__text {

        }

        &__cta {
            
        }
        
    }
}

.deal-card-inline {
    border: 1px solid $color-grey-light-1a;
    border-radius: 1rem;
    color: $color-primary;
    position: relative;
    background-color: rgba($color-green, .2);
    padding: 1rem 2rem;
    padding-right: 3.5rem;
    font-size: 1.4rem;
    font-weight: 600;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 8rem;
    margin-bottom: 2rem;
    cursor: pointer;
    &__title {

    }

    &__cta {
        display: flex;
        justify-content: flex-end;
    }
}

// COMPONENTS ------------------------------------------------
.avatar {
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 2rem;
    align-items: center;
    position: relative;
  
    text-decoration: none !important;

    &--small {
        gap: 1rem;

        & .avatar__image-area {
            height: 6rem;
            width: 6rem;
        }

        & .avatar__title-group__title {
            padding-bottom: 0;
            line-height: 1.8rem;
        }

        & .avatar__title-group__sub {
            font-size: 1.2rem;
        }
    }

    &__image-area {
        display: flex;
        align-items: center;
        user-select: none;
        height: 8rem;
        width: 8rem;
        & img {
            height: 100%;
            width: 100%;
            border-radius: 8rem;
        }
    }

    &__title-group {
        &__title {
            color: $color-primary;
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 2rem;
            &:link {
                text-decoration: none;
            }
        }
        &__sub {
            color: $color-grey-3;
        }
    }
}

.specs-deal {
    font-size: 1.2rem;
    font-weight: 600;
    color: $color-primary;
    background-color: rgba($color-green, .2);
    border-radius: 2rem;
    width: max-content;
    padding: .5rem 2rem;
    cursor: pointer;
    display: flex;
    text-decoration: none !important;
    
    &:not(:last-child) {
        margin-bottom: 0.5rem;
    }
}

.specs-item {
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: min-content 1fr;
    color: $color-primary;

    &:not(:last-child) {
        margin-bottom: 0.5rem;
    }
    &__icon {
        & svg {
            height: 1.6rem;
            width: 1.6rem;
            fill: currentColor;
            color: currentColor;
            transform: translateY(1px);
        }
        margin-right: 1rem;
    }
    &__text {
        &__main {
            line-height: 2rem;
        }
        &__sub {
            font-size: 1.2rem;
            margin-left: 2px;
        }
    }
}

.price-display-group {
    width: min-content;
    &__text {
        font-size: 1.3rem;
        //font-weight: 700;
        white-space: nowrap;
        line-height: 2rem;
        color: $color-primary;
    }

    &__amount {
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2rem;
        white-space: nowrap;
        transition: all 0.2s;

        display: flex;

        &__main {
            margin-right: 1.5rem;
            &.discounted {
                text-decoration: line-through;
                color: $color-grey-1;
            }
        }

        &__discount {
        }

        &__sold-out {
            color: $color-red;
        }
    }

    &__sub {
        font-size: 1rem;
        line-height: 1.5rem;
        color: $color-grey-3;
        display: flex;
        justify-content: space-between;
        &__main {
            margin-right: 1rem;
        }

        &__discount {
            color: $color-green;
        }
    }
}


.date-chip {
    border: 1px solid $color-primary;
    padding: .4rem .7rem;
    border-radius: .5rem;
    font-size: 1.2rem;
    margin-right: .5rem;
}