
.contact {
    width: 100%;
    max-width: $page-width-narrow;
    height: min-content;
    //@include flexPadding;

    &__wrapper { 
        padding: 6rem 2rem;
        padding-bottom: 4rem;
        background-color: $color-white;
        border: 2px solid $color-primary;
        border-radius: 0.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        &__header {
            font-size: 4rem;
            font-weight: 500;
            margin-bottom: 2rem;
            text-align: center;
            color: $color-primary;
        }
        &__message {
            padding: 0 3rem;

            @media only screen and (max-width: $bp-small) {
                padding: 0 1rem;

            }

            & ul {
                font-size: 1.6rem;
                margin-left: 2rem;
                margin-bottom: 2rem;
            }
        }
        &__cta {
            display: flex;
            justify-content: center;
            margin-top: 3rem;

        }


        &__intro {
            margin-bottom: 3rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-bottom: 1px solid $color-grey-light-1a;
            padding-bottom: 3rem;
            width: 100%;
            max-width: 60rem;

            &__departure {
                font-size: 1.6rem;
                font-weight: 700;
                color: $color-supporting;
                display: none;
                margin-bottom: 1rem;
            }

            &__introtext {
                font-size: 1.6rem;
                text-align: center;
                margin-bottom: 0;
            }

            &__icon {
                display: flex;
                justify-content: center;
                & svg {
                    height: 4rem;
                    width: 4rem;
                    color: $color-primary;
                }
            }

            &__title {
                font-size: 3rem;
                line-height: 3.5rem;
                color: $color-primary;
                font-weight: 700;
                text-align: center;
                margin-bottom: 1rem;
            }

            &__subtitle {
                font-size: 1.6rem;
                text-align: center;
                max-width: 30rem;
                margin-bottom: 3rem;
            }

            &__phone {
                font-size: 3rem;
                color: $color-primary;
                font-weight: 700;
                text-align: center;
            }
        }

        &__form {
            width: 100%;
            max-width: 60rem;
        }

        &__close-button {
            position: absolute;
            top: 3rem;
            right: 3rem;

    

            @media only screen and (max-width: $bp-small) {
                top: 2rem;
            }
        }
    } 
}

.form-general {
    color: $color-primary;
    font-family: $font-primary;
    font-size: 16px;
    & .wpforms-field-label {
        text-transform: uppercase !important;
        font-size: 1.3rem !important;
        letter-spacing: 0.1rem !important;
    }

    & .wpforms-field-sublabel {
        //text-transform: uppercase !important;
        font-size: 1.3rem !important;
        //letter-spacing: 0.1rem !important;
    }

    & .wpforms-submit-spinner {
        position: absolute !important;
        //display: block !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
        bottom: -4rem !important;
    }

    & input {
        border-radius: 0px !important;
        //font-size: 1.6rem !important;
    }

    & textarea {
        font-family: $font-primary !important;
        //font-size: 1.6rem !important;
    }
  
    & .newsletter-form-text {
        font-size: 1.6rem !important;
    }

    & button {
        color: $color-white !important;
        background-color: $color-primary !important;
        padding: 0 3rem !important;

        letter-spacing: 0.3rem !important;
        cursor: pointer;
        border: none !important;
        font-size: 1.3rem !important;
        font-family: $font-primary !important;
        text-transform: uppercase !important;
        font-weight: 500 !important;
        // position: relative;
        // text-decoration: none;
        // white-space: nowrap;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // transition: all 0.2s;
        height: 5rem !important;
        width: 100% !important;
        margin-top: 3rem !important;
        // min-width: 20rem;
        // max-width: max-content;

        &:hover {
            color: $color-primary !important;
            background-color: $color-white !important;
            box-shadow: $inner-border-dark !important;
        }
    }
} 

.wpforms-container input[type=radio] {
    -webkit-appearance: radio !important;
    -moz-appearance: radio !important;
    appearance: radio !important;
    cursor: pointer;
}

.wpforms-field-checkbox label {
    cursor: pointer;
}

.wpforms-container input[type=checkbox] {
    -webkit-appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    appearance: checkbox !important;
    cursor: pointer;
} 

