.form-general {
    color: $color-primary;
    font-family: $font-primary;
    font-size: 1.6rem;
    & .wpforms-field-label {
        font-size: 1.3rem !important;
        letter-spacing: 0.1rem !important;
    }

    & .wpforms-field-sublabel {
        font-size: 1.3rem !important;
    }

    & .wpforms-submit-spinner {
        position: absolute !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
        bottom: -4rem !important;
    }

    & input {
        border-radius: .5rem !important;
    }

    & textarea {
        font-family: $font-primary !important;
        border-radius: .5rem !important;
    }
  
    & .newsletter-form-text {
        font-size: 1.6rem !important;
    }

    & button[type="submit"] {
        color: $color-white !important;
        background-color: $color-primary !important;
        padding: 0 3rem !important;

        letter-spacing: 0.3rem !important;
        cursor: pointer;
        border: none !important;
        font-size: 1.3rem !important;
        font-family: $font-primary !important;
        text-transform: uppercase !important;
        font-weight: 500 !important;
        height: 5rem !important;
        width: 100% !important;
        margin-top: 3rem !important;
        border-radius: 1rem !important;
        transition: all .2s;

        &:hover {
            color: $color-white !important;
            background-color: $color-supporting !important;
        }
    }
}  

.wpforms-container input[type=radio] {
    -webkit-appearance: radio !important;
    -moz-appearance: radio !important;
    appearance: radio !important;
    cursor: pointer;
}

.wpforms-field-checkbox label {
    cursor: pointer;
}

.wpforms-container input[type=checkbox] {
    -webkit-appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    appearance: checkbox !important;
    cursor: pointer;
} 

