.grid-block {
    @include flexBlock;
    position: relative;

    &.narrow {
        & .grid-block__content {
            max-width: $page-width;
        }
    }

    &__content {
        @include flexPadding;

        max-width: $page-width-full;
        margin-top: 3rem;

        &__top {
        }

        &__grid {
            width: 100%;
            display: grid;
            grid-template-columns: 100%;
            gap: 2rem;
 
            &.grid2 { 
                grid-template-columns: repeat(2, calc(50% - 1rem));
                
                @media only screen and (max-width: $bp-small) {
                    grid-template-columns: 100%;
                    gap: 4rem;
                }
            }

            &.grid3 { 
                grid-template-columns: repeat(3, calc(33% - 1rem));
                @media only screen and (max-width: $bp-medium) {
                    grid-template-columns: repeat(2, calc(50% - 1rem));
                }
                @media only screen and (max-width: $bp-small) {
                    grid-template-columns: 100%;
                    gap: 4rem;
                }
            }

            &.grid4 {
                grid-template-columns: repeat(4, calc(25% - 1rem));
                @media only screen and (max-width: $bp-large) {
                    grid-template-columns: repeat(3, calc(33% - 1rem));
                }
                @media only screen and (max-width: $bp-medium) {
                    grid-template-columns: repeat(2, calc(50% - 1rem));
                }
                @media only screen and (max-width: $bp-small) {
                    grid-template-columns: 100%;
                    gap: 4rem;
                }
            }

            &.grid5 {
                grid-template-columns: repeat(5, calc(20% - 1rem));
                @media only screen and (max-width: $bp-large) {
                    grid-template-columns: repeat(3, calc(33% - 1rem));
                }
                @media only screen and (max-width: $bp-medium) {
                    grid-template-columns: repeat(2, calc(50% - 1rem));
                }
                @media only screen and (max-width: $bp-small) {
                    grid-template-columns: 100%;
                    gap: 4rem;
                }
            }
        }

        &__cta {
            display: flex;
            justify-content: center;
            margin-top: 3rem;
        }
    }
}
