.inquire-form {
    width: 100%;
    &__intro {
        border-bottom: 1px solid $color-grey-light-1a;
        padding-bottom: 2rem;
        text-align: center;
        &__title {
            font-size: 3rem;
            line-height: 3.5rem;
            color: $color-primary;
            font-weight: 700;
            margin-bottom: 1rem;
        }

        &__selection {

            &__item{
                font-size: 1.6rem;
                font-weight: 700;
                color: $color-supporting;
                display: none;
                margin-bottom: 1rem;
            }
        }

        &__subtext {
            font-size: 1.6rem;
            margin-bottom: 0;
        }
    }

    &__form {
        margin-top: 2rem;
    }

    &__outro {
        font-size: 1.3rem;
        text-align: center;
        & a:link,
        a:visited {
            color: $color-supporting;
            text-decoration: none;
            font-weight: 600;
        }
    }
}
