.slider-block {
    @include flexBlock;
    position: relative;

    &.narrow {
        & .slider-block__content {
            max-width: $page-width;
            
        }
    }

    &.inverse {
        background-color: $color-black;
        
        & .slider-block__content {
            transform: translateY(-12rem);
            
        }
        & .title-single {
            color: $color-white !important;
        }
    }

    &.topfade {
        background-color: transparent;
        background-image:  linear-gradient(to top, rgba($color-black, 1) 70%, transparent)
    }

    &__content {
        @include flexPadding;

        max-width: $page-width-full;

        margin-top: 3rem;
        margin-bottom: 3rem;

        &__top {
            display: grid;
            grid-template-columns: 1fr min-content;
            &__title {
            }

            &__nav {
                position: relative;
                display: grid;
                grid-template-columns: min-content min-content;
                column-gap: .8rem;
                //width: 10rem;

                & .swiper-button-prev, .swiper-button-next {
                    position: relative !important;
                    right: auto;
                    left: auto;
                }
            }
        }

        &__slider {
            width: 100%;
        }

        &__filters {
            margin-top: 3rem;
            width: 100%;
            display: flex;

            & button {
                margin-right: 1rem;
            }
        }
    }
}


