.slider-block {
    @include flexBlock;
    position: relative;

    &.narrow {
        & .slider-block__content {
            max-width: $page-width;
            
        }
    }

    &.inverse {
        background-color: $color-black;
        
        & .slider-block__content {
            transform: translateY(-12rem);
            
        }
        & .title-single {
            color: $color-white !important;
        }
    }

    &.topfade {
        background-color: transparent;
        background-image:  linear-gradient(to top, rgba($color-black, 1) 70%, transparent)
    }

    &__content {
        @include flexPadding;

        max-width: $page-width-full;

        margin-top: 3rem;
        margin-bottom: 3rem;

        &__top {
            display: grid;
            grid-template-columns: 1fr min-content;
            &__title {
            }

            &__nav {
                position: relative;
                display: grid;
                grid-template-columns: min-content min-content;
                column-gap: .8rem;
            }
        }

        &__slider {
            width: 100%;
        }
    }
}


//swiper nav button
.btn-swiper {
    width: 3.6rem;
    height: 3.6rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;

    color: $color-primary;
    box-shadow: $shadow-short-bottom-light;
    transition: all 0.2s;


    &__next {
        svg {
            transform: translateX(1px);
            height: 1.4rem;
            width: 1.4rem;
            stroke: currentColor;
        }
    }

    &__prev {
        svg {
            transform: translateX(-1px) rotate(180deg);
            height: 1.4rem;
            width: 1.4rem;
            stroke: currentColor;
        }
    }

    //border -----------
    &::before {
        content: "";
        transition: all 0.15s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transform-origin: center;
        height: 95%;
        width: 95%;
        border-radius: 50%;
        border: 1px solid $color-grey-light-1a;
    }

    &:hover {
        box-shadow: $shadow-short-bottom;
    }

    &:hover::before {
        height: 100%;
        width: 100%;
        border: 1px solid $color-grey-light-2;
    }
}
