.destination-main {
    display: grid;
    grid-template-columns: $page-container;
    overflow: hidden;
    position: relative;
    margin-bottom: 5rem;

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: $page-container-small;
    }

    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to right, rgba($color-white, 0), rgba($color-white, 0.8)),
            linear-gradient(to top, rgba($color-white, 0.8), rgba($color-white, 0.8)),
            linear-gradient(to top, rgba($color-white, 1) 30%, transparent), url(img/bg/topo-1.png);
        opacity: 0.35;
        top: 0;
        left: 0;
    }
    //after -- fade white up

    &__bg {
        z-index: 0;
        grid-column: col-end 4 / -1;
        grid-row: 1 / -1;
        position: relative;
        & img {
            position: absolute;
            top: 0;
            left: 10%;
            max-height: 100rem;
            max-width: 80rem;
            
        }

        @media only screen and (max-width: $bp-xlargest) {
            & img {
                max-height: 80rem;   
            }
        }
        @media only screen and (max-width: $bp-medium) {
            & img {
                display: none;
            }
        }
    }

    &__intro {
        grid-column: center-start / center-end;
        grid-row: 1 / span 1;

        z-index: 10;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 8rem;
        padding-bottom: 8rem;
        font-size: 1.6rem;

        @media only screen and (max-width: $bp-medium) {
            row-gap: 4rem;
            padding-bottom: 4rem;
        }

        &__description {
            margin-top: 8rem;
            &__title {
                font-size: 3.5rem;
                line-height: 4.3rem;
                color: $color-primary;
                letter-spacing: 0.2rem;
                font-weight: 700;
                margin-bottom: 2rem;
                width: 70%;
                @media only screen and (max-width: $bp-medium) {
                    text-align: center; 
                    width: 100%;

                    font-size: 2.8rem;
                    line-height: 3.5rem;
                }
            }

            &__text {
                line-height: 3.2rem;
                margin-bottom: 5rem;
                width: 70%;
                @media only screen and (max-width: $bp-medium) {
                    line-height: 3rem;
                    text-align: center;
                    width: 100%;
                }
            }

            &__highlights-title {
                font-size: 1.4rem;
                text-transform: uppercase;
                letter-spacing: .2rem;
                font-weight: 600;
                color: $color-primary;
                margin-bottom: 2rem;

                @media only screen and (max-width: $bp-medium) {
                    text-align: center;
                }
            }

            &__highlights {
                list-style: none;
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 2rem;


                @media only screen and (max-width: $bp-medium) {
                    max-width: 85%;
                    margin: 0 auto;
                   
                }
                @media only screen and (max-width: $bp-small) {
                    grid-template-columns: 1fr;

                }

                & li {
                    display: grid;
                    grid-template-columns: min-content 1fr;
                    margin-bottom: 1.2rem;
                    & svg {
                        align-self: flex-start;
                        margin-right: 0.7rem;
                        //margin-top: 0.5rem;
                        height: 2.2rem;
                        width: 2.2rem;
                        fill: $color-primary !important;
                        color: $color-primary !important;
                        stroke-width: 3;
                    }

                    & span p {
                        font-size: 1.4rem;
                        line-height: 2rem;
                    }
                }
            }
        }

        &__lists {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 3rem;
            @media only screen and (max-width: $bp-medium) {
                grid-template-columns: 1fr 1fr;
            }

            &__locations {
                display: none;
                @media only screen and (max-width: $bp-medium) {
                    display: block;
                }

                &__title {
                    text-transform: uppercase;
                    letter-spacing: 0.2rem;
                    font-weight: 700;
                    margin-bottom: 2rem;
                    color: $color-primary;
                }

                &__list {
                    list-style: none;
                    color: $color-grey-2;
                    margin-bottom: 2rem;
                    & li {
                        &:not(:last-child) {
                            margin-bottom: 1rem;
                        }
                        & a {
                            padding: 1rem 0;
                            text-decoration: none;
                            color: currentColor;
                            transition: all 0.3s;
                            &:hover {
                                color: $color-supporting-light;
                            }
                        }
                    }
                }
            }

            &__experiences {
                &__title {
                    text-transform: uppercase;
                    letter-spacing: 0.2rem;
                    font-weight: 700;
                    margin-bottom: 2rem;
                    color: $color-primary;
                }

                &__list {
                    list-style: none;
                    color: $color-grey-2;
                    margin-bottom: 2rem;
                    & li {
                        &:not(:last-child) {
                            margin-bottom: 1rem;
                        }
                        & a {
                            padding: 1rem 0;
                            text-decoration: none;
                            color: currentColor;

                            &:hover {
                                color: $color-grey-1;
                            }
                        }
                    }
                }
            }
        }
    }

    &__packages {
        grid-column: 1 / -1;
        grid-row: 2 / span 1;
        z-index: 10;
        &__header {
            display: grid;
            grid-template-columns: $page-container;
            margin-bottom: 6rem;

            @media only screen and (max-width: $bp-small) {
                grid-template-columns: $page-container-small;
            }

            &__title {
                //margin: 0;
                @media only screen and (max-width: $bp-small) {
                    margin-bottom: 2rem;
                }
            }

            &__sub-text {
                grid-column: center-start / center-end;
                font-size: 1.6rem;
                text-align: center;
            }
        }

        &__best-selling {
            display: flex;
            justify-content: center;
            margin-bottom: 2rem;

            &__slider {
                max-width: 140rem;
                width: 100%;
                margin: 0 6rem;
                position: relative;

                &__btn-left {
                    transform: translateY(-50%);
                    position: absolute;
                    top: 50%;
                    left: 8vw;
                    z-index: 20;

                    @media only screen and (max-width: $bp-large) {
                        left: 2vw;
                    }
                    @media only screen and (max-width: $bp-medium) {
                        left: 0vw;
                        transform: translateY(-50%) scale(0.75);
                    }
                }

                &__btn-right {
                    transform: translateY(-50%);

                    position: absolute;
                    top: 50%;
                    right: 8vw;
                    z-index: 20;

                    @media only screen and (max-width: $bp-large) {
                        right: 2vw;
                    }
                    @media only screen and (max-width: $bp-medium) {
                        right: 0vw;
                        transform: translateY(-50%) scale(0.75);
                    }
                }

                & .slick-slide {
                    margin: 0 1.5rem;

                    @media only screen and (max-width: $bp-medium) {
                        margin: 0 0.75rem;
                    }
                }

                & .slick-list {
                    padding: 0 25% !important;

                    @media only screen and (max-width: $bp-large) {
                        padding: 0 15% !important;
                    }
                    @media only screen and (max-width: $bp-small) {
                        padding: 0 10% !important;
                    }
                }

                & .slick-current {

                    & .wide-slider-card {
                        pointer-events: inherit;
                    }
                    & .wide-slider-card__content {
                        opacity: 1;
                    }

                    & .wide-slider-card::after {
                        opacity: 0;
                    }
                }
            }
        }
    }

    &__experiences-title {

         margin-top: 4rem;
         margin-bottom: 2rem;

    }

    &__experiences-sub-text {
        grid-column: center-start / center-end;
        text-align: center;
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }

    &__experiences {
        grid-column: center-start / center-end;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__lengths {
        margin-top: 4rem;
        //grid-row: 4 / span 1;
        grid-column: center-start / center-end;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
