.destination-accommodations {
    display: grid;
    grid-template-columns: $page-container;
    position: relative;
    grid-column: 1 / -1;
    margin-bottom: 6rem; 
    outline: none;

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: $page-container-small; 
    }

    &__header {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: $page-container;

        margin-bottom: 6rem;
        @media only screen and (max-width: $bp-small) {
            grid-template-columns: $page-container-small; 
        }

        &__title {
            //margin: 0;
            @media only screen and (max-width: $bp-small) {
                margin-bottom: 2rem;
            }
        }

        &__sub-text {
            grid-column: center-start / center-end;
            font-size: 1.6rem;
            text-align: center;
        }
    }

    &__group  {
        
        grid-column: center-start / center-end;
        grid-row: 2 / span 1;
        display: flex;
        width: 100%;

        height: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        justify-items: center;
        align-items: start;

        @media only screen and (max-width: $bp-large) {
            grid-template-columns: 1fr;
        }
    }

    &__btn {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
    }
}