.destination-guides {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    &__header {
        margin-bottom: 0rem;
    }

    &__sub-text {
        text-align: center;
        font-size: 1.6rem;
        margin-top: 1rem;
        margin-bottom: 4rem;

        max-width: $page-width;
        padding: 0 6rem;
        @media only screen and (max-width: $bp-small) {
            padding: 0 3rem;
        }
    
    }

    &__grid-container {
 
        max-width: 140rem;
        padding: 0 6rem;
        @media only screen and (max-width: $bp-small) {
            padding: 0 3rem;
        }

        margin-bottom: 6rem;

        &__grid {

            width: 100%;
            
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            @media only screen and (max-width: $bp-medium) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media only screen and (max-width: $bp-small) {
                grid-template-columns: 1fr;
                row-gap: 1rem;
            } 

            &__item {
                display: grid;
                height: 100%;
                width: 100%;
                height: 40rem;

                cursor: pointer;

                text-decoration: none;
                
                & img {
                    grid-column: 1 / -1;
                    grid-row: 1 / -1;
                    z-index: 0;
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                } 

                &__content {
                    grid-column: 1 / -1; 
                    grid-row: 1 / -1;
                    z-index: 2;
                  
                    display: grid;
                    grid-template-rows: 1fr min-content min-content;
                    background-image: linear-gradient(to top, rgba($color-black, 0.8), rgba($color-black, 0.1) 60%), linear-gradient(to bottom, rgba($color-black, 0.6), rgba($color-black, 0.1) 20%);

                    color: rgba($color-white, .9);

                    padding: 2rem 3rem;
                   

             
                    &__category {
                        font-size: 1.8rem;
                        text-transform: uppercase;
                        letter-spacing: .3rem;
                        font-weight: 600;
                        margin-bottom: 3rem;
                        padding: 1rem 0;
                        color: currentColor;
                        @media only screen and (max-width: $bp-medium) {
                            margin-bottom: 1rem;
                        }
                    }

                    &__title {
                        font-size: 3.2rem;
                        font-family: $font-secondary;
                        letter-spacing: .3rem;
                        font-weight: 400;
                        line-height: 4rem;
                        color: currentColor;
                      
                    }

                    &__link {
                        font-size: 1.8rem;
                        text-transform: uppercase;
                        letter-spacing: .3rem;
                        font-weight: 600;
                        align-self: end;
                        color: currentColor;
                    }
                }

                
            }
        }
    }

    
    &__btn {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        margin-bottom: 4rem;
    }
}
