.destination-secondary {
    display: grid;
    grid-template-columns: $page-container;
    position: relative;
    grid-column: 1 / -1;
    margin-bottom: 6rem;
    outline: none;

    &__header {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: $page-container;

        margin-bottom: 3rem;
        @media only screen and (max-width: $bp-small) {
            grid-template-columns: $page-container-small;
        }

        &__title {
            //margin: 0;
            @media only screen and (max-width: $bp-small) {
                margin-bottom: 2rem;
            }
        }

        &__sub-text {
            grid-column: center-start / center-end;
            font-size: 1.6rem;
            text-align: center;
            //margin-top: 1rem;
            @media only screen and (max-width: $bp-small) {
                margin-top: 1rem;
            }
        }
    }

    &__best-selling {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        //margin: 0 10rem;
        margin-bottom: 4rem;

        @media only screen and (max-width: $bp-small) {
            //margin-: 3rem;
            margin-bottom: 2rem;
        }
        &__slider {
            width: 100%;
            max-width: 140rem;

            z-index: 10;

            //side padding
            padding: 0 9rem; //extra +3 for buttons
            @media only screen and (max-width: $bp-small) {
                padding: 0rem;
            }

            .slick-slide {
                margin: 1.5rem;

                min-width: 0;

                @media only screen and (max-width: $bp-large) {
                    margin: .5rem;

                }
            }
        }
    }

    &__btn {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
