.guide-hero {
    @include flexBlock;
    @include pageTopPadding;

    &__content {
        width: 100%;
        max-width: $page-width;
        @include flexPadding;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title-area {
            max-width: 80rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            &__category {
                font-size: 1.8rem;
                font-weight: 600;
                color: $color-gold;
                margin-bottom: 1rem;

                @media only screen and (max-width: $bp-small) {
                    font-size: 1.4rem;
                }
            }
            &__title {
                font-size: 5rem;
                line-height: 5.5rem;
                font-weight: 700;
                color: $color-primary;
                margin-bottom: 1rem;

                @media only screen and (max-width: $bp-small) {
                    font-size: 3rem;
                    line-height: 3.5rem;
                }
            }
            &__sub {
                font-size: 1.8rem;
                color: $color-primary;
            }

            &__stats {
                justify-content: center;
                display: grid;
                grid-template-columns: max-content max-content max-content;
                gap: 1rem;
                font-size: 1.3rem;
            }
        }

        &__image-area {
            margin-top: 3rem;
            margin-bottom: 2rem;
            & img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 1rem;
            }
        }
    }
}


