.guide-hero {
    @include flexBlock;
    @include pageTopPadding;

    &__content {
        z-index: 2;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: $page-width-full;
        @include flexPadding;

        &__category {
            font-size: 1.6rem;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            color: $color-gold;
            text-align: center;
            font-weight: 500;
            margin-bottom: 3rem;
        }

        &__title {
            font-size: 5rem;
            line-height: 5.8rem;
            color: $color-primary;
            font-weight: 500;
            letter-spacing: 0.2rem;
            text-align: center;
            margin-bottom: 1rem;

            @media only screen and (max-width: $bp-small) {
                font-size: 3.5rem;
                line-height: 4rem;
                margin-bottom: 1rem;
            }
        }

        &__image {
           
            & img {
                object-fit: cover;
                height: 100%;
                width: 100%;
                box-shadow: $shadow-medium;
                border-radius: 1rem;
            }
            margin-bottom: 3rem;
        }

        &__breadcrumb {
            margin-bottom: 2rem;
            font-size: 1.2rem;
            letter-spacing: 0.1rem;
            justify-self: flex-start;
            font-weight: 400;

            justify-content: center;

            display: flex;
            position: relative;
            list-style: none;
            height: max-content;
            width: 100%;
            max-width: max-content;

            flex-wrap: wrap;

            color: $color-supporting;

            & li {
                display: inline-block;
                width: max-content;
                &:not(:last-child):after {
                    content: " / ";
                    padding-left: 1px;
                    padding-right: 4px;
                }

                & a {
                    position: relative;
                    text-decoration: none;
                    color: currentColor;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -0.3rem;
                        left: 0;
                        width: 97%;
                        height: 1px;
                        background-color: currentColor;
                        transition: all 0.2s;
                        opacity: 0;
                    }

                    &:hover {
                        &::after {
                            color: currentColor;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}
