.error404-page {
    padding-top: 9rem;

    @media only screen and (max-width: $bp-large) {
      padding-top: 7rem;
    }
  
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    &__content {



      width: 100%;
      max-width: $page-width;

     
      padding: 3rem 0;
      height: 60rem;

      @media only screen and (max-width: $bp-small) {
        height: 50rem;
      }

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 100%;
      max-width: $page-width;
      align-items: center;
      
      @include flexPadding;

      &__title {
          font-size: 4rem;
          color: $color-primary;
          text-align: center;
      }

      &__subtitle {
        font-size: 2rem;
        color: $color-primary;
        text-align: center;
      }

      &__image-area {
        display: flex;
        justify-content: center;
        padding: 4rem;
        & svg {
          height: 12rem;
          width: 12rem;
          fill: $color-primary;

        }
      }

      &__snippet {
          font-size: 2rem;
          text-align: center;
      }

      &__links {
        font-size: 1.6rem;
        text-align: center;
      }

    }
}