.destination-page {
    &__section-hero {
        background-color: $color-primary-dark;
    }

    &__section-intro {

    }

    &__section-main {

    }

    &__section-secondary {

    }

    &__section-accommodations {

    }

    &__section-travel-guides {
   
        margin-top: 4rem; 
        margin-bottom: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    &__section-testimonials {
  
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    &__section-faq {
        padding-top: 4rem;
        background-color: $color-grey-light-1;
    }
}


