.experience-page {
    &__section-hero {
        background-color: $color-primary-dark;
    }

    &__section-intro {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__section-region {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__section-newsletter {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

        @media only screen and (max-width: $bp-large) {
            & .newsletter {
                margin: 6rem 0;
            }
        }

        @media only screen and (max-width: $bp-medium) {
            & .newsletter {
                margin: 2rem 0;
                margin-bottom: 10rem;
            }
        }
    }
}
